@import '../../css/variables/color.less';

.pageinationWrapper {
  display: flex;
  justify-content: center;
  margin: 60px 0;

  .iconWrapper {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50%;

    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }

    &.disabled {
      cursor: unset;
      color: #ccc;

      &:hover {
        background: #fff;
      }
    }
  }

  .pagesList {
    list-style: none;
    display: flex;
    align-items: center;

    .pagesItem {
      width: 32px;
      height: 32px;
      font-size: 16px;
      line-height: 32px;
      cursor: pointer;
      margin: 0 5px;
      border-radius: 50%;
      text-align: center;
      display: block;

      &:hover {
        background: rgba(0, 0, 0, 0.03);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }

    .ellipsis {
      user-select: none;
    }
  }
}
