@import "../include_media";

.notification {
  height: 43px;
  line-height: 43px;
  background: rgba(78, 184, 240, 0.3);
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 90;
  width: 100%;
  text-align: center;
  transition: opacity 0.3s;
  opacity: 1;
  color: #0A6599;
}

.notification a {
  padding: 0 6px;
  color: #0A6599;
}

.notification .wrapper {
  position: relative;
}

.notification svg {
  position: absolute;
  right: 25px;
  top: 20px;
  width: 10px;
  cursor: pointer;
}

.notification path {
  fill: #B0B0B9;
}