.notification {
  display: flex;
  height: 43px;
  line-height: 43px;
  background: rgba(78, 184, 240, 0.3);
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 90;
  width: 100%;
  transition: opacity 0.3s;
  opacity: 1;
  color: #0a6599;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  a {
    padding: 0 6px;
    color: #0a6599;
  }
}
