@import "../include_media";

.notification {
  display: flex;
  height: 43px;
  line-height: 43px;
  background: rgba(78, 184, 240, 0.3);
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 90;
  width: 100%;
  transition: opacity 0.3s;
  opacity: 1;
  color: #0A6599;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.notification a {
  padding: 0 6px;
  color: #0A6599;

}

.notification .wrapper {
  position: absolute;
  width: 100%;
  transition: all 1s linear;

  &.slack-hide {
    transform: translate3d(-100%, 0, 0);
  }

  &.version {
    transform: translate3d(100%, 0, 0);
  }

  &.version-show {
    transform: translate3d(0, 0, 0);
  }
}

.notification svg {
  position: absolute;
  right: 25px;
  top: 20px;
  width: 10px;
  cursor: pointer;
}

.notification path {
  fill: #B0B0B9;
}