@import url('@/styles/global.module.less');

@sizing-result-cell-width: 65px;

.tooltipTrigger {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dashed @color-black3;
  }
}

.commonLabel {
  font-family: 'Geist Mono';
  .paragraph4-bold();
}

.selectItem {
  font-family: 'Geist Mono';
  .paragraph6();
}

.selectTrigger {
  font-family: 'Geist Mono';
  .paragraph6-regular();
  padding: 9px 12px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid @color-black3;
  background: #fff;

  &:hover {
    border-color: @color-black2;
  }

  &:focus {
    border-color: @color-black1;
  }
}

.flexRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.marginBtm20 {
  margin-bottom: 20px;
}

.marginBtm0 {
  margin-bottom: 0;
}

.paddingBtm20 {
  padding-bottom: 20px;
}

div.averageLabel {
  margin-bottom: 8px;
}

.font14Bold {
  .paragraph4-bold();
}

.font16Bold {
  .paragraph3-bold();
}

.formSection {
  .tooltipLink {
    color: #fff;
    text-decoration: underline;
  }

  .singlePart {
    border-bottom: 1px solid #ececee;
    margin-bottom: 24px;
    padding-bottom: 24px;

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .commonLabel {
    .paragraph4();
    margin-bottom: 8px;
  }

  .smallerLabel {
    .paragraph4();
  }

  .innerRow {
    margin-top: 20px;
  }

  .offLoadingDesc {
    .paragraph6-regular;
    color: #2e373b;

    a {
      color: #2e373b;
      text-decoration: underline;
    }
  }

  .switchRow {
    margin-bottom: 20px;
  }

  .collapsible {
    overflow: hidden;
    height: fit-content;
    padding-top: 16px;
  }

  .visibleCollapse {
  }
  .invisibleCollapse {
    height: 0;
    padding-top: 0;
  }

  .indexParamLabel {
    .paragraph6-regular();
  }

  .radioGroup {
    display: flex;
    gap: 20px;
    align-items: center;

    .radioItemLabel {
      .paragraph4-regular();
    }
  }

  .cardsWrapper {
    display: flex;
    gap: 12px;

    .card {
      flex: 1;
      border-radius: 10px;
      border: 1px solid @color-black3;
      background: #fff;
      cursor: pointer;

      &:hover {
        border-color: @color-black2;
      }
    }

    .dependencyCard {
      .flexRow();
      padding: 3px 12px;
      justify-content: center;
      align-items: center;
      gap: 4px;

      svg {
        width: 28px;
        height: 28px;
      }

      .depName {
        .paragraph4-regular();
      }
    }
    .modeCard {
      padding: 12px;
      .flexColumn();

      .modeName {
        .paragraph4();
      }

      .modeDesc {
        .paragraph6-regular();
        text-align: left;
      }

      .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -99;
        visibility: hidden;
        pointer-events: none;
      }
    }

    .disabledCard {
      position: relative;
      color: @color-gray;
      cursor: not-allowed;

      .mask {
        cursor: not-allowed;
        z-index: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    .activeCard {
      border-color: @color-blue1;

      &:hover {
        border-color: @color-blue1;
      }

      svg path {
        fill: @color-blue1;
      }
    }

    .switchLabel {
      .paragraph4();
    }
  }
}

.resultContainer {
  font-family: 'Geist Mono';

  .commonKeyLabel {
    .paragraph6-regular();
    color: @color-black2;
  }
  .commonValueLabel {
    .paragraph6-bold();
    color: @color-black1;
    width: @sizing-result-cell-width;
  }

  .substantialWrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 20px;
    margin-bottom: 24px;
    background-color: #e0f2fc;
    border-radius: 12px;

    .substantialTip {
      .paragraph6-regular();

      a {
        color: #000;
        text-decoration: underline;
      }
    }
  }

  .dataSection {
    margin-bottom: 40px;
  }

  .sectionLabel {
    .paragraph3-bold();
    margin-bottom: 16px;
  }

  .dataCardName {
    .paragraph4-bold();
    margin-bottom: 4px;
  }

  .sectionLabelBar {
    .flexRow();
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .title {
      .paragraph3-bold();
    }

    .buttonWrapper {
      display: flex;
      align-items: center;
      gap: 4px;

      &:hover {
        text-decoration: underline solid #000;
      }

      span {
        .paragraph5();
        color: #000;
      }
    }
  }

  .totalDataContent {
    background-color: @color-white1;
    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 40px;
  }
  .dataSummary {
    display: flex;
    border-bottom: 1px solid @color-black4;
    padding: 0 20px 20px 20px;
    gap: 20px;

    .summaryCard {
      flex: 1;
      padding: 0px;
    }
  }

  .commonCollapseTitle {
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;

    .collapseTitle {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media @phone {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        justify-content: center;
      }

      .titleName {
        .paragraph3-bold();
      }
      .titleOverview {
        .paragraph3();

        .valueInfo {
          .paragraph3-bold();
          color: @color-blue2;
          letter-spacing: 150%;
        }
      }
    }
    .collapseIcon {
      flex: 0 0 21px;
      transform: rotate(0deg);
      transition: transform 0.2s linear;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .activeIcon {
      transform: rotate(180deg);
    }
  }

  .milvusDataDetail {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    padding: 0 24px;

    .detailCard {
      flex: 1;
    }

    .descLabel {
      .paragraph3-regular();
    }

    .descValue {
      .paragraph3();
      color: @color-blue2;
    }

    .valueInfo {
      .paragraph3();
      color: @color-blue2;
      letter-spacing: 150%;
    }
  }

  .depDataItem {
    flex: 1;
  }
  .installButton {
    .paragraph4();
    padding: 8px 0;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
    border-color: @color-black3;
  }
  .installCodeWrapper {
    padding: 24px 38px 24px 24px;
    background-color: @color-white1;
    border-radius: 16px;
    position: relative;
    margin-bottom: 8px;

    code {
      .paragraph6-regular();
      display: block;
      width: 100%;
      overflow-x: auto;
    }

    .copyBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      padding: 0;
      margin: 0;
      outline: none;
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
  .installationSection {
    .sectionTitle {
      .paragraph3-bold();
      margin-bottom: 16px;
    }

    .advCard {
      .paragraph4-regular();
      padding: 12px 24px;
      border-radius: 12px;
      background: linear-gradient(
        91deg,
        rgba(208, 131, 255, 0.2) 0.09%,
        rgba(142, 221, 255, 0.2) 100.63%
      );

      a {
        color: #000;
        text-decoration: underline;
      }
    }

    .advCard + .advCard {
      margin-top: 40px;
    }
  }
}

.dataCard {
  width: 100%;
  border-radius: 12px;

  .dataName {
    .paragraph4-bold();
    margin-bottom: 6px;
  }

  .dataInfo {
    .paragraph3();
    color: #008dc8;
  }

  .dataDesc {
  }

  .dataCount {
    .paragraph3-regular();
    margin-top: 6px;
  }

  .largeName {
  }
  .largeData {
    .heading4();
  }
}

.dependencyDetailContainer {
  margin-top: 16px;
  .firstRow {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .card {
      flex: 1;
      padding: 0 16px;

      .dataDesc {
        .paragraph3-regular();

        span {
          font-weight: 500;
          color: @color-blue2;
        }
      }
    }
  }
}

.configContainer {
  padding: 0 24px;

  svg {
    width: 18px;
    height: 18px;
  }

  .configName {
    .paragraph4-bold();
    margin-bottom: 8px;
  }

  .configList {
    display: flex;
    gap: 16px;
    list-style: none;

    .configItem {
      flex: 1;
      display: flex;
      flex-direction: column;

      .columnName {
        .paragraph4();
        margin-bottom: 4px;
      }

      .columnValue {
        .paragraph4();
        color: @color-blue2;
      }

      .columnList {
        list-style: none;

        .columnItem {
          margin-right: 4px;

          .columnLabel {
            .paragraph4-regular();
            margin-right: 6px;
          }
        }
      }
    }
  }
}
