.cardContainer {
  flex: 1;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  }

  .titleBar {
    background-color: transparent;
    // position: absolute;
    // left: 0;
    // bottom: 100%;
    // height: 56px;
    // width: 100%;

    .title {
      color: #fff;
      width: 75%;
      background: #156cdd;
      border-radius: 0px 20px 0px 0px;
      font-family: Inter Medium;
      padding: 12px 24px;
      font-weight: 600;
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    flex: 1;

    .topSection {
      flex: 1;

      img {
        width: 100%;
      }
    }

    .bottomSection {
      flex: 1;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px;

      .description {
        margin-bottom: 40px;

        font-size: 14px;
        line-height: 22px;
      }

      .buttonWrapper {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // padding: 0 24px 24px;

        .tryBtn {
          margin-left: 24px;
          button {
            padding: 8px 16px;
          }

          .tryBtnLabel {
            margin-right: 8px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            font-family: Inter;
          }
        }
        .playBtn {
          .playBtnLabel {
            font-family: Inter;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            margin-left: 8px;
          }
        }
      }
    }
  }
}
