:root {
  --color-text: #1493cc;
  --color-primary: #00a1ea;
  --color-secondary: #65f8c3;
  --color-overlay: rgba(0, 0, 0, 0.12);
  --color-dark: #010e29;
  --color-highlight: #4fc4f9;
  --color-btn-hover: #0077ad;
  --color-btn-press: #009ade;
  --color-card-border: #e9e9ed;
  --color-doc-primary: #1493cc;
  --color-default-bg: #fafafa;
  --color-default-text: #434548;
  --color-default-link: #191919;
  --color-anchor-link: #0093c6;
  --color-gray: rgb(153, 153, 153);
  --color-dislike: #f25c05;
  --color-tag-gray: #afafaf;
  --color-grey-01: #4c5a67;
  --color-grey-02: #9ca6b2;
  --color-grey-03: #c5ccd6;
  --color-grey-04: #eaeef2;
  --color-grey-05: #f5f8fb;
  --color-text-blue: #1493cc;
  --color-icon-blue: #4fc4f9;
  --color-bg-blue: #eff9fe;
  --color-btn-blue: #00a1ea;
  --color-black: #000000;
  --color-white: #ffffff;
}
