.fontReg {
  font-family: Inter;
  &:lang(zh-cn) {
    font-family: Noto Sans SC;
    font-weight: 400;
  }
}

.fontMid {
  font-family: Inter SemiBold;
  &:lang(zh-cn) {
    font-family: Noto Sans SC;
    font-weight: 500;
  }
}

.fontBold {
  font-family: Inter Bold;
  &:lang(zh-cn) {
    font-family: Noto Sans SC;
    font-weight: 700;
  }
}

.fontSwitch {
  font-family: Inter;
  &:lang(zh-cn) {
    font-family: Noto Sans SC;
  }
}
