@import '../../../../css/variables/color.less';

.mobileMenuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;

  .link {
    width: 100%;
    display: block;
    background: #fff;
    color: @color-primary;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid #eee;
    &:hover {
      background-color: #06aff2;
      color: #fff;
    }
  }

  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #fff;
    }

    .langBtn {
      box-sizing: content-box;
      width: 46px;
      height: 20px;
      line-height: 20px;
      border-radius: 4px;
      padding: 3px 5px;
      cursor: pointer;
      &:first-child {
        margin-right: 16px;
      }
      span {
        color: @color-primary;
      }
    }

    .active {
      background-color: #06aff2;

      span {
        color: #fff;
      }
    }
  }
}
