@import url('@/styles/global.module.less');

.sectionContainer {
  padding-top: 40px;
  padding-bottom: 100px;

  .milvusWrapper {
    width: 460px;
    max-width: 100%;
    margin: 0 auto -60px;

    img {
      width: 100%;
    }
  }

  .title {
    .heading2();
    max-width: 840px;
    text-align: center;
    margin: 0 auto 40px;

    span {
      color: @color-blue1;
    }
  }
}
.socialMediasContainer {
  width: fit-content;
  margin: 0 auto 100px;
  gap: 20px;

  @media @tablet, @phone {
    margin: 0 auto 60px;
    gap: 12px;
  }

  a.customIconButton {
    width: 60px;
    height: 60px;
  }
}
