[submodule "src/pages/docs/versions/master"]
	path = src/pages/docs/versions/master
	url = https://github.com/milvus-io/docs.git
	branch = master
[submodule "static/benchmarks"]
	path = static/benchmarks
	url = https://github.com/milvus-io/benchmarks.git
	branch = 0.10.0
