@import url('@/styles/global.module.less');

.sectionContainer {
  padding-top: 60px;
  padding-bottom: 60px;

  .titleWrapper {
    max-width: 900px;
    margin: 0 auto 40px;
    text-align: center;

    h2 {
      .heading2();
      margin-bottom: 12px;
      color: @color-black1;
    }

    p {
      .paragraph2-regular();
      color: @color-black2;
      font-family: 'Geist Mono';
    }
  }

  .listViewArea {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 32px;

    &::-webkit-scrollbar {
      display: none;
    }

    .stacksList {
      display: flex;
      gap: 12px;
      transition: transform linear 0.4s;

      .stackItem {
        flex: 0 0 382px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
        padding: 30px;
        border-radius: 16px;
        border: 1px solid @color-black4;
        background: #fff;

        .logoWrapper {
          display: block;
          width: 100%;
          margin-bottom: 24px;
          text-align: center;

          img {
            width: 100%;
          }
        }

        .stackTitle {
          .heading4();
        }

        .stackDesc {
          .paragraph4-regular();
          color: @color-black2;
        }
      }
    }
  }

  .ctaButtonWrapper {
    display: flex;
    gap: 8px;
    justify-content: center;

    .ctaButton {
      .resetNativeButton();
      line-height: 0;
      padding: 10px;
      border: 1px solid @color-black4;
      border-radius: 50%;
      background-color: #fff;

      &:not(:disabled):hover {
        svg {
          opacity: 0.5 !important;
        }
      }

      &:disabled {
        background-color: @color-black4;
      }
    }

    .leftButton {
      transform: rotate(180deg);
    }
  }

  &.meetupContainer {
    margin-top: 0;
  }

  .meetupBgContainer {
    border: 1px solid @color-black4;
    border-radius: 16px;
  }

  .meetupWrapper {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 16px;

    @media @phone {
      flex-direction: column;
      align-items: flex-start;
      gap: 14px;
      padding: 18px;
    }

    .contentWrapper {
      display: flex;
      align-items: center;
      gap: 24px;

      @media @phone {
        flex-direction: column;
        gap: 14px;
        align-items: flex-start;
      }

      img {
        width: 100px;
      }

      h3 {
        .heading4();
        margin-bottom: 4px;
        color: @color-black1;
      }

      p {
        .paragraph2-regular();
        color: @color-black2;
        max-width: 500px;
      }
    }
  }

  a.linkButton {
    font-size: 14px;
    width: fit-content;
  }

  a.rsvpButton {
    .paragraph4();
    flex-shrink: 0;
    padding: 9px 28px;
  }

  .linkButtonIcon {
    transform: rotate(315deg);
  }
}
