@import '../../../../css/variables/color.less';

.navSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .navItem {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    padding: 10px 16px;
    width: 100%;

    & + .navItem {
      margin-top: 4px;
    }
  }

  .dropDown {
    margin-top: 4px;
    padding: 10px 0;
    width: 100%;

    .mobileSelector {
      outline: none;

      .labelWrapper {
        text-align: left;
        padding: 0 16px;
      }

      .optionsWrapper {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        left: 0;
        right: 0;
        max-height: 300px;
        overflow-y: auto;
        z-index: -1;

        .active {
          background-color: @color-btn-hover;
        }

        .optionItem {
          padding: 8px 48px;
          text-align: left;
        }
      }
    }
  }
}
