@import "../../css/variables/color.less";

.adjustableMenuContainer {
  width: fit-content;
  min-width: 44px;

  position: fixed;
  left: 0;
  bottom: 0;
  top: 79px;
  z-index: 99;

  .floatContainer {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s linear;
    will-change: width;

    &:hover {
      .invisibleIcon {
        opacity: 1;
        visibility: visible;
      }
    }

    &.float {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: auto;
    }
  }

  .content {
    flex: 1;
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    padding-top: 16px;
    transition: width 0.3s linear, opacity 0.3s linear;
    will-change: width, opacity;

    &.expandTransition {
      opacity: 1;
      width: 282px;
    }

    &.collapseTransition {
      opacity: 0;
      width: 20px;
    }
  }

  .lineWrapper {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 24px;
    background-color: transparent;
    position: relative;
    text-align: left;
    border-left: 1px solid @color-grey-04;

    .iconWrapper {
      display: flex;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      color: #00a1ea;
      position: absolute;
      left: -12px;
      top: 30px;

      svg {
        pointer-events: none;
      }

      &:hover {
        background-color: #00a1ea;
        color: #fff;
      }
    }

    .dragLine {
      height: 100%;
      display: inline-block;
    }
    .show {
      opacity: 1;
      visibility: visible;
    }
  }
}
