@import '../include_media';
@import '../../utils/cssVariables.scss';

.mini-menu-control {
  position: fixed;
  bottom: 80px;
  left: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #000;
  z-index: 1000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.menu-container {
  position: fixed;
  box-sizing: border-box;
  color: #fafafa;
  overflow: auto;
  line-height: 1.2rem;
  background: #f1f1f1; //#f7f9fa;

  * {
    transition: all 0.2s;
  }

  .select-wrapper {
    padding-left: 1rem;
  }

  .text {
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }

  @include media('<=1000px') {
    &.hide {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @include scroll-bar;

  // .title {
  //   padding: 30px 0 10px;
  //   font-size: 26px;
  //   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  //
  //   @include media("<=1000px") {
  //     font-size: 18px;
  //   }
  // }

  // .close {
  //   position: absolute;
  //   top: 10px;
  //   right: 10px;
  //   font-size: 10px;
  // }

  .menu-top-level {
    margin-bottom: 0.1rem;
    box-sizing: border-box;
    padding-bottom: 1rem;

    .text {
      color: #000000;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
    }

    > .menu_name-wrapper {
      padding: 0.45rem 1rem;
      transition: 0.2s all linear;

      &.active {
        background-color: #fff;
      }
    }

    .menu_name-wrapper {
      font-size: 16px;

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
      }

      @include media('<=1000px') {
        margin-bottom: 20px;
      }
    }
  }

  .menu-child {
    color: var(--color-primary);
    padding: 0.25rem 1rem;

    .text {
      margin-left: 0.5rem;
      font-weight: normal;
    }

    &.active {
      background-color: rgba(79, 196, 249, 0.25);

      .text {
        opacity: 1;
      }
    }

    .menu_name-wrapper {
      .text {
        font-size: 0.8rem;
      }
    }
  }

  .menu-last-level {
    padding-left: 1rem;

    .text {
      color: #000000;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 16px;
      font-weight: normal;
    }

    &.active {
      background-color: rgba(79, 196, 249, 0.25);

      .menu_name-wrapper {
        .text {
          font-weight: bold;
        }
      }
    }

    .menu_name-wrapper {
      margin-bottom: 0px !important;
      letter-spacing: 0;
      font-size: 14px;
    }
  }

  .menu-child-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s;

    &.open {
      max-height: 1000px;
      transition: max-height 0.6s;
      background-color: #f5f5f5;
    }

    .menu_name-wrapper {
      padding: 0.2rem 0;
      font-size: 1rem;

      @include media('<=1000px') {
        margin-bottom: 0.2rem;

        &:lang(en) {
          font-size: 14px;
        }

        &:lang(cn) {
          font-size: 14px;
        }
      }
    }
  }

  .menu_name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .outlink {
    display: flex;
    align-items: center;
  }

  .fas {
    position: relative;
    margin-right: 6px;
    font-size: 0.7rem;
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1rem;
    color: #000;
  }

  .arrow {
    transform: rotate(180deg);
    color: #000;

    &.top {
      transform: rotate(0);
    }

    &:hover {
      opacity: 1;
    }

    @include media('<=1000px') {
      font-size: 14px;
    }
  }

  &-new {
    background-color: #fff;
    display: flex;
    flex-direction: column;

    padding-top: 32px;
    margin-left: 40px;

    font-family: Inter Regular;

    .arrow {
      font-size: 16px;
      transform: rotate(360deg);
      color: $docPrimary;

      &.top {
        transform: rotate(270deg);
      }

      &:hover {
        opacity: 1;
      }

      @include media('<=1000px') {
        font-size: 14px;
      }
    }

    .search {
      display: inline-block;
      -webkit-appearance: none;

      outline: none;
      border: 1px solid rgba(196, 196, 196, 0.5);
      border-radius: 8px;

      box-sizing: border-box;
      padding: 10px 16px;
      margin-bottom: 24px;

      color: $dark;
      font-size: 14px;
      line-height: 16px;

      transition: border-color 0.2s ease;

      &::placeholder {
        color: #aeaebb;
      }

      &:focus {
        border-color: $docPrimary;
        outline: none;
      }
    }

    .expand-icon {
      margin-left: 8px;
      transition: all 0.2s;
    }

    .menu_name-wrapper {
      padding: 8px 0;
      border-bottom: 1px solid rgba(196, 196, 196, 0.5);

      .text {
        font-family: Inter Regular;
        color: #191919;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
      }
    }

    .menu-child-wrapper {
      transition: max-height 0.3s;
      &.open {
        background-color: #fff;
        transition: max-height 0.3s;
      }

      .menu_name-wrapper {
        justify-content: flex-start;
        border: none;

        .text {
          font-family: Inter Regular;
        }

        &:hover {
          color: $docPrimary;

          .text {
            color: $docPrimary;
          }
        }
      }
    }

    .menu-top-level {
      > .menu_name-wrapper {
        padding: 8px 0;

        &.active {
          border-bottom: none;

          .text {
            color: $docPrimary;
            font-family: Inter Regular;
          }
        }
      }
    }

    .menu-child {
      padding-left: 0;

      &-3 {
        margin: 0 16px;
      }

      &.active {
        background-color: #f9f9f9;

        .menu_name-wrapper {
          .text {
            color: $docPrimary;
          }
        }
      }
    }
  }
}
