@import '../css/variables/responsive.less';
@import '../css/variables/color.less';
@import '../css/variables/fontStyle.less';

@sidebar-width: 250px;
@sidebar-left-margin: 40px;
@header-height: 90px;
@footer-height: 48px;
@anchor-width: 280px;

.bootcampContainer {
  @media @tablet {
    padding: 16px 16px 82px;
  }

  .mainContainer {
    width: 100%;
    max-width: @screen-lg-max;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 90px auto 0;

    .sidebar {
      position: fixed;
      bottom: @footer-height;
      top: @header-height;
      width: @sidebar-width;
      margin-left: @sidebar-left-margin;

      @media @tablet {
        bottom: 136px;
        left: 25px;
        width: 70vw;
        z-index: 1000;

        margin-left: 0;
      }
    }

    .content {
      margin-left: calc(40px + 250px + 64px);
      margin-top: 32px;

      @media @tablet {
        margin-left: 0;
      }
    }
    .container {
      margin-bottom: 44px;

      @media @tablet {
        margin-bottom: 34px;
      }

      @media @phone {
        margin-bottom: 24px;
      }
    }

    .title {
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 20px;
      .fontBold();

      @media @tablet {
        padding: 14px 0;
        font-size: 16px;
        line-height: 24px;
      }

      @media @phone {
        padding: 8px 0;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .solutionsWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      list-style: none;

      @media @tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 16px;
      }

      @media @phone {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 0px;
      }
    }
  }
}
