@import "../css/variables/responsive.less";
@import "../css/variables/color.less";
@import "../css//variables/fontStyle.less";

// local variables
@sidebar-width: 250px;
@sidebar-left-margin: 40px;
@header-height: 90px;
@footer-height: 48px;
@anchor-width: 280px;
@color-primary: #1493cc;

.community-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Inter;
  height: 100vh;

  main {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: @header-height auto 0;
    width: 100%;
    max-width: @screen-desktop1920;

    .sidebar {
      position: fixed;
      bottom: @footer-height;
      top: @header-height;
      width: @sidebar-width;
      margin-left: @sidebar-left-margin;

      @media @tablet {
        bottom: 136px;
        left: 25px;
        width: 70vw;
        z-index: 1000;

        margin-left: 0;
      }
    }

    .content {
      // space between content and menu: 64px
      margin-left: calc(@sidebar-left-margin + @sidebar-width + 32px);
      margin-top: 32px;
    }

    .home {
      margin-right: 80px;
      box-sizing: border-box;
      .fontSwitchInter();

      @media @tablet {
        margin: 32px 32px 0;
      }

      @media @phone {
        margin: 16px 16px 0;
      }

      h2 {
        margin-bottom: 16px;

        font-family: "Inter Bold";
        font-size: 24px;
        line-height: 32px;
        color: @color-dark;
        font-weight: 600;

        @media @tablet {
          margin-bottom: 8px;

          font-size: 16px;
          line-height: 24px;
        }
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-family: Inter;

        @media @phone {
          font-size: 14px;
          line-height: 20px;
        }
      }

      .banner-section {
        margin-bottom: 64px;

        @media @phone {
          margin-bottom: 32px;
        }

        img {
          width: 100%;
        }
      }

      .about-section {
        margin-bottom: 64px;

        .about-content {
          margin-bottom: 40px;
        }

        .about-list {
          background: #f9f9f9;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 48px;
          grid-row-gap: 48px;
          padding: 16px 32px;
          list-style: none;

          @media @phone {
            grid-template-columns: 1fr;
            grid-column-gap: 24px;
            grid-row-gap: 24px;
          }
        }
      }

      .recommend-section {
        margin-bottom: 64px;

        h3 {
          font-family: Inter SemiBold;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 8px;
          color: #010e29;
        }

        .list-wrapper {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin-bottom: 80px;

          @media @tablet {
            flex-wrap: wrap;
          }

          .list-wrapper-item {
            margin-bottom: 32px;

            @media @tablet {
              margin-bottom: 24px;
              width: 50%;
            }

            @media @phone {
              width: 100%;
              margin-bottom: 16px;
            }
          }

          .recommend-list {
            padding-left: 16px;
            color: @color-primary;

            li {
              font-size: 16px;
              line-height: 24px;

              & + li {
                margin-top: 8px;
              }
            }

            a {
              color: @color-primary;
            }
          }
        }

        .ambassador-wrapper {
          background-color: #fff;
          padding: 0 137px 24px;
          display: flex;
          flex-direction: column;
          align-items: center;

          @media @tablet {
            padding: 0 32px 32px;
          }

          .ambassadorImg {
            width: 180px;
            height: auto;
            margin-bottom: 16px;
          }

          .ambassador-title {
            margin-bottom: 16px;
            font-size: 24px;
            line-height: 24px;
            font-weight: bold;
            text-align: center;
          }

          .ambassador-content {
            width: 100%;
            margin-bottom: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          .join-button > a {
            padding: 8px 16px;
          }

          .ambassador-btn {
            font-size: 14px;
            line-height: 24px;
            font-weight: Bold;
          }

          .introduction-button {
            margin-top: 16px;

            .label {
              margin-right: 11px;
            }
          }
        }
      }

      .mail-section {
        margin-bottom: 64px;

        .mail-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 20px;

          @media @tablet {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 20px;
          }

          @media @phone {
            grid-template-columns: 1fr;
          }

          .card {
            padding: 36px;
            text-align: center;
            display: flex;
            align-items: center;

            @media @tablet {
              padding: 16px;
              text-align: start;
            }

            .mail-wrapper {
              display: flex;
              align-items: center;

              @media @tablet {
                font-size: 16px;

                display: flex;
                align-items: center;
              }

              img {
                width: 24px;
                height: 24px;
              }

              p {
                font-size: 20px;
                line-height: 28px;
                font-weight: 600;
                color: @color-doc-primary;
                white-space: pre-wrap;
                margin-left: 16px;
                text-align: left;

                @media @tablet {
                  margin-left: 8px;
                  font-size: 16px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      .community-section {
        margin-bottom: 64px;

        h2 {
          margin-bottom: 60px;
        }

        .community-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          @media @tablet {
            flex-wrap: wrap;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 32px;
          }

          @media @phone {
            flex-wrap: wrap;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 32px;
          }

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            img {
              width: 160px;
              height: 130px;
            }

            a {
              color: @color-primary;
              text-decoration: underline;
              .fontMedi();
            }
          }
        }

        .contributor-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(5, 1fr);

          @media @tablet {
            flex-wrap: wrap;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 32px;
          }

          @media @phone {
            flex-wrap: wrap;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 32px;
          }

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            a {
              color: @color-primary;
              text-decoration: underline;
              .fontMedi();
            }

            .avatar-wrapper {
              width: 130px;
              height: 130px;
              border-radius: 50%;
              overflow: hidden;
              margin-bottom: 16px;

              & > img {
                width: 100%;
                height: 100%;
              }
            }

            .name {
              font-size: 24px;
              line-height: 30px;
              display: inline-block;
              font-weight: 600;
              margin-bottom: 8px;
            }

            .info {
              font-size: 14px;
              line-height: 20px;
              display: inline-block;
              font-weight: 500;

              & + .info {
                margin-top: 8px;
              }
            }
          }
        }
      }

      .resource-section {
        margin-bottom: 64px;

        .resource-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 55px;

          @media @phone {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
          }

          li {
            padding: 24px;
            border: 1px solid #eee;
            border-radius: 4px;

            &:hover {
              box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
            }
          }
        }
      }

      .patner-section {
        margin-bottom: 110px;

        .patner-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-row-gap: 56px;
          grid-column-gap: 40px;

          @media @phone {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 28px;
            grid-column-gap: 20px;
          }

          li {
            img {
              max-width: 100%;
            }
          }
        }
      }
    }

    .articles {
      // sidebari:margin-left: 40px padding-left: 32px
      max-width: calc(100% - @anchor-width - @sidebar-width - 32px - 40px);

      @media @tablet {
        max-width: 100%;
        margin-left: 0;
        margin-top: 0;
      }

      .articles-container {
        padding-left: 0;

        @media @tablet {
          padding: 16px;
        }
      }
    }

    .anchors-wrapper {
      width: @anchor-width;
      font-size: 14px;
      padding-right: 24px;
      font-family: Inter;

      @media @tablet {
        display: none;
      }

      .anchors {
        position: sticky;
        position: -webkit-sticky;
        top: @header-height;
        max-height: 100%;
        overflow: auto;

        padding-top: 32px;

        .anchor-title {
          margin-bottom: 24px;

          font-size: 16px;
          color: @color-default-link;
          line-height: 18px;
          font-weight: 500;
        }

        .parent-item {
          border: none;
          padding-bottom: 8px;
        }

        .item {
          .child-item {
            margin-left: 8px;
            padding-top: 3px;
            padding-bottom: 3px;
          }
        }

        .anchor {
          display: block;
          white-space: nowrap;
          overflow-x: hidden;
          line-height: 20px;
          text-overflow: ellipsis;
          color: #60606f;

          &:hover {
            color: @color-doc-primary;
          }

          .active {
            color: @color-doc-primary;
          }
        }
      }
    }

    .btn-to-top {
      position: fixed;
      right: 250px;
      bottom: 80px;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 64px;
      height: 64px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

      background-color: #fff;
      cursor: pointer;

      z-index: 1000;

      &:hover {
        color: @color-highlight;
      }

      @media @tablet {
        position: fixed;
        right: 20%;
        bottom: 80px;
      }
    }

    .anchor-container {
      padding-top: 32px;
      width: @anchor-width;
    }
  }

  footer {
    width: 100%;
    max-width: @screen-desktop1920;
    margin: 0 auto;
    text-align: center;
    padding: 16px;

    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: @color-default-link;

    @media @tablet {
      text-align: start;
      padding-bottom: 32px;

      span {
        display: block;
        margin-bottom: 16px;
      }
    }

    .link {
      display: inline-block;
      margin-left: 40px;

      color: @color-default-link;
      text-decoration: underline;
      text-decoration-color: @color-primary;

      @media @tablet {
        margin-left: 0;
      }
    }
  }

  /*
  * shared styles
  */

  // 3 children in a row
  .row-3 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .card {
    border: 1px solid @color-card-border;
    border-radius: 4px;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 10px 30px rgba(100, 100, 100, 0.1);
    }
  }
}
