@import (reference) "../css/responsive.less";

.community-home.doc-content-container {
  > div {
    max-width: 950px;
    transition: max-width 0.3s linear;
    will-change: max-width;
  }
  .community-h1-wrapper {
    background-image: url(../images/community_banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 235px;
    width: calc(100vw - 286px);
    transition: width 0.3s linear;
    will-change: width;

    @media @tablet, @phone {
      width: 100%;
    }

    padding: 49px 47px;

    .title {
      /* H2/Regular */

      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      /* identical to box height, or 125% */

      color: var(--color-white);

      padding-bottom: 9px;

      @media @phone {
        font-size: 32px;
        line-height: 42px;
      }
    }

    .sub-title {
      /* H6/Regular */

      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      color: var(--color-white);
      @media @phone {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  h2 {
    /* H2/Regular */

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */

    /* Black */

    color: var(--color-black);
    margin-bottom: 60px;
    margin-top: 100px;

    @media @phone {
      margin-bottom: 30px;
      margin-top: 50px;
    }

    @media @phone {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .about-title {
    margin-bottom: 20px;
  }

  p {
    /* H6/Regular */

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* Black */

    color: var(--color-black);
    @media @phone {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 139px;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 64px;
    padding: 40px 0;

    @media @phone {
      grid-column-gap: 32px;
      grid-row-gap: 32px;
    }
  }

  .about-card-container {
    .about-title {
      /* H5/Bold */
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
    }

    p {
      /* H7/Regular */

      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    img {
      width: 32px;
      height: 32px;
      margin-bottom: 20px;
    }
  }

  .advocate-banner {
    padding: 26px 35px;
    display: flex;
    align-items: center;
    gap: 80px;
    /* Grey 05 */
    background: var(--color-grey-05);
    border-radius: 6px;

    @media @tablet, @phone {
      flex-direction: column;
    }

    .img-container {
      width: 180px;
      height: auto;
    }

    .banner-container {
      display: flex;
      flex-direction: column;

      @media @tablet {
        text-align: center;
        align-items: center;
      }
    }

    .banner-title {
      .title {
        /* H4/Bold */

        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
      }

      .subtitle {
        /* H7/Regular */

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
      }
    }

    a {
      width: fit-content;
    }
  }

  .advocates-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @media @desktop1024, @tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @media @phone {
      grid-template-columns: repeat(2, 1fr);
    }

    p {
      margin: 0;
    }

    .advocates-card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 24px;

      .img-container {
        height: 130px;
        width: 160px;
        max-width: 100%;
        margin-bottom: 20px;

        @media @phone {
          height: 100px;
          width: 100px;
        }
      }
    }

    .advocate-name {
      /* H5/Bold */

      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
      margin: 10px 0;
    }

    .advocate-co {
      /* H7/Regular */

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4px;
      color: #4c5a67;
    }

    .advocate-title {
      /* H8/Regular */
      color: #9ca6b2;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
    }
  }

  .join-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  img,
  .img-container {
    height: 130px;
    width: 160px;
    max-width: 100%;
    margin: 0;
  }

  .join-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    width: 160px;

    img {
      width: 50px;
      height: 50px;
      margin-bottom: 19px;
    }

    .label {
      /* H5/Bold */

      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
    }
  }

  .resource-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    @media @phone {
      justify-content: center;
    }
  }

  .resource-card-container {
    width: 260px;

    display: flex;
    flex-direction: column;

    background: var(--color-white);
    border: 1px solid #dee8f1;
    box-sizing: border-box;
    border-radius: 4px;

    min-height: 260px;
    padding: 30px;

    @media @tablet {
      width: calc(50% - 10px);
    }

    @media @phone {
      width: 100%;
    }

    &:hover {
      border-color: var(--color-primary);
    }

    img {
      width: 30px;
      height: 30px;
      display: block;
      margin-bottom: 8px;
    }

    .label {
      /* H5/Bold */

      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      height: 45px;
      line-height: 26px;
    }

    .content {
      /* H7/Regular */

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      height: 100px;
    }

    a {
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height, or 129% */

      /* Black */

      color: var(--color-black);

      width: fit-content;
      display: flex;
      align-items: center;

      img {
        width: 13px;
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }

  .partners-wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    .img-container {
      width: 150px;
      height: fit-content;
      display: flex;
      align-items: center;

      // the span ele generated by Gatsby, width=0,height=0
      .gatsby-resp-image-wrapper {
        display: block;
        width: 150px;
        max-width: 100%;

        .gatsby-resp-image-image {
          width: 100%;
          height: auto !important;
        }
      }
    }
  }

  .mailing-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    img {
      width: 18px;
      height: 18px;
    }

    a {
      display: flex;
      gap: 10px;
      align-items: center;
      width: fit-content;
      flex-shrink: 0;

      &:hover img {
        filter: invert(54%) sepia(53%) saturate(4664%) hue-rotate(169deg)
          brightness(97%) contrast(101%);
      }
    }
  }
}

.doc-temp-container {
  .community-home.doc-content-container {
    padding: 0;
    max-width: 950px;
    margin-right: 0;
    transition: max-width 0.3s linear;
    will-change: max-width;

    .doc-post-wrapper {
      padding: 0;
    }
  }
}

.community-home-html-wrapper {
  > * {
    margin: 0 48px;

    @media @tablet, @phone {
      margin: 0 32px;
    }
  }

  .community-h1-wrapper {
    margin: 0;
  }
}

.loading {
  display: none;
}
