@import "../components/include_media";

:root {
  --color-primary: #202124;
  --color-primarydark: #000;
  --color-highlight: #33b6f2;
  --color-secondary: #f8b108;
  --color-teriary: #69e0e5;
  --color-darkgray: #28292e;
  --color-gray: #999;
  --color-lightgray: #b0b0b9;
  --color-state-hover: rgba(255, 255, 255, 0.15);
}

.doc-post-container {
  padding: 2rem;
  background: #fff;
  min-height: 80vh;
  overflow: hidden;
  color: var(--color-primary);

  @include media("<=1000px") {
    padding: 1rem;
    padding-top: 2rem;
    font-size: 16px;
  }

  .tab-wrapper {
    margin: 20px 0;
    font-size: 0;

    a {
      display: inline-block;
      padding: 10px;
      border: 1px solid #666;
      border-left: 0;
      color: #333;
      font-size: 16px;

      &.active {
        background: #666;
        color: #fff;
      }

      &:first-child {
        border-left: 1px solid #666;
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0px 4px 4px 0px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .tip {
    background-color: rgba(79, 196, 249, 0.25);
    padding: 4px 8px;
    margin: 0 4px;
    cursor: default;
  }

  .alert {
    padding: 1rem;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 4%;
    background-position: 10px center;
    padding-left: 54px;
    line-height: 1.5;
    word-break: break-all;

    &.info {
      background-color: rgb(245, 245, 245);

      // background-color: rgba($color: #eee, $alpha: 0.2);
      background-image: url("../images/icon/info.svg");
    }

    &.note {
      background-color: rgb(232, 245, 253);
      background-image: url("../images/icon/note.svg");
    }

    &.warning {
      background-color: rgb(253, 244, 220);
      background-image: url("../images/icon/warning.svg");
    }
  }

  .md-tooltip {
    line-height: 1.8;
    max-width: 800px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    opacity: 1;

    @include media("<=1000px") {
      width: 100%;
      left: 0 !important;
    }
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  audio,
  canvas,
  progress,
  video {
    display: inline-block;
  }

  .language-text {
    color: #fff;
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  progress {
    vertical-align: baseline;
  }

  [hidden],
  template {
    display: none;
  }

  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  b,
  strong {
    font-weight: bolder;
  }

  dfn {
    font-style: italic;
  }

  mark {
    background-color: #ff0;
    color: #000;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  img {
    border-style: none;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: Courier, monospace;
    font-size: 1em;

    code,
    span {
      font-family: Courier, monospace;
    }
  }

  figure {
    margin: 1em 40px;
  }

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit;
    margin: 0;
  }

  optgroup {
    font-weight: 700;
  }

  button,
  input {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
  }

  [type="reset"],
  [type="submit"],
  button,
  html [type="button"] {
    -webkit-appearance: button;
  }

  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring,
  button:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }

  textarea {
    overflow: auto;
  }

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  html {
    font: 112.5%/1.45em georgia, serif;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  * {
    box-sizing: inherit;
  }

  *:before {
    box-sizing: inherit;
  }

  *:after {
    box-sizing: inherit;
  }

  body {
    color: #fafafa;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  }

  a {
    color: #3f9cd1;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    color: var(--color-primary);
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  h1 {
    margin: 0 0 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-rendering: optimizeLegibility;
  }

  h2 {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-gray);
    font-size: 1.25rem;
    letter-spacing: 0.03rem;
    padding-bottom: 0.5rem;
    margin: 4rem 0 1rem;
    text-rendering: optimizeLegibility;

    @include media("<=1000px") {
      font-size: 1rem;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 3rem 0 1rem;
    text-rendering: optimizeLegibility;

    @include media("<=1000px") {
      font-size: 1rem;
    }
  }

  h4 {
    margin: 3rem 0 1rem;
    text-rendering: optimizeLegibility;
  }

  h5 {
    font-size: 1rem;
    margin-bottom: 1.45rem;
    text-rendering: optimizeLegibility;
  }

  h6 {
    font-size: 0.8rem;
    margin-bottom: 1.45rem;
    text-rendering: optimizeLegibility;
  }

  hgroup {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
  }

  ul {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
    list-style: disc;
  }

  ol {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
    list-style: decimal;
  }

  dl {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
  }

  dd {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
  }

  p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.45rem;

    &:lang(en) {
      line-height: 1.5;
    }

    &:lang(cn) {
      line-height: 1.8;
    }
  }

  // p,
  // li {
  //   code {
  //     color: #3F9CD1
  //   }
  // }
  img {
    background-color: #000;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  pre {
    margin: 0;
    margin-bottom: 1.45rem;
    font-size: 0.85rem;
    line-height: 1.42;
    background: #000;
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    padding: 1rem;
  }

  table {
    padding: 0;
    margin: 0;
    margin-bottom: 1.45rem;
    font-size: 1rem;
    line-height: 1.45rem;
    border-collapse: collapse;
    width: 100%;

    @include media("<=1000px") {
      display: block;
      overflow: auto;
    }
  }

  fieldset {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  blockquote {
    border-left: 0.2rem solid var(--color-gray);
    padding: 0 0.8rem;
    font-size: 0.9rem;
    margin: 0.8rem 0;
    color: #333;

    a {
      color: #3f9cd1;
    }
  }

  form {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  noscript {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  iframe {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  hr {
    margin: 0;
    padding: 0;
    margin-bottom: calc(1.45rem - 1px);
    background: hsla(0, 0%, 0%, 0.2);
    border: none;
    height: 1px;
  }

  address {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  dt {
    font-weight: bold;
  }

  li {
    margin-bottom: calc(1.45rem / 2);

    &:lang(en) {
      line-height: 1.5;
    }

    &:lang(cn) {
      line-height: 1.8;
    }
  }

  ol li {
    padding-left: 0;
  }

  ul li {
    padding-left: 0;
  }

  li > ol {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
  }

  li > ul {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
  }

  blockquote *:last-child {
    margin-bottom: 0;
  }

  li *:last-child {
    margin-bottom: 0;
  }

  p *:last-child {
    margin-bottom: 0;
  }

  li > p {
    margin-bottom: calc(1.45rem / 2);
  }

  code {
    font-size: 0.85rem;
    line-height: 1.45rem;
    @include scroll-bar;
  }

  kbd {
    font-size: 0.85rem;
    line-height: 1.45rem;
  }

  samp {
    font-size: 0.85rem;
    line-height: 1.45rem;
  }

  abbr {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
  }

  acronym {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
  }

  abbr[title] {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
    text-decoration: none;
  }

  thead {
    text-align: left;
    background: #f5f5f5;
    font-weight: bold;
  }

  // th {
  //   letter-spacing: 0.025rem;
  //   background: #FAFAFA;
  // }

  // tr:nth-child(odd) {
  //   background: #FAFAFA;
  // }

  td {
    background-color: #fafafa;
  }

  td,
  th {
    font-size: 0.8rem;
    text-align: left;
    font-feature-settings: "tnum";
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    padding-left: 0.96667rem;
    padding-right: 0.96667rem;
    padding-top: 0.725rem;
    padding-bottom: calc(0.725rem - 1px);
    max-width: 370px;
    border: 4px solid #fff;

    @include media("<=1000px") {
      font-size: 12px;
      padding: 0 1.4rem;
    }
  }

  th:first-child,
  td:first-child {
    width: 200px;
  }

  tt,
  code {
    background-color: var(--color-state-hover);
    border-radius: 4px;
    padding: 0.1rem 0.4rem;
  }

  pre code {
    background: none;
    line-height: 1.42;
  }

  tt:before,
  tt:after {
    letter-spacing: -0.4rem;
    content: " ";
  }

  pre code:before,
  pre code:after,
  pre tt:before,
  pre tt:after {
    content: "";
  }

  @media only screen and (max-width: 480px) {
    html {
      font-size: 100%;
    }
  }

  span.hljs-meta {
    user-select: none;
  }

  .edit-page-link {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0.6rem;
    font-size: 0.8rem;

    &:hover {
      text-decoration: none;
    }

    @include media("<=1000px") {
      display: none;
    }
  }

  .table-wrapper {
    overflow-x: auto;
    @include scroll-bar;
  }
}
.iframe-container {
  position: relative;
  width: calc(100vw - 30px);
  max-width: calc(100% - 30px);
}

.iframe-icon {
  position: absolute;
  top: 30px;
  left: 70px;
  color: #333;
  cursor: pointer;

  @include media("<=1000px") {
    left: 20px;
  }
}
