@import '../css/variables/responsive.less';
@import '../css/variables/color.less';

:root {
  --color-primary: #202124;
  --color-primarydark: #000;
  --color-highlight: #4fc4f9;
  --color-secondary: #f8b108;
  --color-teriary: #69e0e5;
  --color-darkgray: #28292e;
  --color-gray: #999;
  --color-lightgray: #ddd;
  --color-state-hover: rgba(255, 255, 255, 0.15);
}

.doc-post-container {
  @import './commonDocTemplate.less';

  padding: 2rem;
  padding-left: 64px;
  background: #fff;
  // min-height: 80vh;
  // max-width: calc(100% - 280px);
  overflow: hidden;
  color: var(--color-primary);
  position: relative;

  font-family: Inter;

  @media @tablet {
    padding: 16px 43px;
    padding-top: 26px;
    font-size: 16px;
    width: 100%;
  }

  .tab-wrapper {
    font-size: 0;
    margin-top: 30px;
    display: flex;

    a {
      display: inline-block;
      padding: 16px 32px;
      border: 1px solid var(--color-highlight);
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--color-highlight);
      margin-right: 0.75rem;
      font-size: 16px;
      transition: 0.2s;

      &[href*='.md'] {
        display: flex;
        align-items: center;

        text-decoration: none;
        font-family: Roboto-Bold, Roboto;
        color: var(--color-highlight);
        transition: 0.2s;

        &:hover {
          color: #fff;
          background-color: var(--color-highlight);
          opacity: 0.9;
        }
      }

      @media @tablet {
        margin-right: 0;
        border-radius: 0;
      }

      &.active {
        background: rgba(79, 196, 249, 0.1);
        border: 1px solid var(--color-highlight);
        font-weight: bold;
      }

      // &:first-child {
      //   border: 1px solid var(--color-highlight);
      // }
    }

    .tab-icon-cpu {
      &::before {
        content: '';
        width: 25px;
        height: 25px;
        display: inline-block;

        margin-right: 8px;
        background-image: url('../images/icon/cpu.svg');
      }

      &:hover {
        &::before {
          background-image: url('../images/icon/cpu-active.svg');
        }
      }
    }

    .tab-icon-gpu {
      &::before {
        content: '';
        width: 25px;
        height: 25px;
        margin-right: 8px;
        display: inline-block;

        background-image: url('../images/icon/gpu.svg');
      }

      &:hover {
        &::before {
          background-image: url('../images/icon/gpu-active.svg');
        }
      }
    }
  }

  .filter {
    margin: 2rem 0;
    // border-bottom: 2px solid #eee;
    display: flex;
    flex-direction: row;
    color: var(--color-primary);

    @media @tablet {
      overflow-x: auto;
    }

    // height: 38px;
    a {
      display: inline-block;
      padding: 8px 16px;
      border: 1px solid var(--color-highlight);
      color: #000;
      margin-right: 0.75rem;
      font-size: 14px;
      transition: 0.2s;
      text-decoration: none;
      font-family: Roboto-Bold, Roboto;
      color: #000;
      transition: 0.2s;

      &.active {
        background: rgba(79, 196, 249, 0.1);
        border: 1px solid var(--color-highlight);
        font-weight: bold;
      }

      &:hover {
        font-weight: bold;
        text-decoration: none;
      }

      @media @tablet {
        margin-right: 0;
        border-radius: 0;
      }
    }
  }

  div[class*='filter-'] {
    display: none;

    &.active {
      display: block;
    }
  }

  .tip {
    background-color: rgba(79, 196, 249, 0.25);
    padding: 4px 8px;
    margin: 0 4px;
    cursor: default;
  }

  .alert {
    position: relative;
    padding: 1rem;
    border-radius: 0 6px 6px 0;
    background-repeat: no-repeat;
    background-size: 4%;
    background-position: 10px center;
    line-height: 1.5;
    // word-break: break-all;
    font-size: 1rem;
    margin: 2rem 0;
    padding-left: 54px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    details {
      font-size: 0.8rem;

      summary {
        font-size: 0.8rem;
      }
    }

    &:before {
      position: absolute;
      top: 20px;
      left: 20px;

      display: block;
      content: ' ';
      background-size: 18px 18px;
      height: 18px;
      width: 18px;
    }

    &.info {
      background-color: rgb(232, 245, 253);
      padding-left: 1rem;
      // color: #10acf3;

      // &:before {
      //   background-image: url('../images/icon/note.svg');
      // }
    }

    &.event {
      background-color: rgba(144, 113, 239, 0.15);
      // color: #9071ef;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:before {
        background-image: url('../images/icon/event.svg');
      }
    }

    &.note {
      background-color: rgb(232, 245, 253);
      // color: #10acf3;

      &:before {
        background-image: url('../images/icon/note.svg');
      }
    }

    &.important {
      background: rgba(255, 179, 2, 0.1);
      // color: #ff9e02;

      &:before {
        background-image: url('../images/icon/important.svg');
      }
    }

    &.warning {
      background: rgba(255, 100, 77, 0.15);
      // color: #ff4024;

      &:before {
        background-image: url('../images/icon/warning.svg');
      }
    }

    &.tip {
      background: rgba(18, 195, 134, 0.1);
      color: #02a93d;

      &:before {
        background-image: url('../images/icon/tip.svg');
      }
    }

    &-close {
      color: #000;
      margin-left: 8px;

      cursor: pointer;
    }
  }

  // same as h2 element style
  .faq-header {
    display: block;

    font-weight: bold;
    line-height: 1.1;

    padding: 16px 0 0 0;
    color: var(--color-primary);
    border-top: 1px solid var(--color-lightgray);
    font-size: 1.5rem;
    margin: 4rem 0 1rem;
    text-rendering: optimizeLegibility;

    @media @tablet {
      font-size: 1rem;
    }
  }

  .query-button {
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;

    &:active {
      outline: none;
    }

    &-panel {
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid #535966;
      border-radius: 0 0 3px 3px;
      padding: 8px 16px 8px 0;
      background-color: #343741;
    }

    &-code {
      margin-bottom: 0;
      border-radius: 3px 3px 0 0;
    }
  }

  .md-tooltip {
    line-height: 1.8;
    max-width: 800px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    opacity: 1;

    @media @tablet {
      width: 100%;
      left: 0 !important;
    }
  }

  .language-text {
    color: #fff;
  }

  li {
    // position: relative;
    // list-style: none;

    // &:before {
    //   position: absolute;
    //   left: -13px;
    //   top: -6px;
    //   font-size: 24px;
    //   content: "•";
    //   color: var(--color-highlight);
    // }

    &:lang(en) {
      line-height: 1.5;
      margin-bottom: 8px;
    }

    &:lang(zh-cn) {
      line-height: 1.8;
      margin-bottom: 8px;
    }
  }


  span.hljs-meta {
    user-select: none;
  }

  .edit-page-link {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0.6rem;
    font-size: 0.8rem;
    text-decoration: none !important;

    &:hover {
      text-decoration: none;
    }

    @media @tablet {
      display: none;
    }
  }

  .table-wrapper {
    overflow-x: auto;
  }
}

.doc-post {
  position: relative;
}

.iframe-container {
  position: relative;
  width: calc(100vw - 30px);
  max-width: calc(100% - 30px);
}

.iframe-icon {
  position: absolute;
  top: 30px;
  left: 40px;
  color: #333;
  cursor: pointer;
  z-index: 3;

  @media @tablet {
    left: 20px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 100%, 0.8);
  z-index: 5;
}
