@import "../components/include_media";

:root {
  --color-primary: #202124;
  --color-primarydark: #000;
  --color-highlight: #33b6f2;
  --color-secondary: #f8b108;
  --color-teriary: #69e0e5;
  --color-darkgray: #28292e;
  --color-gray: #999;
  --color-lightgray: #b0b0b9;
  --color-state-hover: rgba(255, 255, 255, 0.15);
}

.doc-post-container {
  padding: 4rem 2rem;
  background: #fff;
  min-height: 80vh;
  overflow: hidden;
  color: var(--color-primary);

  @include media("<=1000px") {
    padding: 1rem;
    padding-top: 2rem;
    font-size: 16px;
  }

  .tab-wrapper {
    font-size: 0;

    a {
      display: inline-block;
      padding: 10px;
      border: 1px solid var(--color-highlight);
      color: var(--color-highlight);
      margin-right: 0.75rem;
      border-radius: 4px;
      font-size: 16px;
      box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.03);

      @include media("<=1000px") {
        margin-right: 0;
        border-radius: 0;
      }

      &.active {
        background: var(--color-highlight);
        border: 1px solid var(--color-highlight);
        color: #fff;
      }

      // &:first-child {
      //   border: 1px solid var(--color-highlight);
      // }

      &:hover {
        text-decoration: none;
        color: #fff;
        background: var(--color-highlight);
        border: 1px solid var(--color-highlight);
      }
    }
  }

  .filter {
    margin-bottom: 0.75rem;
    border-bottom: 2px solid #eee;
    display: flex;
    flex-direction: row;

    @include media("<=1000px") {
      overflow-x: auto;
    }

    height: 38px;

    a {
      display: block;
      padding: 10px;
      min-width: 100px;
      border-bottom: 0px solid #ccc;
      color: #666;
      font-size: 16px;
      height: 36px;
      margin-bottom: -2px;
      position: relative;
      box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.03);

      @include media("<=1000px") {
        margin-right: 0;
        border-radius: 0;
      }

      &:before {
        background: #e1e2e6;
        bottom: 0;
        content: "";
        height: 3px;
        position: absolute;
        transition: none;
        width: 0px;
      }

      &:before {
        left: 50%;
        right: 0;
      }

      &.active {
        font-weight: 700;
        color: var(--color-highlight);
        border-bottom: 2px solid var(--color-highlight);
      }

      &:hover {
        text-decoration: none;
      }

      &:hover:not(.active) {
        color: var(--color-highlight);
        text-decoration: none;

        &:after,
        &:before {
          transition: all 0.2s;
          width: 100%;
        }

        &:before {
          left: 0%;
        }
      }
    }
  }

  div[class*="filter-"] {
    display: none;

    &.active {
      display: block;
    }
  }

  .tip {
    background-color: rgba(79, 196, 249, 0.25);
    padding: 4px 8px;
    margin: 0 4px;
    cursor: default;
  }

  .alert {
    position: relative;
    padding: 1rem;
    border-radius: 0 6px 6px 0;
    background-repeat: no-repeat;
    background-size: 4%;
    background-position: 10px center;
    line-height: 1.5;
    // word-break: break-all;
    font-size: 1rem;
    margin: 2rem 0;
    padding-left: 64px;

    details {
      font-size: 0.8rem;

      summary {
        font-size: 0.8rem;
      }
    }

    &:before {
      position: absolute;
      top: 16px;
      left: 16px;

      display: block;
      content: ' ';
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
    }


    &.info {
      background-color: rgb(232, 245, 253);
      padding-left: 1rem;
      color: #10ACF3;

      // &:before {
      //   background-image: url('../images/icon/note.svg');
      // }
    }

    &.note {
      background-color: rgb(232, 245, 253);
      color: #10ACF3;

      &:before {
        background-image: url('../images/icon/note.svg');
      }
    }



    &.important {
      background: rgba(255, 179, 2, 0.1);
      color: #FF9E02;

      &:before {
        background-image: url('../images/icon/important.svg');
      }
    }

    &.warning {
      background: rgba(255, 100, 77, 0.15);
      color: #FF4024;

      &:before {
        background-image: url('../images/icon/warning.svg');
      }
    }

    &.tip {
      background: rgba(18, 195, 134, 0.1);
      color: #02A93D;

      &:before {
        background-image: url('../images/icon/tip.svg');
      }
    }
  }

  .query-button {
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;

    &:active {
      outline: none;
    }

    &-panel {
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid #535966;
      border-radius: 0 0 3px 3px;
      padding: 8px 16px 8px 0;
      background-color: #343741;
    }

    &-code {
      margin-bottom: 0;
      border-radius: 3px 3px 0 0;
    }
  }

  .md-tooltip {
    line-height: 1.8;
    max-width: 800px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    opacity: 1;

    @include media("<=1000px") {
      width: 100%;
      left: 0 !important;
    }
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  audio,
  canvas,
  progress,
  video {
    display: inline-block;
  }

  .language-text {
    color: #fff;
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  progress {
    vertical-align: baseline;
  }

  [hidden],
  template {
    display: none;
  }

  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  b,
  strong {
    font-weight: bolder;
  }

  dfn {
    font-style: italic;
  }

  mark {
    background-color: #ff0;
    color: #000;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  img {
    border-style: none;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: "Source Code Pro", monospace;
    font-size: 1em;

    code,
    span {
      font-family: "Source Code Pro", monospace;
    }
  }

  figure {
    margin: 1em 40px;
  }

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit;
    margin: 0;
  }

  optgroup {
    font-weight: 700;
  }

  button,
  input {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
  }

  [type="reset"],
  [type="submit"],
  button,
  html [type="button"] {
    -webkit-appearance: button;
  }

  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring,
  button:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }

  textarea {
    overflow: auto;
  }

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  html {
    font: 112.5%/1.45em georgia, serif;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  * {
    box-sizing: inherit;
  }

  *:before {
    box-sizing: inherit;
  }

  *:after {
    box-sizing: inherit;
  }

  body {
    color: #fafafa;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  }

  a {
    color: #3f9cd1;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }

  a.anchor {
    fill: #33b6f2;
  }

  img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    color: var(--color-primary);
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  h1 {
    margin: 0 0 2rem;
    font-size: 2rem;
    line-height: 40px;
    text-rendering: optimizeLegibility;
  }

  h2 {
    padding-top: 16px;
    color: var(--color-primary);
    border-top: 1px solid #eee;
    font-size: 1.5rem;
    margin: 4rem 0 1rem;
    text-rendering: optimizeLegibility;

    @include media("<=1000px") {
      font-size: 1rem;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 3rem 0 1rem;
    text-rendering: optimizeLegibility;

    @include media("<=1000px") {
      font-size: 1rem;
    }
  }

  h4 {
    margin: 3rem 0 1rem;
    text-rendering: optimizeLegibility;
  }

  h5 {
    font-size: 1rem;
    margin-bottom: 1.45rem;
    text-rendering: optimizeLegibility;
  }

  h6 {
    font-size: 0.8rem;
    margin-bottom: 1.45rem;
    text-rendering: optimizeLegibility;
  }

  hgroup {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
  }

  ul {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
    list-style: disc;
  }

  ol {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
    list-style: decimal;
  }

  dl {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
  }

  dd {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
  }

  p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.45rem;

    &:lang(en) {
      line-height: 1.5;
    }

    &:lang(cn) {
      line-height: 1.8;
    }
  }

  // p,
  // li {
  //   code {
  //     color: #3F9CD1
  //   }
  // }
  img {
    background-color: #000;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  pre {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 0.85rem;
    line-height: 1.42;
    background: #f3f3f3;
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    padding: 0.5rem;
  }

  table {
    padding: 0;
    margin: 0;
    margin-bottom: 1.45rem;
    font-size: 1rem;
    line-height: 1.45rem;
    border-collapse: collapse;
    width: 100%;

    @include media("<=1000px") {
      display: block;
      overflow: auto;
    }
  }

  fieldset {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  blockquote {
    border-left: 0.2rem solid var(--color-gray);
    padding: 0 0.8rem;
    font-size: 0.9rem;
    margin: 0.8rem 0;
    color: #333;

    a {
      color: #3f9cd1;
    }
  }

  form {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  details {
    font-size: 15px;
    margin: 10px 0;
    line-height: 26px;

    summary {
      cursor: pointer;
    }
  }

  noscript {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  iframe {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  hr {
    margin: 0;
    padding: 0;
    margin-bottom: calc(1.45rem - 1px);
    background: hsla(0, 0%, 0%, 0.2);
    border: none;
    height: 1px;
  }

  address {
    margin: 0;
    padding: 0;
    margin-bottom: 1.45rem;
  }

  dt {
    font-weight: bold;
  }

  li {
    &:lang(en) {
      line-height: 1.5;
    }

    &:lang(cn) {
      line-height: 1.8;
    }
  }

  ol li {
    padding-left: 0;
  }

  ul li {
    padding-left: 0;
  }

  li>ol {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
  }

  li>ul {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
  }

  blockquote *:last-child {
    margin-bottom: 0;
  }


  p *:last-child {
    margin-bottom: 0;
  }

  li>p {
    margin-bottom: calc(1.45rem / 2);
  }

  code {
    font-size: 0.85rem;
    line-height: 1.45rem;
    @include scroll-bar;
  }

  kbd {
    font-size: 0.85rem;
    line-height: 1.45rem;
  }

  samp {
    font-size: 0.85rem;
    line-height: 1.45rem;
  }

  abbr {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
  }

  acronym {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
  }

  abbr[title] {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
    text-decoration: none;
  }

  thead {
    text-align: left;
    background: #f5f5f5;
    font-weight: bold;
  }

  // th {
  //   letter-spacing: 0.025rem;
  //   background: #FAFAFA;
  // }

  // tr:nth-child(odd) {
  //   background: #FAFAFA;
  // }

  td {
    background-color: #fafafa;
  }

  td,
  th {
    font-size: 1rem;
    text-align: left;
    font-feature-settings: "tnum";
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    padding-left: 0.96667rem;
    padding-right: 0.96667rem;
    padding-top: 0.725rem;
    padding-bottom: calc(0.725rem - 1px);
    max-width: 370px;
    border: 4px solid #fff;

    @include media("<=1000px") {
      font-size: 12px;
      padding: 0 1.4rem;
    }
  }

  th:first-child,
  td:first-child {
    width: 200px;
  }

  tt,
  code {
    background-color: #efefef;
    border-radius: 4px;
    padding: 0.1rem 0.4rem;
  }

  pre code {
    background: none;
    line-height: 1.42;
  }

  tt:before,
  tt:after {
    letter-spacing: -0.4rem;
    content: " ";
  }

  pre code:before,
  pre code:after,
  pre tt:before,
  pre tt:after {
    content: "";
  }

  @media only screen and (max-width: 480px) {
    html {
      font-size: 100%;
    }
  }

  span.hljs-meta {
    user-select: none;
  }

  .edit-page-link {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0.6rem;
    font-size: 0.8rem;

    &:hover {
      text-decoration: none;
    }

    @include media("<=1000px") {
      display: none;
    }
  }

  .table-wrapper {
    overflow-x: auto;
    @include scroll-bar;
  }
}

.iframe-container {
  position: relative;
  width: calc(100vw - 30px);
  max-width: calc(100% - 30px);
}

.iframe-icon {
  position: absolute;
  top: 30px;
  left: 40px;
  color: #333;
  cursor: pointer;
  z-index: 3;

  @include media("<=1000px") {
    left: 20px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 100%, 0.8);
  z-index: 5;
}