.fancy-button-wrapper {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background: #06aff2;
  padding: 8px 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  .button-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 8px;

    &.disabled {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.26);
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.12);
    }

    .icon-wrapper {
      width: 20px;
      height: 20px;
      pointer-events: none;

      img {
        background: transparent;
        width: 20px;
        height: 20px;
      }
      margin-right: 8px;
    }

    .text {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
    }
  }
}
