@import url('@/styles/global.module.less');

.sectionContainer {
  padding-top: 40px;
  padding-bottom: 40px;

  .tryCloudContainer {
    position: relative;
    display: flex;
    padding: 30px;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    z-index: 1;
    border: 1px solid @color-black3;

    @media @tablet, @phone {
      flex-direction: column;
    }

    .backgroundContainer {
      width: 617px;
      height: 138px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: url('/images/home/try-cloud-bg-image.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }

    .leftPart {
      display: flex;
      align-items: center;
      gap: 24px;

      .logoWrapper {
        display: inline-block;
        padding: 24px 0;

        img {
          max-height: 53px;
        }
      }

      h3 {
        max-width: 444px;
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;

        @media @phone {
          text-align: center;
          font-size: 22px;
          line-height: 30px;
        }
      }

      @media @phone {
        flex-direction: column;
      }
    }

    .linkButtonIcon {
      transform: rotate(315deg);
    }
  }

  .toolsContainer {
    margin-top: 28px;

    .subTitle {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
      color: @color-black1;
      text-align: center;
      margin-bottom: 24px;
      font-family: 'Geist Mono';

      @media @tablet, @phone {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .toolsList {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 12px;

      .toolItem {
        display: flex;

        .toolButton {
          width: 80px;
          height: 80px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
