@import '../../css/variables/responsive.less';

.swiperContainer {
  list-style: none;
  overflow: hidden;
  margin-bottom: 100px;
  border-radius: 16px;
  font-weight: 600;
  padding: 60px 60px 28px;
  font-family: Inter;
  height: 300px;
  background: #f9f9f9;

  @media @tablet {
    padding: 32px;
    height: 400px;
    margin-bottom: 64px;
  }

  @media @phone {
    margin-bottom: 32px;
    height: 530px;
  }

  .listWrapper {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s linear;
    list-style: none;

    .listItem {
      height: 300px;

      @media @tablet {
        height: 400px;
      }

      @media @phone {
        height: 530px;
      }

      &.hidden {
        visibility: none;
        opacity: 0;
      }

      &.show {
        visibility: visible;
        opacity: 1;
      }

      .content {
        color: #545454;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
        font-weight: 400;
        font-style: italic;
      }

      .author {
        color: #000;
        font-family: Inter Medium;
        padding-left: 40px;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        font-style: italic;
      }
    }
  }
}
