@import '../../css/variables/responsive.less';

.swiperContainer {
  overflow: hidden;

  font-family: Inter;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  position: relative;
  height: 350px;
  border-radius: 16px;
  background: #f9f9f9;

  @media @phone {
    font-size: 18px;
    line-height: 24px;
  }

  .swiperItem {
    width: 100%;
    position: absolute;
    padding: 0 64px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.5s linear;
    z-index: 2;

    @media @phone {
      padding: 0 32px;
    }

    .content {
      color: #545454;
      margin-bottom: 40px;
      font-weight: 400;
      font-style: italic;

      @media @phone {
        margin-bottom: 24px;
      }
    }

    .author {
      color: #000;
      font-family: Inter Medium;
      padding-left: 40px;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      font-style: italic;

      @media @phone {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .hidden {
    z-index: -1;
  }
}
