@import url('@/styles/global.module.less');

.solutionCard {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-card-border);
  border-radius: 12px;
  text-decoration: none;
  color: var(--color-doc-primary);
  padding: 16px 19px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 10px 30px rgba(100, 100, 100, 0.1);
  }

  .linkWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    color: #000;
    align-items: flex-start;
  }

  .img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
  }

  .title {
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .content {
    font-size: 15px;
    line-height: 24px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: var(--color-dark);
  }

  .demoBtn {
    .paragraph4();
    color: var(--color-doc-primary);
    padding: 0;
  }

  .LearnBtn {
    .paragraph4();
    color: var(--color-doc-primary);
    padding: 4px 12px;
  }

  .buttonsWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
