@import '../../../css/fonts/fonts.less';
@import '../../../css/variables/color.less';
@import '../../../css/variables/responsive.less';

.submitterContainer {
  font-family: 'Inter';
  background-color: #fff;
  padding: 32px;
  border-radius: 8px 32px;

  @media @phone {
    padding: 16px;
  }

  .titleBar {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
    }
    .iconWrapper {
      font-size: 20px;
      color: @color-primary;
      cursor: pointer;
    }
  }

  .prompt {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
  }

  .btnWrapper {
    text-align: right;

    .submitBtn {
      button {
        padding: 8px 16px;
        font-size: 16px;
        line-height: 28px;
        font-weight: 600;
      }
    }
  }
}
