@import "../include_media.scss";

html {
  height: 100%;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

#gatsby-focus-wrapper,
#___gatsby {
  height: 100%;
}

body {
  font-size: 15px;
  background-color: #fafafa !important;
  color: #434548;
  @include media("<=1000px") {
    font-size: 14px;
  }
}

::selection {
  background-color: #4fc4f9;
  color: #ffffff;
}

a.btn {
  border-radius: 4px;
  border: 1px var(--color-highlight) solid;
  color: var(--color-highlight) !important;
  font-weight: bold;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 180px;
  box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
  i {
    margin-right: 8px;
  }
  &:hover {
    background-color: var(--color-highlight) !important;
    color: #fff !important;
    text-decoration: none;
  }
}

.doc-wrapper {
  position: relative;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fff;
  min-height: calc(100vh);
  padding-top: 60px;
  // @include media("<1600px") {
  //   margin: 0;
  // }

  .menu-container {
    top: 60px;
    padding-top: 20px;
    bottom: 0;
    width: 250px;
    overflow: auto;

    @include media("<=1000px") {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 80vw;
      max-width: 260px;
      height: 100vh;
      box-sizing: border-box;
      z-index: 1000;
    }
  }

  .inner-container {
    margin-left: 250px;
    max-width: 63.67%;
    min-width: 60%;
    overflow: hidden;
    &.fullwidth {
      max-width: 80%;
      min-width: 80%;
    }
    iframe {
      position: absolute;
      top: 0;
    }
    @include media("<=1000px") {
      flex: 0 0 100%;
      margin: 0;
      max-width: 100%;

      &.fullwidth {
        width: 100%;
      }
    }
  }
  .button-container {
    margin-top: 50px;
  }

  .anchor-wrapper {
    position: relative;
    font-size: 14px;
    margin-top: 65px;
    padding-right: 10px;
    width: 33.3%;
    section {
      position: sticky;
      top: 160px;
      left: 0;
      max-width: 90%;
      overflow: hidden;
    }

    // background-color: #fff;
    // @include media("<=1700px") {
    //   right: 2rem;
    // }

    // @include media("<1400px") {
    //   background-color: #fff;
    //   right: 0;
    // }

    @include media("<=1000px") {
      display: none;
    }

    .parent-item {
      padding-left: 10px;
      padding-bottom: 5px;
      border-left: 4px solid #eee;
    }

    .item {
      .child-item {
        margin-left: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }

    a {
      display: block;
      white-space: nowrap;
      overflow-x: hidden;
      line-height: 21px;
      text-overflow: ellipsis;
      color: #60606f;

      &:hover,
      &.active {
        color: #33b6f2;
      }
    }
  }

  .footer-wrapper {
    margin-bottom: 0;
  }
}

// .inner-container {
//   width: 1000px;

//   @include media("<=1000px") {
//     width: auto;
//   }

//   margin: 0 auto;
// }

.not-found {
  background: #fff;
  height: 100%;
}

.doc-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.doc-post-content {
  p {
    position: relative;
    z-index: 2;
  }

  // [id]::before {
  //   content: "";
  //   display: block;
  //   height: 75px;
  //   margin-top: -75px;
  //   visibility: hidden;
  //   position: relative;
  //   z-index: 0;
  // }
}
.doc-post {
  position: relative;
}
