@import (reference) '../../styles/mixins.less';

.docLayout {
  display: flex;

  h1 {
    margin-top: 8px;
  }

  .contentContainer {
    max-width: 950px;
    padding: 0 32px;
    overflow: hidden;
    width: calc(100vw - 232px);
    box-sizing: border-box;
    will-change: max-width, width;

    @media @tablet {
      transition: none;
      will-change: none;
      width: 100vw;
    }
    @media @phone {
      width: 100%;
    }
  }
}
