@import "../include_media.scss";

html {
  height: 100%;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

#gatsby-focus-wrapper,
#___gatsby {
  height: 100%;
}

body {
  font-size: 15px;

  @include media("<=1000px") {
    font-size: 14px;
  }
}

::selection {
  background-color: #4fc4f9;
  color: #ffffff;
}

main.doc-wrapper {
  display: flex;

  .menu-container {
    position: fixed;
    left: 0;
    top: 60px;
    padding-top: 20px;
    bottom: 0;
    width: 30%;
    min-width: 200px;
    max-width: 260px;

    @include media("<=1000px") {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 80vw;
      max-width: 260px;
      height: 100vh;
      box-sizing: border-box;
      z-index: 1000;
      background-color: #28292e;
    }
  }

  .inner-container {
    flex: 1;

    margin-left: 260px;

    &.fullwidth {
      width: calc(88% - 60px);
    }

    @include media("<=1000px") {
      width: 100%;
      margin: 0;
      padding-top: 50px;

      &.fullwidth {
        width: 100%;
      }
    }
  }

  .anchor-wrapper {
    flex: 0 0 200px;
    font-size: 14px;
    margin-top: 100px;

    @include media("<=1000px") {
      display: none;
    }

    .parent-item {
      padding-left: 1rem;
      border-left: 4px solid #eee;
    }

    .item {
      margin: 10px 0;

      .child-item {
        margin-left: 8px;
      }
    }

    a {
      display: block;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #60606F;

      @include media("<=1400px") {
        max-width: 160px;
      }

      @include media("<=1200px") {
        max-width: 120px;
      }

      &:hover,
      &.active {
        color: #33b6f2;
      }
    }
  }

  .footer-wrapper {
    margin-bottom: 0;
  }
}

.inner-container {
  width: 1000px;

  @include media("<=1000px") {
    width: auto;
  }

  margin: 0 auto;
}

.not-found {
  background: #fff;
  height: 100%;
}

.doc-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.doc-post-content {
  p {
    position: relative;
    z-index: 2;
  }

  [id]::before {
    content: "";
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
    position: relative;
    z-index: 0;
  }
}