
.submitterContainer {
  background-color: #fff;
  padding: 32px;
  border-radius: 8px 32px;

  @media (--phone) {
    padding: 16px;
  }

  .titleBar {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
    }
    .iconWrapper {
      font-size: 20px;
      color: var(--color-text-primary);
      cursor: pointer;
    }
  }

  .alert {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
  }

  .inputLabel {
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4px;
  }

  .emailInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    padding: 4px 0;
    font-size: 16px;
    outline: none;
    background: transparent;
  }

  .emailInput:focus {
    border-bottom-color: var(--color-primary);
  }

  .prompt {
    font-size: 14px;
    line-height: 22px;
    color: red;
    margin-top: 4px;
    display: inline-block;
  }

  .btnWrapper {
    text-align: right;

    .submitBtn {
      background: var(--color-primary);
      padding: 10px 20px;
      font-size: 14px;
      line-height: 18px;
      border-radius: 19px;
      font-weight: 600;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;

      &:disabled {
        background: var(--color-grey-04);
        color: var(--color-tag-gray);
      }
    }
  }
}
