@import '../../css/variables/responsive.less';
@import '../../css/variables/color.less';

.doc-post {
  .faq,
  .faq-links {
    h2 {
      border: 0;
      color: #454545;
      font-size: 18px;
      font-weight: bold;
      line-height: 28px;
      margin-top: 32px;
      padding: 0;
    }
  }

  .faq-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 8px;
    grid-auto-rows: minmax(90px, auto);
  }

  .faq-links-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-gap: 8px;
    grid-auto-rows: minmax(40px, auto);
    max-width: 500px;

    a {
      color: @color-primary;
      font-size: 12px;
      line-height: 24px;
      padding: 0;
      text-decoration: none;
      text-align: center;
      line-height: 39px;

      &:hover {
        color: @color-btn-press;
      }

      i {
        font-size: 20px;
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }

  .faq-links {
    button {
      background: @color-primary;
      border: 0;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      font-size: 14px;
      height: 40px;
      line-height: 24px;
      padding: 8px 20px;

      &:hover {
        background: @color-btn-press;
      }

      &:disabled {
        background: gray;
        cursor: not-allowed;
      }
    }
  }
}
