.codeWrapper {
  position: relative;
  margin: 16px 0 8px;
  min-height: 24px;

  .content {
    overflow-x: auto;
    font-family: 'Source Code Pro', monospace;
  }

  .btn {
    position: absolute;
    top: -18px;
    right: 0;
    border: none;
    border-radius: 4px;
    color: #b7b5bd;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;

    &:active {
      outline: none;
    }

    .icon {
      margin-left: 4px;
    }
  }
}
