@import "../../css/variables/color.less";

.rightNavWrapper {
  .btnsGroup {
    list-style: none;
    padding: 0;
    margin: 0 0 60px 0;

    .link {
      display: inline-block;
      color: @color-black;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      font-size: 14px;

      &:hover {
        color: @color-grey-01;
      }
    }
  }
}

.iconWrapper {
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  overflow: hidden;
  svg {
    width: 16px;
    height: 16px;
    vertical-align: -0.125em;
  }

  .global {
    path {
      fill: @color-black;
    }
  }
}
