/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
    .customBlock {
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
    
}

.paddingTop10 {
    padding-top: 6%;
}
.fixedHeaderContainer header {
    background-color: transparent;
}
.homeContainer {
    position: relative;
}
.homeContainer .homeWrapper {
    padding: 12em 10px;
}
.lightBackground {
    background-color: #F7F7F7;
}
.productShowcaseSection {
    padding: 0 20px;
}
.splash-container {
  position: relative;
}
.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
}
.splash-content {
  position: relative;
  z-index: 2;
}
.s {
    border: 1px solid #F7F7F7;
    width: 12px;
    height: 12px;
    margin: 5px;
}

.customBlockContent {
    height: 100%;
}

.customGridBlockH2 {
    height: 23%;
}

.text-primary {
  color: #33b6f2 !important;
}
/* .nav-site>span {
  display: none;
} */

/* "Copy" code block button */
pre {
    position: relative;
  }
  
  pre .btnIcon {
    position: absolute;
    top: 4px;
    z-index: 2;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0;
    color: #333;
    background-color: transparent;
    height: 30px;
    transition: all .25s ease-out;
  }
  
  pre .btnIcon:hover {
    text-decoration: none;
  }
  
  .btnIcon__body {
    align-items: center;
    display: flex;
  }
  
  .btnIcon svg {
    fill: currentColor;
    margin-right: .4em;
  }
  
  .btnIcon__label {
    font-size: 11px;
  }
  
  .btnClipboard {
    right: 10px;
  }

  .customButtonWrapper{
    background-color: white;
  }

  .css-full {
    height: 1.25rem;
    width: 1.25rem;
    background-color: rgb(255, 178, 56);
    background-image: none;
    border-radius: 50%;
    margin: 0px auto;
  }
  
  .css-half {
      height: 1.25rem;
      width: 1.25rem;
      background-color: rgb(255, 178, 56);
      background-image: linear-gradient(90deg, transparent 50%, rgb(255, 237, 191) 50%);
      border-radius: 50%;
      margin: 0px auto;
  }
  
  .css-quater {
    height: 1.25rem;
      width: 1.25rem;
      background-color: rgb(255, 178, 56);
      background-image: linear-gradient(transparent 50%, rgb(255, 237, 191) 50%), linear-gradient(90deg, transparent 50%, rgb(255, 237, 191) 50%);
      border-radius: 50%;
      margin: 0px auto;
  }
  
  .css-zero {
    height: 1.25rem;
    width: 1.25rem;
    background-color: rgb(255, 237, 191);
    background-image: none;
    border-radius: 50%;
    margin: 0px auto;
  }
  .lead {
    font-size: 16px;
  }
  .content {
    text-align: left;
  }
  .content li{
    list-style: none;
  }