/* your custom css */
body {
  background-image: linear-gradient(
    180deg,
    #28292e 3%,
    #1f232a 100%
  ) !important;
}
.contains-task {
  list-style: none;
  position: relative;
  left: -30px;
}

.page h1,
.page h3 {
  font-family: co-text, sans-serif !important;
  margin: 10px 0;
}
.post p {
  color: #d1d1d1;
}
.fdb-block {
  padding: 5rem 0rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
p,
ol li,
ul li {
  color: #fff;
}
table td,
table th {
  font-size: 12px;
  white-space: nowrap;
  word-break: keep-all;
}
.navigationSlider .slidingNav ul {
  background-color: #28292e;
}

.splash-container {
  background: url(/new-images/hero.png) no-repeat top right;
  background-size: contain;
  position: relative;
  padding: 0;
  height: 600px;
}

.fixedHeaderContainer header img {
  height: 60px;
}
.toc .toggleNav ul li a {
  color: #aaa;
}
.feature-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.feature {
  clear: both;
  display: inline-block;
  width: 33%;
  margin: 20px 0;
  position: relative;
  padding-left: 110px;
}
.feature img {
  position: absolute;
  left: 0;
  top: 0;
  height: 180px;
}
.feature p {
  color: #999;
}
.tb-hd h3 {
  margin: 0;
}
.css-full {
  height: 1.25rem;
  width: 1.25rem;
  background-color: #4eb8f0;
  background-image: none;
  border-radius: 50%;
  margin: 0px auto;
}

.css-half {
  height: 1.25rem;
  width: 1.25rem;
  background-color: #4eb8f0;
  border-radius: 50%;
  opacity: 0.5;
  margin: 0px auto;
}

.css-quater {
  height: 1.25rem;
  width: 1.25rem;
  opacity: 0.25;
  background-color: #4eb8f0;
  border-radius: 50%;
  margin: 0px auto;
}

.css-zero {
  opacity: 0.25;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #4eb8f0;
  border-radius: 50%;
  margin: 0px auto;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .feature {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .page {
    position: relative;
    top: 20px;
  }
  .feature {
    width: 100%;
    padding-left: 0;
  }
  .feature img {
    display: block;
    margin: 0 auto;
    position: static;
  }
  .headerWrapper header a {
    height: 50px;
    margin-left: 10px;
  }
  .fixedHeaderContainer .wrapper {
    padding: 0;
  }
  .customBlock {
    margin-bottom: 3rem;
  }
  .docsNavContainer .toc {
    padding: 20px 0 0 0 !important;
  }
  .tocActive .onPageNav {
    padding: 20px;
    background-color: #24292e;
  }
  .docsSliderActive.docsNavContainer {
    background-color: #24292e;
  }
  .navPusher {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: calc(100vh - 100px);
    padding-top: 100px;
  }
  .navigationSlider {
    align-items: center;
    display: flex;
    background: transparent;
    height: 50px;
    margin-top: 20px;
  }
  .navigationSlider nav {
    flex-grow: 1;
    position: relative !important;
    width: 100%;
    display: flex;
  }
  .slidingNav ul {
    align-items: center;
    justify-content: start !important;
    height: 50px !important;
    margin: 0 !important;
  }
  .slidingNav ul li {
    display: flex;
    flex: 0 !important;
    align-items: center;
    justify-content: start !important;
    height: 50px !important;
    margin: 0 !important;
  }

  .slidingNav ul li a {
    display: flex;
    align-items: center;
  }
  .slidingNav ul li .button {
    display: flex;
    align-items: center;
  }
  .slidingNav ul li a span {
    display: flex !important;
    align-items: center;
  }
  .slidingNav ul li span input {
    display: flex !important;
    align-items: center !important;
    vertical-align: middle !important;
    background-color: black !important;
    height: 35px;
  }
  .slidingNav ul .reactNavSearchWrapper {
    position: fixed;
    right: 0;
    top: 5px;
    z-index: 1000000;
  }
  /* those make the footer sticky and work even in IE 11 */
  .navPusher > :first-child {
    flex-grow: 1;
  }

  .page h1 {
    margin-top: 0;
  }

  .onPageNav {
    top: 120px;
  }

  .margin-top-zero {
    margin-top: 0;
  }
  .fdb-block {
    padding: 1rem !important;
  }
  .paddingTop10 {
    padding-top: 6%;
  }
  .fixedHeaderContainer {
    padding: 0;
    background: #28292e;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }
  .fixedHeaderContainer header {
    background: transparent;
    flex-direction: column;
  }

  .homeContainer {
    position: relative;
  }
  .homeContainer .homeWrapper {
    padding: 12em 10px;
  }
  .lightBackground {
    background-color: #f7f7f7;
  }
  .productShowcaseSection {
    padding: 0 20px;
  }
  .table {
    border-collapse: separate;
    border-spacing: 2px;
  }
  table tr:nth-child(2n) {
    background-color: transparent;
  }
  table td,
  table th {
    color: #fff;
  }
  .table td,
  .table th {
    padding: 0.5rem;
  }
  .table .tb-hd {
    background-color: #fff;
    color: #333;
  }

  .table .tb-hd * {
    color: #333;
  }
  .table tr {
    border: none;
    background: none;
  }
  .table .content span {
    color: #999;
  }
  .table th {
    border: none;
    color: #fff;
    text-align: left;
    background: none;
  }
  .table td,
  .table th {
    background: rgb(44, 47, 51);
    border: 3px;
  }
  .css-7sa0gy {
    background: #2c3035;
    border: none;
  }

  .fixedHeaderContainer header .headerTitleWithLogo {
    display: none;
  }
  .milvus-btn {
    font-family: co-text, sans-serif !important;
    text-transform: uppercase;
    border: 2px solid #4eb8f0;
    border-radius: 30px;
    font-size: 13px;
    color: #4eb8f0;
    text-align: center;
    line-height: 56px;
    padding: 0.5rem 0.8rem;
  }
  .splash-container {
    height: auto;
    background: none;
  }
  .splash-container h1 {
    font-size: 68px;
  }
  .splash-container .lead {
    font-family: co-text, sans-serif !important;
    font-size: 26px;
    color: #fff !important;
    width: 80%;
    margin-top: 80px;
    text-align: left;
  }
  .customBlockContent {
    height: 100%;
  }

  .customGridBlockH2 {
    height: 23%;
  }

  .text-primary {
    color: #33b6f2 !important;
  }
  .nav-site > span {
    display: none;
  }
  /* "Copy" code block button */
  pre {
    position: relative;
  }

  pre .btnIcon {
    position: absolute;
    top: 4px;
    z-index: 2;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0;
    color: #333;
    background-color: transparent;
    height: 30px;
    transition: all 0.25s ease-out;
  }

  pre .btnIcon:hover {
    text-decoration: none;
  }

  .btnIcon__body {
    align-items: center;
    display: flex;
  }

  .btnIcon svg {
    fill: currentColor;
    margin-right: 0.4em;
  }

  .btnIcon__label {
    font-size: 11px;
  }

  .btnClipboard {
    right: 10px;
  }

  .customButtonWrapper {
    background-color: white;
  }

  .lead {
    font-size: 16px;
  }
  .content {
    text-align: left;
  }
  .content li {
    list-style: none;
  }

  article {
    position: relative;
    top: -46px;
  }
  article > div > span > h1 {
    pointer-events: none;
  }
  h1.postHeaderTitle {
    display: none;
  }
  .postHeader {
    position: relative;
    z-index: 99;
  }

  .post table h2 {
    color: inherit;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
    padding: 0;
  }
  .navSearchWrapper.reactNavSearchWrapper::before,
  .navSearchWrapper.reactNavSearchWrapper::after {
    box-sizing: content-box;
  }
  pre .btnIcon {
    color: #999;
  }

  .sitemap {
    justify-content: space-around !important;
  }
  .sitemap > div {
    white-space: nowrap;
    width: auto !important;
    text-align: left;
    flex: 0 !important;
  }

  .toc {
    padding: 40px 0;
  }
  .toc .toggleNav .navGroup .navGroupCategoryTitle {
    color: #fff;
  }

  .mainContainer {
    padding-top: 0;
  }
  .mainContainer .wrapper .post .postHeader {
    background-color: transparent;
  }
  .blogContainer .postHeader .post-authorName {
    color: #fff;
  }
}

@media only screen and (min-width: 1024px) {
  .page {
    position: relative;
    top: -20px;
  }
  .slidingNav {
    align-items: center;
    display: flex;
    height: 60px !important;
  }
  .slidingNav ul {
    height: 60px;
    align-items: center;
  }

  .navPusher {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: calc(100vh - 80px);
    padding-top: 80px;
  }
  .navigationSlider {
    height: 60px;
    align-items: center;
    display: flex;
  }

  /* those make the footer sticky and work even in IE 11 */
  .navPusher > :first-child {
    flex-grow: 1;
  }

  .page h1 {
    margin-top: 0;
  }
  .onPageNav {
    top: 120px;
  }
  .margin-top-zero {
    margin-top: 0;
  }

  .paddingTop10 {
    padding-top: 6%;
  }
  .fixedHeaderContainer {
    padding: 0;
    background: #28292e;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }
  .fixedHeaderContainer header {
    background: transparent;
    height: 60px;
    align-items: center;
    /* padding-top: 20px; */
  }
  .homeContainer {
    position: relative;
  }
  .homeContainer .homeWrapper {
    padding: 12em 10px;
  }
  .lightBackground {
    background-color: #f7f7f7;
  }
  .productShowcaseSection {
    padding: 0 20px;
  }
  .table {
    border-collapse: separate;
    border-spacing: 2px;
  }
  table tr:nth-child(2n) {
    background-color: transparent;
  }
  table td,
  table th {
    color: #fff;
  }
  .table td,
  .table th {
    padding: 0.5rem;
  }
  .table .tb-hd {
    background-color: #fff;
    color: #333;
  }
  .table .tb-hd * {
    color: #333;
  }
  .table tr {
    border: none;
    background: none;
  }
  .table .content span {
    color: #999;
  }
  .table th {
    border: none;
    color: #fff;
    text-align: left;
    background: none;
  }
  .table td,
  .table th {
    background: rgb(44, 47, 51);
    border: 3px;
  }
  .css-7sa0gy {
    background: #2c3035;
    border: none;
  }
  .fixedHeaderContainer header .headerTitleWithLogo {
    display: none;
  }

  .milvus-btn {
    font-family: co-text, sans-serif !important;
    text-transform: uppercase;
    border: 2px solid #4eb8f0;
    border-radius: 30px;
    font-size: 16px;
    color: #4eb8f0;
    letter-spacing: 5px;
    text-align: center;
    line-height: 56px;
    padding: 0.4rem 2rem;
  }
  .splash-container h1 {
    font-size: 68px;
  }
  .splash-container .lead {
    font-family: co-text, sans-serif !important;
    font-size: 38px;
    color: #fff !important;
    width: 55%;
    margin-top: 165px;
    text-align: left;
  }

  .customBlockContent {
    height: 100%;
  }

  .customGridBlockH2 {
    height: 23%;
  }

  .text-primary {
    color: #33b6f2 !important;
  }
  .nav-site > span {
    display: none;
  }

  /* "Copy" code block button */
  pre {
    position: relative;
  }

  pre .btnIcon {
    position: absolute;
    top: 4px;
    z-index: 2;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0;
    color: #333;
    background-color: transparent;
    height: 30px;
    transition: all 0.25s ease-out;
  }

  pre .btnIcon:hover {
    text-decoration: none;
  }

  .btnIcon__body {
    align-items: center;
    display: flex;
  }

  .btnIcon svg {
    fill: currentColor;
    margin-right: 0.4em;
  }

  .btnIcon__label {
    font-size: 11px;
  }

  .btnClipboard {
    right: 10px;
  }

  .customButtonWrapper {
    background-color: white;
  }

  .lead {
    font-size: 16px;
  }
  .content {
    text-align: left;
  }
  .content li {
    list-style: none;
  }

  article {
    position: relative;
    top: -46px;
  }
  article > div > span > h1 {
    pointer-events: none;
  }
  h1.postHeaderTitle {
    display: none;
  }
  .postHeader {
    position: relative;
    z-index: 99;
  }

  .post table h2 {
    color: inherit;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
    padding: 0;
  }
  .navSearchWrapper.reactNavSearchWrapper::before,
  .navSearchWrapper.reactNavSearchWrapper::after {
    box-sizing: content-box;
  }
  pre .btnIcon {
    color: #999;
  }

  .sitemap {
    justify-content: space-around !important;
  }
  .sitemap > div {
    white-space: nowrap;
    width: auto !important;
    text-align: left;
    flex: 0 !important;
  }

  .toc {
    padding: 40px 0;
  }
  .toc .toggleNav .navGroup .navGroupCategoryTitle {
    color: #fff;
  }

  .mainContainer {
    padding-top: 0;
  }
  .mainContainer .wrapper .post .postHeader {
    background-color: transparent;
  }
  .blogContainer .postHeader .post-authorName {
    color: #fff;
  }

  .slidingNav ul li {
    height: 60px !important;
    line-height: 60px !important;
    display: flex;
    align-items: center;
  }
  .slidingNav ul li a {
    height: 60px !important;
    line-height: 60px !important;
    display: flex;
    align-items: center;
  }
  .slidingNav ul li a span {
    display: flex !important;
    align-items: center;
  }
  .slidingNav ul li span input {
    display: flex !important;
    align-items: center !important;
    vertical-align: middle !important;
  }
}

.table .tb-hd h2 {
  margin: 10px 0 !important;
}
/* .siteNavItemActive a {
  background-color: transparent !important;
  font-weight: bold !important;
} */

.githubicon {
  margin-left: 30px;
  position: relative;
  top: -3px;
  transform: scale(1.2);
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a,
.navigationSlider .slidingNav ul li.siteNavItemActive > a {
  background-color: transparent;
}

.nav-item-active > a {
  font-weight: bold !important;
}

.slidingNav ul li a.top-button {
  background-color: #33b6f2;
  padding: 0 20px;
}
.nav-language-active > a {
  font-weight: bold !important;
}
.post code {
  background-color: #454545;
}
.post table tr td,
.post table tr th {
  border: 1px solid #666;
}

/* index */
.connect {
  border-left: 1px solid #999;
  padding-left: 30px;
}
.connect a svg {
  margin-right: 10px;
}
.connect a.twitter:hover svg {
  fill: #1da1f2;
}
.connect a.facebook:hover svg {
  fill: #4267b2;
}
.connect .wechat:hover svg {
  fill: #5cc928;
}

.connect .wechat {
  cursor: default;
  display: inline-block;
  position: relative;
}
.connect .wechat img {
  display: none;
  position: absolute;
  top: -154px;
  left: 0;
}

.connect .wechat:hover img {
  display: block;
  top: -154px;
}
