@import url('@/styles/global.module.less');

.downloadButton {
  border: 1px solid rgba(0, 179, 255, 0.2);
  background-color: rgba(0, 179, 255, 0.1);

  &:hover {
    border-color: rgba(0, 179, 255, 0.5);
    background-color: rgba(0, 179, 255, 0.1);
  }
}
.starButton {
  border: 1px solid @color-black3;
  background: #fff;

  &:hover {
    border-color: rgba(102, 113, 118, 0.5);
  }
}

.startButton {
  width: 280px;
  justify-content: center;
}

.headerSectionContainer {
  background-image: url(/images/home/header-background-image.png);
  background-color: #fafafa;
  height: calc(100vh - @header-height-desktop);
  min-height: 700px;

  @media @phone {
    height: auto;
  }
}
