@import "../../include_media";

.footer-container {
  padding: 60px 0 60px 0;

  @include media("<=1000px") {
    padding: 40px 8px 48px;
  }

  .footer-list {
    display: flex;
    list-style: none;
    margin-bottom: 68px;

    @include media("<=1000px") {
      flex-direction: column;
      padding: 0px;
      margin-bottom: 40px;
    }

    .list-item {
      padding: 8px 8px;
      flex: 1;
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        margin-right: 120px;
      }

      @include media("<=1000px") {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 24px;
        }
      }

      .footer-list-title {
        font-family: Inter SemiBold;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.005em;
        margin-bottom: 8px;
      }

      .footer-list-content {
        font-family: Inter Regular;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.005em;
        margin-bottom: 28px;
        flex-grow: 1;

        @include media("<=1000px") {
          margin-bottom: 12px;
          line-height: 16px;
          letter-spacing: -0.5%;
        }
      }

      .footer-list-btn {
        span {
          display: inline-block;
          font-family: Inter Regular;
          font-size: 16px;
          line-height: 24px;
          margin-right: 16px;

          @include media("<=1000px") {
            margin-right: 8px;
            font-size: 14px;
          }
        }
      }

      .images-wrapper {
        position: relative;

        .column-img {
          display: inline-block;
          width: 24px;
          height: 24px;
          & + a {
            margin-left: 16px;
          }
          img {
            width: 24px;
            height: 24px;
          }
        }

        .hover-btn {
          &:hover {
            .qrcode-wrapper {
              visibility: visible;
              z-index: 9;
            }
          }
        }

        .qrcode-wrapper {
          position: absolute;
          top: -170px;
          right: 0;
          visibility: hidden;
          z-index: -1;
          width: 300px;

          @include media("<=1000px") {
            left: 0;
            top: -160px;
          }

          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }

  .footer-licence {
    padding: 0 150px 0 250px;

    @include media("<=1000px") {
      padding: 0 16px;
    }

    .licence-milvus {
      margin-bottom: 23px;
      display: flex;
      justify-content: space-between;

      @include media("<=1000px") {
        text-align: left;
        flex-direction: column;
        margin-bottom: 16px;
      }

      .text {
        font-family: Inter SemiBold;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #191919;
      }

      .link {
        font-family: Inter Regular;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.005em;
        color: #191919;
        text-decoration: underline;
      }
    }

    .licence-policy {
      display: flex;
      justify-content: space-between;

      @include media("<=1000px") {
        flex-wrap: wrap;
      }

      a {
        color: #191919;
        font-family: Inter Regular;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.005em;
        text-decoration: underline;

        @include media("<=1000px") {
          &:nth-child(odd) {
            width: 45%;
            margin-bottom: 16px;
          }
          &:nth-child(even) {
            width: 55%;
          }
        }
      }
    }
  }
}
