@import '../../../css/variables/responsive.less';
@import '../../../css/variables/color.less';

.faqCard {
  align-items: flex-start;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
  padding: 8px;
  width: 250px;
  
  .title {
    color: #454545;
    font-size: 14px;
    line-height: 18px;
  }

  a.answer,.answer{
    background: transparent;
    border: 0;
    color: @color-primary;
    font-size: 12px;
    line-height: 24px;
    padding: 0;
    text-decoration: none;

    &:hover {
      color: @color-btn-press;
    }

    .btnIcon {
      font-size: 20px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}

.modalMask {
  align-items: center;
  background: rgba(128,128,128,.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;

  .mondalContainer {
    background-color: white;
    padding: 40px 24px;
    position: relative;
    width: 600px;

    .modalTitle {
      color: #010E29;
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
    }

    .modalContent {
      font-size: 16px;
      line-height: 22px;
      margin-top: 16px;
      word-break: break-word;
    }

    .modalClose {
      border: 0;
      background: transparent;
      padding: 0;
      position: absolute;
      right: 30px;
      top: 20px;
      height: 20px;
      width: 20px;

      &:hover {
        background: transparent;
      }

      &::before, &::after {
        background-color: @color-primary;
        content: ' ';
        cursor: pointer;
        height: 20px;
        left: 9px;
        position: absolute;
        top: 0px;
        width: 2px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
