@import "../../utils/cssVariables.scss";
@import "../include_media";

.doc-home-wrapper {
  padding: 32px 64px;

  @include media("<=1000px") {
    padding: 20px 16px;
  }

  .section {
    margin-bottom: 64px;

    h1 {
      margin-bottom: 16px;
      color: $dark;
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
      font-family: Inter Bold;

      @include media("<=1000px") {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
  }

  .section-1 {
    &-card {
      &-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &-item {
        flex-basis: 48%;

        @include media("<=1000px") {
          flex: 1;
          & + .section-1-card-item {
            margin-top: 16px;
          }

          .card-title {
            font-size: 16px;
          }
        }
      }
    }
  }

  .section-2 {
    &-desc {
      font-family: Inter Regular;
      color: $dark;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .section-3 {
    &-item-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
      gap: 20px;
    }

    h4 {
      margin-bottom: 16px;

      color: $dark;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    ul {
      list-style-position: outside;
      margin-left: 16px;
    }

    li {
      margin-bottom: 8px;
      color: $primary;
    }

    a {
      color: $primary;

      font-size: 16px;
      line-height: 24px;
    }
  }
}
