@import '../../utils/cssVariables.scss';

.doc-home-wrapper {
  padding: 32px 64px;

  .section {
    margin-bottom: 64px;

    h1 {
      margin-bottom: 16px;
      color: $dark;
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
      font-family: Inter Regular;
    }
  }

  .section-1 {
    &-card {
      &-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &-item {
        flex-basis: 48%;
      }
    }
  }

  .section-2 {
    &-desc {
      color: $dark;
      font-size: 16px;
      line-height: 24px;
      font-family: Inter Regular;
    }
  }

  .section-3 {
    &-item-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
      gap: 20px;
    }

    h4 {
      margin-bottom: 16px;

      color: $dark;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      font-family: Inter Regular;
    }

    ul {
      list-style-position: outside;
      margin-left: 16px;
    }

    li {
      margin-bottom: 8px;
      color: $docPrimary;
      font-family: Inter Regular;
    }

    a {
      color: $docPrimary;
      font-family: Inter Regular;

      font-size: 16px;
      line-height: 24px;
    }
  }
}
