@import url('../../../styles/mixin.module.less');

.sectionContainer {
  height: fit-content;
  border-left: 1px solid @color-black3;
  padding-left: 30px;

  .listWrapper {
    list-style: none;
    margin-bottom: 32px;
    text-align: left;

    .anchorTitle {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 12px;
    }

    .anchorLink {
      font-size: 12px;
      line-height: 1.5;
      display: block;
      max-width: 100%;
      white-space: wrap;
      word-break: break-word;
      color: @color-black2;
      margin-bottom: 6px;
      cursor: pointer;

      &:hover,
      &.activeAnchor {
        color: @color-black1;
      }
    }
  }

  div.share {
    align-items: center;
    justify-content: flex-start;
  }
}

.advCard {
  margin-bottom: 24px;
}
