
.navContainer {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;

  .pageTitle {
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    @media (--tablet) {
      font-size: 64px;
      line-height: 72px;
    }
    @media (--phone) {
      font-size: 56px;
      line-height: 64px;
    }
    margin-bottom: 12px;
  }

  .abstract {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    @media (--tablet), (--phone) {
      font-size: 16px;
      line-height: 24px;
    }
    font-weight: 400;
    color: var(--color-black2);
    margin-bottom: 40px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    @media (--tablet), (--phone) {
      font-size: 16px;
      line-height: 24px;
    }
    font-weight: 400;
    color: var(--color-black2);
    margin-bottom: 20px;
  }

  .navList {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 12px;

    @media (--tablet), (--phone) {
      flex-direction: column;
    }

    li {
      flex: 0 0 327px;

      @media (--tablet), (--phone) {
        flex: auto;
      }
    }

    .navButton {
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      @media (--tablet), (--phone) {
        font-size: 16px;
        line-height: 24px;
      }
      justify-content: center;
      width: 100%;
      padding: 16px;
    }
  }
}

.exploreContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 80px;

  h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 54px;
    @media (--tablet), (--phone) {
      font-size: 38px;
      line-height: 46px;
    }
    margin-bottom: 12px;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    @media (--tablet), (--phone) {
      font-size: 16px;
      line-height: 24px;
    }
    font-weight: 400;
    color: var(--color-black2);
    margin-bottom: 40px;
    text-align: center;
  }

  .blogList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    list-style-type: none;
    @media (--tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (--phone) {
      grid-template-columns: 1fr;
    }
    margin-bottom: 30px;
  }

  .whatIsMilvusWrapper {
    padding: 44px 0;
    background-image: url('/images/404/big-milvus-logo.png'),
      linear-gradient(var(--color-blue1), var(--color-blue1));
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    color: #fff;
    border-radius: 16px;

    p {
      color: #fff;
    }

    .learnMoreButton {
      margin: 0 auto;
      width: fit-content;

      svg path {
        stroke: #fff;
      }
    }
  }
}
