@import url('./mixin.module.less');

.listWrapper {
  margin: 0 auto;
  max-width: @screen-desktop1440;
  margin-bottom: 80px;

  .featuredBlog {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 100px;
    margin-bottom: 100px;

    @media @tablet, @phone {
      flex-direction: column;
      gap: 32px;
    }

    // @media @phone {
    //   display: none;
    // }

    .featuredImg {
      display: flex;
      align-items: center;
      overflow: hidden;
      flex: 0 0 460px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
      }

      @media @tablet, @phone {
        flex: auto;
      }
    }

    .featuredBlogContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 24px;

      .tag {
        .paragraph4();
        text-transform: uppercase;
        color: var(--color-primary);
        margin-bottom: 12px;
      }

      .title {
        .heading3();
        .overflowEllipsis3Row();
        color: #000;
        margin-bottom: 12px;
      }

      .desc {
        .paragraph4();
        color: @color-black2;
      }

      .readMoreButton {
        .paragraph4();
        padding: 0;
      }
    }
  }

  .blogList {
    .hiddenHeading1 {
      display: none;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        text-transform: capitalize;
      }
    }
    .tagsWrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 40px;
      gap: 8px;

      li {
        cursor: pointer;

        div {
          padding: 6px 16px;

          &:hover {
            color: @color-primary;
          }
        }
      }

      .active {
        background: @color-blue1;
        border-radius: 12px;
        color: #fff;

        &:hover {
          color: #fff;
        }
      }

      @media @tablet, @phone {
        font-size: 12px;
      }
    }
    .blogCards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 60px 30px;
      margin-bottom: 60px;

      @media @tablet {
        grid-template-columns: repeat(2, 1fr);
      }
      @media @phone {
        grid-template-columns: repeat(1, 100%);
        grid-gap: 30px;
      }
    }

    .paginationWrapper {
      margin-bottom: 60px;

      .paginationLink {
        .paragraph6-bold();
        width: 32px;
        height: 32px;
        text-align: center;
        vertical-align: middle;
        border-radius: 8px;
        border: 1px solid @color-black4;
        background-color: #fff;
        color: #000;
        padding: 0;

        &:hover {
          background-color: @color-black4;
        }
      }

      .activePaginationLink {
        background-color: @color-blue1;
        border-color: @color-blue1;
        color: #fff;

        &:hover {
          background-color: @color-blue1;
        }
      }

      .disabledNavigationLink {
        color: @color-black3;
        cursor: not-allowed;

        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}

.blogImg {
  position: relative;
  width: 100%;
  height: 440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.4;
  }
}

.blogWrapper {
  margin: 0 auto;
  text-align: center;

  .authorDate {
    margin-top: 60px;
    color: var(--color-grey-02);
    font-size: 18px;
    span:first-child {
      margin-right: 20px;
    }
  }
  .title {
    margin: 20px auto;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.5;
    max-width: 80%;
    text-align: center;
    @media @tablet, @phone {
      font-size: 32px;
    }
  }

  .tags {
    display: flex;
    margin: 0 auto 100px auto;
    list-style: none;
    padding: 0;
    justify-content: center;

    li {
      color: var(--color-text-primary);
      text-transform: uppercase;
      cursor: pointer;
      font-weight: bold;
    }
    li + li {
      margin-left: 10px;
    }
  }

  .shareContainer {
    position: relative;
    margin: 0 auto 55px auto;
    position: -webkit-sticky;
    position: sticky;
    top: 125px;
    text-align: left;
    padding-left: 20px;
    .share {
      position: absolute;
      right: -20%;
      top: 0;
      .hover;

      @media @tablet, @phone {
        display: none;
      }
    }
  }
  .desc {
    position: relative;
    margin: 0 auto 55px auto;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-grey-02);
    padding-left: 20px;

    .line {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 4px;
      background-color: #eaeef2;
    }
    .share {
      position: absolute;
      right: -20%;
      top: 0px;
      .hover;

      @media @tablet, @phone {
        display: none;
      }
    }
  }

  .articleContent {
    margin: 0 auto;
    text-align: left;
  }
}

.shareSection {
  margin: 80px auto 110px auto;
  text-align: center;
  p {
    margin-bottom: 24px;
  }
  .share {
    margin: 0 auto;
    justify-content: center;

    .hover;
  }
}
