@import (reference) './global.module.less';

.upLayout {
  margin: 60px auto 100px;
  max-width: 1140px;

  .blogHeader {
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .authorDate {
      color: @color-grey-02;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;

      span {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .title {
      font-weight: 700;
      font-size: 42px;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 20px;

      @media @tablet, @phone {
        font-size: 32px;
      }
    }

    .tags {
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: center;

      li {
        color: @color-text-primary;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
      }
      li + li {
        margin-left: 10px;
      }
    }
  }

  .blogContent {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 60px;

    .articleContainer {
      flex: 0 1 750px;
      overflow: hidden;

      @media @tablet, @phone {
        margin: 0 auto 60px;
      }

      pre {
        border: 1px solid @color-grey-04;
      }

      code[class^='language-'] {
        display: block;
      }
    }

    .anchorsContainer {
      flex: 0 0 260px;
      position: sticky;
      height: fit-content;
      top: 100px;

      @media @tablet, @phone {
        display: none;
      }
    }
  }

  .mobileShareSection {
    display: none;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    @media @tablet, @phone {
      display: flex;
    }
  }
}

.bottomLayout {
  margin-bottom: 100px;
  .breadcrumb {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
    color: @color-black2;
    font-size: 16px;

    a {
      color: @color-blue1;
      text-decoration: none;
      cursor: pointer;
    }

    svg {
      color: @color-grey-02;
      font-size: 18px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 44px;
  }

  .blogCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    list-style: none;

    @media @tablet {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
    }

    @media @phone {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
    }
  }
}
