@import url('./mixin.module.less');

.banner {
  position: relative;
  background: #fff;
  padding: 80px 0 68px;

  & > * {
    z-index: 1;
    position: relative;
  }
  
  &:before {
    content: '';
    position: absolute;
    width: 31%;
    height: 43.6%;
    top: 0;
    left: 0;
    background: linear-gradient(316deg, rgba(228, 255, 238, 0.00) 44.6%, #E4FFEE 119.52%);
    z-index: 0!important;
  }

  &:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 55%;
    right: 0;
    bottom: 0;
    background: linear-gradient(323deg, #E2F6FF -3.58%, rgba(226, 246, 255, 0.00) 50.14%);
    z-index: 0!important;
  }
}

.banner-detail {
  display: flex;
  justify-content: space-between;
  gap: 52px;

  @media @tablet, @phone {
    flex-direction: column;
  }
}

.recommend {
  background: @color-black1;
  width: 570px;
  height: 428px;
  padding: 36px;
  border-radius: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;

  @media @tablet, @phone {
    width: 100%;
  }

  .trending {
    color: #FFAA00;
    font-family: 'Geist Mono';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-title {
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin: 12px 0;

    &:hover {
      text-decoration: underline;
      text-underline-position: from-font;
    }
  }

  &-desc {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &-extra {
    margin-top: auto;
    color: @color-black3;
  }
}

.recent {
  width: 548px;
  flex: 1 1 auto;
  @media @tablet, @phone {
    width: 100%;
  }

  &-blog {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &:not(:first-of-type) {
      margin-top: 16px;
    }

    &-separator {
      border: none;
      height: 1px;
      background: @color-black4;
    }

    &-title {
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5;
      color: @color-black1;
      &:hover {
        text-decoration: underline;
        text-underline-position: from-font;
      }
    }
  }
}

.subscribe {
  border: 1px solid @color-black4;
  margin-top: 60px;
  border-radius: 16px;
  padding: 24px 36px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: @color-white;

  @media @phone, @tablet {
    flex-direction: column;
  }

  &-info {
    width: 530px;
    flex: 0 1 auto;

    @media @desktop1440, @desktop1920 {
      flex: 1 1 auto;
    }

    @media @phone, @tablet {
      width: 100%;
    }
  }
  
  &-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    color: @color-black1;

    strong {
      color: @color-blue1;
    }
  }

  &-desc {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: @color-black2;
    font-family: 'Geist Mono';
  }

  &-form {
    width: 510px;
    display: flex;
    gap: 12px;
    align-items: center;

    @media @phone, @tablet {
      width: 100%;
    }
  }

  &-button {
    padding: 14px 40px!important;
    font-size: 16px!important;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    flex: 0 0 auto;
    border: 1px solid @color-black1!important;

    @media @phone {
      margin-top: 24px;
    }
  }

  &-input-container {
    padding: 0!important;
    overflow: hidden;
  }

  &-input {
    height: 50px;
    padding: 17px 20px!important;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3!important;
    font-family: 'Geist Mono';
  }

  &-input-message {
    position: absolute;
  }
}

.content {
  padding-top: 80px;
  background: @color-white1;

  .list-header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 12px;

    @media @phone, @tablet {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  .list-detail {
    display: flex;
    gap: 60px 15px;
    flex-wrap: wrap;
  }
}

.filter {
  display: flex;
  align-items: center;

  @media @phone, @tablet {
    width: 100%;
  }

  &-tags {
    display: flex;
    gap: 12px;

    @media @phone, @tablet {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  &-tag {
    padding: 12px 20px;
    background-color: @color-white;
    border-radius: 12px;
    border: 1px solid @color-black4;
    color: @color-black2;
    cursor: pointer;
    transition: all 0.1s linear;
    font-weight: 600;
    font-size: 14px;
    box-sizing: border-box;

    &:hover {
      border-color: @color-black2;
      color: @color-black1;
    }

    &.active {
      background-color: @color-black1;
      color: @color-white;
      border-color: @color-black1;
    }
  }
}

.searcher {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  background: @color-white;
  border: 1px solid @color-black4;
  border-radius: 12px;
  gap: 4px;
  cursor: text;
  padding: 0 12px;
  height: 40px;
  box-sizing: border-box;
  font-family: 'Geist Mono';

  &-icon {
    color: @color-black2;
  }

  &-input {
    width: 100%;
    flex: 1 1 auto;
    border: none;
    outline: none;
    padding: 10px 0;
    height: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;

    &::placeholder {
      color: @color-black3;
    }
  }
}

.paginationWrapper {
  margin-bottom: 60px;

  li {
    list-style: none;
  }

  .paginationLink {
    .paragraph6-bold();
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    border: 1px solid @color-black4;
    background-color: #fff;
    color: #000;
    padding: 0;

    &:hover {
      background-color: @color-black4;
    }
  }

  .activePaginationLink {
    background-color: @color-blue1;
    border-color: @color-blue1;
    color: #fff;

    &:hover {
      background-color: @color-blue1;
    }
  }

  .disabledNavigationLink {
    color: @color-black3;
    cursor: not-allowed;

    &:hover {
      background-color: #fff;
    }
  }
}

.ai-service {
  margin-top: 85px;
  margin-bottom: 75px;

  &-wrapper {
    border-radius: 12px;
    border: 2px solid rgba(0, 179, 255, 0.50);
    background: @color-white;
    box-shadow: 0px 6px 20px 0px rgba(0, 179, 255, 0.10);
    transition: background 0.1s linear;
    cursor: pointer;
    position: relative;
    padding: 20px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background: linear-gradient(180deg, #FFF 0%, #ADE6FF 100%);
      border-width: 1px;
      padding: 21px 37px;

      .ai-service-logo {
        bottom: 1px;
        left: 37px;
      }
    }
  }

  &-logo {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 36px;
    background-size: contain;

    @media @phone {
      top: -120px;
      left: 0;
      bottom: initial;
    }
  }

  &-main {
    margin-left: 170px;
    flex: 1 1 auto;

    @media @phone {
      margin-left: 0;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
  }

  &-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: @color-black2;
    font-family: 'Geist Mono';
  }

  &-icon {
    color: @color-blue1;
    flex: 0 0 auto;
  }
}

.zilliz-adv {
  border-radius: 16px;
  border: 1px solid @color-black4;
  background: @color-white;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  gap: 50px;
  min-height: 392px;

  @media @phone, @tablet {
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
  }

  &-main {
    flex: 1 1 50%;
  }

  &-small-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Geist Mono';
  }

  &-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
  }

  &-features {
    margin-top: 12px;

    &-item {
      color: @color-black2;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      list-style: none;
      display: flex;
      align-items: center;
      font-family: 'Geist Mono';
      
      &:not(:first-of-type) {
        margin-top: 8px;
      }

      &-icon {
        color: @color-blue1;
        margin-right: 2px;
        flex: 0 0 auto;
      }
    }
  }

  &-btn {
    padding: 9.5px 28px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 6px;
    background-color: @color-black1;
    color: @color-white;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 36px;

    @media @phone, @tablet {
      width: 100%;
      justify-content: center;
    }
  }

  &-logo {
    min-height: 230px;
    flex: 1 1 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media @tablet {
      margin-top: 30px;
    }
  }
}

.authors {
  padding: 80px 0;

  &-header {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 0;
  }

  &-list {
    display: flex;
    gap: 15px;

    @media @phone {
      flex-wrap: wrap;
    }
  }

  .author {
    border-radius: 16px;
    border: 1px solid @color-black4;
    background: @color-white;
    padding: 20px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 24px;

    &-avatar {
      flex: 0 0 auto;
      width: 60px;
      height: 60px;
      background-size: cover;
    }

    &-name {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.4;
      font-family: 'Geist Mono';
    }

    &-title {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      color: @color-black2;
      font-family: 'Geist Mono';
    }
  }
}

// components
.blog-extra {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 1.4px;
  color: @color-black2;
  font-family: 'Geist Mono';

  &-tags {
    text-transform: uppercase;
  }

  &-separator {
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: @color-black3;
  }

  &.dark {
    color: @color-black3;
    &-separator {
      background-color: @color-black2;
    }
  }
}

.tabs {
  &-title {
    display: flex;
    gap: 24px;
    margin-bottom: 36px;

    &-item {
      color: @color-black2;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 8px;
      line-height: 1.5;
      padding: 6px 0;
      cursor: pointer;
      transition: all 0.1s linear;
      position: relative;
      border-bottom-left-radius: 6px;
      overflow: hidden;

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background: #000;
        transition: all 0.1s linear;
        position: absolute;
        bottom: 0;
        opacity: 0;
      }

      &:hover,
      &.active {
        color: @color-black1;
      }

      &.active {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.blog-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 3);
  border: 1px solid @color-black4;
  border-radius: 12px;
  background: @color-white;
  padding-bottom: 30px;

  @media @tablet {
    width: calc((100% - 30px) / 2);
  }

  @media @phone {
    width: 100%;
  }

  &-img {
    width: 100%;
    padding-top: 62.57%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: @color-black4;
  }

  &-extra {
    margin-top: 24px;
    margin-bottom: 12px;
    padding: 0 24px;
  }

  &-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    color: @color-black1;
    padding: 0 24px;

    &:hover {
      text-decoration: underline;
      text-underline-position: from-font;
    }
  }
}
