@import url('@/styles/global.module.less');

.communityPageContainer {
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: 'Geist';
  background-color: @color-white1;
}

.headSection {
  padding: 80px 0 40px;
  margin: 0 auto;

  h1 {
    .heading2();
    text-align: center;
    margin-bottom: 40px;
  }

  .mediaWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;

    @media (max-width: 1240px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media @phone {
      grid-template-columns: repeat(1, 1fr);
    }

    li {
      padding: 32px 20px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border-radius: 12px;
      align-items: center;
      background-color: @color-white;

      img {
        width: 50px;
        height: 55px;
      }

      p {
        .paragraph2-bold();
      }

      .linkBtn {
        .paragraph4();
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 0 20px;
        height: 40px;
        width: 100%;
      }
    }
  }

  .officeHoursContainer {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: #030c34;
    border-radius: 8px;
    overflow: hidden;

    @media @tablet, @phone {
      flex-direction: column;
      gap: 24px;
      height: auto;
      padding: 24px;
    }

    .imgWrapper {
      flex: 0 0 528px;
      min-height: 220px;
      height: auto;
      background: url('/images/community/office-hour.svg') no-repeat center
        center;

      @media @tablet, @phone {
        flex: 0 0 220px;
        width: 528px;
        text-align: center;
      }
    }

    .contentWrapper {
      flex: 1;
      color: #fff;
      padding: 24px 32px 24px 0;

      @media @tablet, @phone {
        flex: auto;
      }

      .title {
        .heading4();
        margin-bottom: 4px;

        @media @tablet, @phone {
          text-align: center;
        }
      }

      .desc {
        .paragraph4-regular();
        font-family: 'Geist Mono';
        margin-bottom: 20px;
        max-width: 600px;

        @media @tablet, @phone {
          text-align: center;
        }
      }

      .linkBtn {
        .paragraph4();
        font-family: 'Geist Mono';
        color: #fff;
        border-color: #fff;
        background-color: transparent;
        color: #fff;
        width: fit-content;

        &:hover {
          background-color: transparent;
        }

        svg path {
          stroke: #fff;
        }

        @media @tablet, @phone {
          margin: 0 auto;
        }
      }
    }
  }
}

.contentSection {
  padding: 40px 0;
  margin: 0 auto;

  h2 {
    .heading3();
    margin: 0 auto 12px;
    max-width: 900px;
    text-align: center;
  }

  .sectionDesc {
    .paragraph3-regular();
    font-family: 'Geist Mono';

    margin: 0 auto 40px;
    max-width: 880px;
    text-align: center;
  }

  .featureWrapper {
    display: flex;
    gap: 30px;
    list-style: none;

    @media @tablet {
      gap: 24px;
    }

    @media @phone {
      flex-direction: column;
    }

    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: @color-white;
      padding: 20px;
      border-radius: 12px;

      img {
        width: 30px;
        height: 30px;
      }

      .label {
        font-family: 'Geist Mono';
        .paragraph2-bold();
      }

      .desc {
        font-family: 'Geist Mono';
        .paragraph4-regular();
      }
    }
  }
}

.mailListSection {
  padding: 40px 0 80px 0;
  margin: 0 auto;

  h2 {
    .heading3();
    margin-bottom: 40px;
    text-align: center;
  }

  .mailListWrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

    .linkBtn {
      .paragraph4();
      flex: 1;
      font-family: 'Geist Mono';
      display: flex;
      padding: 11px 28px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: @color-black1;
      border-radius: 6px;
      border-radius: 6px;
      border: 1px solid @color-black1;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
