@import url('@/styles/global.module.less');

// handle arabic layout
html[lang='ar'] {
  .asideSection {
    direction: rtl;
  }
}

.docDetailContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: calc(@doc-content-width + @doc-aside-width);
  margin: 0 auto;

  .contentSection {
    flex: 1;
    padding: 0 32px;
    overflow: hidden;
    box-sizing: border-box;
    will-change: max-width, width;
  }

  .asideSection {
    flex: 0 0 @doc-aside-width;
    padding-right: 16px;

    @media @phone, @tablet {
      display: none;
    }

    .rightAnchorTreeWrapper {
      padding-top: 16px;
      position: unset;
      overflow: auto;
    }
  }
}

.breadcrumbContainer {
  margin-bottom: 32px;
}
