.menuContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 282px;
  padding: 21px 16px;
  border-right: 1px solid #eee;

  .docMenu {
    position: sticky;
    height: calc(100vh - 105px);
    left: 0;
    right: 0;
    top: 105px;
  }
}

.docAnchors {
  position: sticky;
  height: calc(100vh - 105px);
  left: 0;
  right: 0;
  top: 105px;
}
