@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoMono;
  src: url('/fonts/RobotoMono-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoMono;
  src: url('/fonts/RobotoMono-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoMono;
  src: url('/fonts/RobotoMono-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoMono;
  src: url('/fonts/RobotoMono-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/fonts/SourceCodePro-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/fonts/SourceCodePro-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/fonts/SourceCodePro-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceCodePro;
  src: url('/fonts/SourceCodePro-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
