@import url('./global.module.less');

.headerSection {
  padding: calc(80px + @header-height-desktop) 0 80px 0;

  .innerSection {
    color: #fff;

    .title {
      .heading2();
      color: #000;
      margin: 0 auto 12px;
      text-align: center;
      max-width: 840px;
    }

    .desc {
      .paragraph2-regular();
      text-align: center;
      color: @color-black2;
      margin: 0 auto 40px;
      max-width: 900px;

      @media @phone {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

.demoContainer {
  margin-bottom: 60px;

  .demoList {
    list-style: none;
    padding: 40px 0;

    li + li {
      margin-top: 80px;
    }
  }
}

div.dialogRoot {
  border-radius: 20px;
}

.subscribeContainer {
  margin-bottom: 80px;
}
