@import url('./variables.module.less');

/* RESPONSIVE */
@screen-tablet: 744px;
@screen-desktop1024: 1025px;
@screen-desktop1440: 1441px;
@screen-desktop1920: 1920px;
@banner-break-point: 640px;

@phone: ~'only screen and (max-width: @{screen-tablet})';
@tablet: ~'only screen and (max-width: @{screen-desktop1024})  and (min-width: @{screen-tablet})';
@desktop1024: ~'only screen and (max-width: @{screen-desktop1440})  and (min-width: @{screen-desktop1024})';
@desktop1440: ~'only screen and (max-width: @{screen-desktop1920})  and (min-width: @{screen-desktop1440})';
@desktop1920: ~'only screen and (min-width: @{screen-desktop1920})';
@bannerBreak: ~'only screen and (max-width: @{banner-break-point})';

.button {
  border-radius: 40px;
  cursor: pointer;
  height: 58px;
  padding: 20px 40px;
  font-family: 'Roboto Mono';
  font-size: 16px;
  line-height: 18px;
  border: 0;

  @media @phone, @tablet, @desktop1024 {
    height: 38px;
    padding: 10px 20px;
    font-size: 14px;
  }
}

.buttonSm {
  border-radius: 40px;
  cursor: pointer;
  font-family: 'Roboto Mono';
  line-height: 18px;
  border: 0;
  height: 38px;
  padding: 10px 20px;
  font-size: 14px;
}

.hover {
  transition: all 0.5s;

  &:hover {
    opacity: 0.8;
  }
}

.primaryBtn {
  background-color: @color-primary;
  color: white;
  .button;

  &:hover {
    background-color: @color-text-primary;
  }
}

.primaryBtnSm {
  background-color: @color-primary;
  color: white;
  .buttonSm;

  &:hover {
    background-color: @color-text-primary;
  }
}

.secondaryBtn {
  background: transparent;
  color: @color-black;
  .button;
  border: 1px solid @color-black;

  &:hover {
    border-color: @color-primary;
    color: @color-text-primary;
  }
}

.secondaryBtnSm {
  background: transparent;
  color: @color-black;
  .buttonSm;
  border: 1px solid @color-black;

  &:hover {
    border-color: @color-primary;
    color: @color-text-primary;
  }
}

.flexstart {
  display: flex;
  justify-content: flex-start;
}

.flexend {
  display: flex;
  justify-content: flex-end;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.customButton {
  line-height: 18px;
  padding: 10px 20px;
  border-radius: 19px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;

  &.containedBtn {
    background-color: @color-primary;
    color: #fff;

    &:hover {
      background-color: @color-text-primary;
    }

    &:disabled {
      background-color: #8ac9e5;
    }
  }

  &.textBtn {
    background-color: transparent;
    color: #000;

    &:hover {
      background-color: @color-primary;
      color: #fff;
    }

    &:disabled {
      background-color: #8ac9e5;
      color: #fff;
    }
  }

  &.outlinedBtn {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    color: #000;

    &:hover {
      color: @color-text-primary;
      border-color: @color-primary;
    }

    &:disabled {
      color: #8ac9e5;
      border-color: #8ac9e5;
    }
  }
}

.commonGridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  list-style-type: none;

  @media @tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @media @phone {
    grid-template-columns: 1fr;
  }
}

.resetNativeButton {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.heading1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;

  @media @tablet {
    font-size: 64px;
    line-height: 72px;
  }
  @media @phone {
    font-size: 56px;
    line-height: 64px;
  }
}

.heading2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 54px;

  @media @tablet, @phone {
    font-size: 38px;
    line-height: 46px;
  }
}

.heading3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;

  @media @tablet, @phone {
    font-size: 28px;
    line-height: 36px;
  }
}

.heading4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;

  @media @tablet, @phone {
    font-size: 20px;
    line-height: 28px;
  }
}

.paragraph1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  @media @tablet, @phone {
    font-size: 18px;
    line-height: 26px;
  }
}

.paragraph1-bold {
  .paragraph1();
  font-weight: 600;
}

.paragraph1-regular {
  .paragraph1();
  font-weight: 400;
}

.paragraph2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;

  @media @tablet, @phone {
    font-size: 16px;
    line-height: 24px;
  }
}

.paragraph2-bold {
  .paragraph2();
  font-weight: 600;
}

.paragraph2-regular {
  .paragraph2();
  font-weight: 400;
}

.paragraph3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  @media @tablet, @phone {
    font-size: 14px;
    line-height: 22px;
  }
}

.paragraph3-bold {
  .paragraph3();
  font-weight: 600;
}

.paragraph3-regular {
  .paragraph3();
  font-weight: 400;
}

.paragraph4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  @media @tablet, @phone {
    font-size: 13px;
    line-height: 21px;
  }
}

.paragraph4-bold {
  .paragraph4();
  font-weight: 600;
}

.paragraph4-regular {
  .paragraph4();
  font-weight: 400;
}

.paragraph5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;

  @media @tablet, @phone {
    font-size: 12px;
    line-height: 20px;
  }
}

.paragraph5-bold {
  .paragraph5();
  font-weight: 600;
}

.paragraph5-regular {
  .paragraph5();
  font-weight: 400;
}

.paragraph6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.paragraph6-bold {
  .paragraph6();
  font-weight: 600;
}

.paragraph6-regular {
  .paragraph6();
  font-weight: 400;
}

.overflowEllipsis3Row {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
