@import url('./mixin.module.less');

.main {
  width: 100%;
  height: 100%;
  background-color: #f5f8fb;
}

.pageContainer {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 136px 0;

  @media (max-width: 1280px) {
    padding: 40px 32px 136px 32px;
  }

  @media @phone {
    padding: 40px 16px 136px 16px;
  }

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 24px;
    text-align: center;
  }

  h2 {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
  }

  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 16px;
  }

  .note {
    display: flex;
    align-items: center;
    background-color: rgba(224, 242, 252, 0.8);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 24px;

    .iconWrapper {
      margin-right: 10px;
      font-size: 0;
      line-height: 0;
    }
  }

  .contentWrapper {
    display: flex;
    gap: 64px;

    @media (max-width: 1280px) {
      gap: 32px;
    }

    @media @tablet {
      gap: 128px;
      flex-direction: column;
    }

    @media @phone {
      gap: 80px;
      flex-direction: column;
    }

    .leftPart {
      flex: 0 1 412px;
      padding: 32px 49px 32px 40px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0;

      @media @tablet {
        gap: 64px;
      }

      @media @phone {
        gap: 32px;
      }

      .dataSize,
      .indexType {
        width: 100%;
      }

      .dataItem {
        margin-bottom: 18px;

        .label {
          font-weight: 400;
          font-size: 12px;
          line-height: 1.5em;
          margin-bottom: 16px;
        }

        .interpretation {
          font-weight: 400;
          font-size: 12px;
          line-height: 1.5em;
          margin-bottom: 24px;
        }

        .sliderWrapper {
          padding: 0 8px;
        }

        .shortMargin {
          margin-bottom: 8px;
        }

        .largeMargin {
          margin-bottom: 32px;
        }
      }

      .arrowIcon {
        display: inline-block;
        width: 11px;
        height: 9px;
        background-color: #000;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }

      .dropdownController {
        border-radius: 2em;
        padding: 19px 52px 19px 34px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000;
      }

      .dropdownMenu {
        margin-top: 8px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
        border-radius: 29px;
        padding: 8px 0;
        max-height: 300px;

        & > div {
          padding: 14px 32px;

          &:hover {
            background-color: #eff9fe;
            color: #1493cc;
          }
        }
      }
    }

    .rightPart {
      flex: 1;

      .contentClassName {
        color: #1493cc;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
      }

      .capacity {
        margin-bottom: 32px;

        .cardsWrapper {
          display: flex;
          gap: 20px;
        }
      }

      .cluster {
        margin-bottom: 24px;

        .cardsWrapper {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          column-gap: 20px;
          row-gap: 20px;

          @media @tablet {
            grid-template-columns: repeat(3, 1fr);
          }

          @media @phone {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      .downloadBtn {
        border: none;
        outline: none;
        background-color: #00a1ea;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 2em;
        cursor: pointer;

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          margin-left: 8px;
        }
      }
    }
  }
}
