@import "../include_media";

.button-wrapper {
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;

  & .contained {
    background: #12c3f4;
    color: #fff;
    padding: 16px 32px;
    display: inline-block;
    padding: 16px 32px;
    cursor: pointer;

    @include media("<=1000px") {
      padding: 8px 24px;
    }

    &:hover {
      background: #e3f9ff;
      color: #12c3f4;
    }

    // &:visited {
    //   background: #009ade;
    //   color: #fff;
    // }
  }

  & .text {
    color: #12c3f4;
    display: inline-block;
    cursor: pointer;
  }

  & .outline {
    border: 1px solid #06aff2;
    border-radius: 4px;
    color: #12c3f4;
    background-color: #fff;
    display: inline-block;
    padding: 16px 32px;
    cursor: pointer;

    @include media("<=1000px") {
      padding: 8px 24px;
    }
  }
}
