@import (reference) '../../styles/global.module.less';

.subscribeContainer {
  background: #fff;
  width: 100%;

  .title {
    .paragraph1-bold();
    margin-bottom: 8px;
    color: @color-black1;
  }
}

.subscribeSection {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 100%;

  @media @tablet {
    max-width: 420px;
    flex: auto;
  }

  @media @phone {
    flex: auto;
    flex-direction: column;
    max-width: 100%;
    gap: 4px;
  }

  .inputWrapper {
    width: 100%;

    .errorMessage {
      .paragraph4-regular();
      color: @color-warning;
      margin-top: 8px;
    }
  }

  .customInputContainer {
    border-radius: 10px;
    border: 1px solid @color-black3;
    padding: 8px 16px;
    background-color: #fff;

    &:focus-within {
      border-color: #000;
    }

    .customInput {
      .paragraph4-regular();
      border-bottom: none;
      padding: 0;

      &:focus {
        border-bottom: none;
        padding: 0;
      }
    }
  }

  .customScribeButton {
    .paragraph4();
    padding: 9px 16px;
    border: none;
    @media @phone {
      width: 100%;
      justify-content: center;
    }
  }
}
