.mv3TreeView {
  list-style: none;
  padding: 0;
  margin: 0;
}

.treeItemChildren {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

.treeItemLabel {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-01);
  font-family: Geist;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: #f5f8fb;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    color: inherit;
    font-size: inherit;
    line-height: inherit;

    span {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.treeItemLeaf {
  padding-left: 28px;
}

.treeItemIcon {
  display: flex;
  align-items: center;
  margin-right: 4px;
  opacity: 0.3;
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.treeItemIconExpanded {
  transform: rotate(90deg);
}

.collapsibleContent {
  overflow: hidden;
}

.collapsibleContent[data-state='open'] {
  animation: treeViewSlideDown 0.2s ease-out;
}

.collapsibleContent[data-state='closed'] {
  animation: treeViewSlideUp 0.2s ease-out;
}

@keyframes treeViewSlideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes treeViewSlideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.selected {
  a {
    color: var(--color-text-primary);
  }
}
