@import (reference) '../../styles/global.module.less';

.mv3TreeView {
  div:global(.MuiTreeItem-content.Mui-selected) {
    background-color: transparent;
  }

  div:global(.MuiTreeItem-content.Mui-focused) {
    background-color: transparent;
  }

  div:global(.MuiTreeItem-content) {
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;

    &:hover {
      background-color: #f5f8fb;
    }

    :global(.MuiTreeItem-label),
    a {
      display: flex;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      height: 100%;
      color: @color-grey-01;
      font-family: Geist;

      span {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  :global(.Mui-selected) {
    .mv3-item-link,
    :global(.MuiTreeItem-label) {
      & > a {
        color: @color-text-primary;
      }
    }
  }

  div:global(.MuiTreeItem-iconContainer) {
    svg {
      opacity: 0.3;
    }
  }

  div:global(.MuiTreeItem-label) {
    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }
}

.mv3-item-link {
  display: inline-block;
  width: 100%;
  height: 100%;

  svg {
    display: inline-block;
    vertical-align: middle;
  }
  svg {
    margin-right: 8px;
  }
}
