@import (reference) '../../styles/global.module.less';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  .mv3-toc-container {
    .Mui-focused {
      background-color: #fff !important;
    }
    .Mui-selected {
      background-color: #fff;
      .MuiTreeItem-label {
        a {
          color: @color-text-primary;
        }
      }
    }
    .MuiTreeItem-content {
      padding-left: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      &:hover {
        background-color: #f5f8fb;
      }
      .MuiTreeItem-iconContainer {
        display: none;
      }
    }

    .mv3-toc-tree {
      padding-left: 0;
    }

    .mv3-toc-tree {
      .MuiTreeItem-label,
      a {
        padding-left: 0;

        /* H8/Regular */
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        letter-spacing: 0.02em;

        color: @color-grey-01;
      }
    }
  }
  .mv3-toc-tree {
    position: relative;
    left: -8px;
  }
}

.title {
  /* H7/Bold */

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;

  color: @color-black;
}
