@import (reference) '../../styles/global.module.less';

.BlogCardWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  .cover {
    width: 100%;
  }

  .descWrapper {
    .title {
      .paragraph2();
      .overflowEllipsis3Row();
      margin-top: 0;
      color: #000;
      height: 78px;

      &:hover {
        text-decoration: underline;
      }

      @media @tablet, @phone {
        height: 72px;
      }
    }

    .bottomWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tags {
        .paragraph4();
        display: flex;
        gap: 10px;
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        color: @color-blue1;
        margin-bottom: 4px;
      }
    }
  }

  &.row {
    flex-direction: row;
    gap: 24px;

    :global(.cover-container) {
      max-width: 180px!important;
      align-self: flex-start;
      margin-bottom: 0;
    }

    .cover {
      flex: 0 1 40%;
      max-width: 180px;
    }

    .descWrapper {
      flex: 1 1 calc(60% - 24px);
      min-width: 200px;

      .title {
        font-weight: 600;
        color: @color-black1;
      }
    }

    .bottomWrapper {
      .tags {
        color: @color-black1;
        letter-spacing: 1.2px;
        font-weight: 600;
      }
    }
  }
}
