@import (reference) '../../styles/global.module.less';

.demoCard {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 60px;
  border: 1px solid @color-black3;
  background-color: @color-white1;
  padding: 30px;
  border-radius: 16px;

  @media @tablet, @phone {
    flex-direction: column;
  }

  .coverWrapper {
    flex: 1;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    aspect-ratio: 55 / 27;

    img {
      width: 100%;
    }
  }

  .contentWrapper {
    flex: 1;

    h3 {
      .heading3();
      margin-bottom: 12px;
    }

    p {
      .paragraph2-regular();
      color: @color-black2;
      margin-bottom: 20px;
    }

    .btnGroup {
      display: flex;
      align-items: center;
      gap: 24px;
      flex-wrap: wrap;

      .tryBtn {
        background-color: transparent;

        &:hover {
          opacity: 0.7;
        }
      }

      .watchBtn {
      }
    }
  }
}
