@import "../../components/include_media";

.home-page-container {
  max-width: 1440px;
  padding: 0 96px 0 108px;
  margin: 0 auto;
  background-image: url(../../images//v2//guidebg.png);
  background-size: contain;
  background-position: center center;
  background-repeat: repeat-y;
  background-origin: content-box;
  
  @include media("<=1000px") {
    padding: 0;
  }

  .banner {
    display: flex;
    padding: 140px 16px 81px 16px;
    margin-bottom: 80px;
    @include media("<=1000px") {
      padding: 16px;
      margin: 80px 0;
    }

    .banner-left {
      flex: 1;

      .stars-layout {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        // .git-stars {
        //   .git-btn {
        //     background-image: none;
        //     background-color: #fff;
        //   }

        //   .gh-count {
        //     &::before,
        //     &::after {
        //       border-color: #12c3f4;
        //     }
        //   }

        //   a {
        //     border: 1px solid #12c3f4;
        //     border-radius: 4px;
        //   }
        // }
      }

      .title {
        font-family: Brinnan Bold;
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-align: left;
        margin-bottom: 24px;
        word-break: break-all;
      }
    }

    .banner-right {
      flex: 1;

      &-anime {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content {
    margin-bottom: 60px;

    .title-bar {
      display: flex;
      align-items: center;
      padding: 16px;
      @include media("<=1000px") {
        margin-bottom: 32px;
      }

      .title {
        font-family: Brinnan Bold;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
      }

      .line {
        display: inline-block;
        width: 221px;
        height: 1px;
        background-color: #12c3f4;
        margin-left: 24px;
      }
    }

    .feature-section {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      list-style: none;
      padding-bottom: 200px;

      @include media("<=1000px") {
        flex-direction: column;
        position: relative;
        overflow-x: hidden;
        padding-bottom: 40px;
      }

      .spline-wrapper {
        position: absolute;
        left: -650px;
        top: 0;
        height: 100%;
        z-index: 1;
      }

      .section-item {
        width: 33.33%;
        flex: 0 0 auto;
        padding: 16px;

        z-index: 2;

        @include media("<=1000px") {
          width: 100%;
          margin-bottom: 32px;
        }

        .icon-wrapper {
          width: 32px;
          height: 32px;
          margin-bottom: 8px;

          @include media("<=1000px") {
            margin-bottom: 16px;
            padding: 0 8px;
          }
        }

        .title {
          font-family: Inter SemiBold;
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 24px;
          height: 48px;

          @include media("<=1000px") {
            border-left: 2px solid #00ffa3;
            height: auto;
            padding: 0 8px;
          }
        }

        .text {
          font-family: Inter Regular;
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 16px;

          @include media("<=1000px") {
            margin-bottom: 12px;
          }
        }
      }

      .bg-container {
        display: none;
        position: absolute;
        width: 486px;
        height: 288px;
        background: url(../../images/v2/bg-img2.png) center center no-repeat;
        background-size: contain;
        z-index: -1;
        left: -130px;
        bottom: 0;
        opacity: 0.8;

        @include media("<=1000px") {
          display: block;
        }
      }
    }

    .slogan-section {
      width: 100%;
      background: rgba(245, 243, 243, 0.4);
      border-radius: 24px;
      padding: 48px;
      text-align: center;

      @include media("<=1000px") {
        padding: 48px 20px;
      }

      .title {
        font-family: Brinnan Bold;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 24px;

        @include media("<=1000px") {
          font-size: 24px;
          line-height: 40px;
        }
      }

      .text {
        font-family: Inter Regular;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 32px;
      }
    }
  }
}
