@import (reference) '../../../styles/global.module.less';
@import (reference) '../../../styles/responsive.module.less';

div.docHeader {
  .docContainer();
}

div.mainContainer {
  display: flex;

  .flexibleContainer {
    position: sticky;
    top: @header-height-desktop;
    height: calc(100vh - @header-height-desktop);
    background-color: #fff;
    z-index: 998;
    min-width: 24px;
    flex-shrink: 0;
    flex-grow: 0;

    @media @bannerBreak {
      top: @header-height-tablet;
      height: calc(100vh - @header-height-tablet);
    }
  }

  .contentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 0;
  }

  footer.docFooterContainer {
    width: 100%;
  }
  div.docFooter {
    width: 100%;
    max-width: 100%;
    padding-left: 48px;
    padding-right: 48px;

    @media @phone {
      padding-left: 25px;
      padding-right: 25px;
    }

    .docFooterContent {
      @media (max-width: 1230px) {
        flex-direction: column;
        gap: 48px;

        .docFooterNav {
          flex: auto;
          margin-left: 0;
        }
      }
    }
  }
}
