@import "../css/variables/main.less";

.notfound-container {
  --header-height: 89px;
  --header-mobile-height: 87px;
  --footer-height: 60px;
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding-top: var(--header-height);
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;

  @media @phone {
    min-height: calc(
      100vh - var(--header-mobile-height) - var(--footer-height)
    );
    padding-top: var(--header-mobile-height);
  }

  .notfount-center-wrapper {
    width: 100%;
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    @media @tablet {
      padding: 0 32px;
    }

    @media @phone {
      padding: 0 16px;
    }
  }

  .notfound-titlebar {
    display: flex;
    margin-top: 80px;
    margin-bottom: 24px;
    justify-content: center;
    align-items: flex-end;

    @media @phone {
      margin-top: 24px;
    }

    .notfound-title {
      font-size: 40px;
      line-height: 32px;
      margin-right: 24px;

      @media @phone {
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }

  .notfound-content {
    font-size: 16px;
    line-height: 32px;

    @media @phone {
      font-size: 14px;
    }
  }

  .notfound-button {
    margin-top: 24px;
    .primaryBtn;

    span {
      margin-left: 16px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
    }
  }
}
