@import '../css/variables/responsive.less';
@import '../css/variables/color.less';
@import '../../static/iconFonts/css/all.min.css';
@import '../css/variables/fontStyle.less';
@import '../css/fonts/fonts.less';

@screan-layout-width: 1440px;

.pageContainer {
  background: #fafafa;
  margin-top: 90px;
  min-height: 100vh;
  .fontSwitchInter();

  h1 {
    font-family: Brinnan Bold;
    font-size: 48px;
    line-height: 60px;

    @media @phone {
      font-size: 40px;
      line-height: 50px;
    }
  }

  h2,
  h3 {
    font-family: Brinnan Bold;
    font-size: 32px;
    line-height: 38px;

    @media @phone {
      font-size: 26px;
      line-height: 32px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;

    @media @phone {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.hackathonContainer {
  .innerWrapper {
    max-width: @screan-layout-width;
    margin: 0 auto;
    padding: 40px 125px;

    @media @tablet {
      padding: 40px 80px;
    }

    @media @phone {
      padding: 40px 16px;
    }
  }

  .btnLabel {
    margin-right: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    @media @phone {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .spliteLine {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    width: 33.33%;

    @media @tablet {
      width: 80%;
    }

    @media @phone {
      width: 100%;
      margin-bottom: 24px;
    }

    .text {
      flex-grow: 1;
    }

    .line {
      margin-left: 24px;
      display: inline-block;
      width: 15%;
      height: 1px;
      background: #4fc4f9;
      flex-grow: 1;
    }
  }

  .firstSection {
    width: 100%;
    background: #fff;

    h1,
    h2 {
      margin-bottom: 40px;

      @media @phone {
        margin-bottom: 24px;
      }
    }

    .alert {
      color: #29b6f8;
      display: flex;
      align-items: center;
      margin-top: 40px;

      img {
        height: 42px;
        margin-right: 8px;
      }

      p {
        font-style: italic;
        margin-right: 24px;
        font-family: Inter Medium;
        font-style: 20px;

        @media @phone {
          margin-right: 16px;
        }
      }
    }

    .bannerWrapper {
      display: flex;
      padding-bottom: 40px;
      justify-content: space-between;

      @media @tablet {
        flex-direction: column;
      }

      &:last-child {
        padding-top: 40px;
      }

      &:first-child {
        border-bottom: 1px solid #afafaf;
      }

      .firstContent {
        color: #545454;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;

        @media @phone {
          font-size: 14px;
          line-height: 20px;
        }
      }

      .secondContent {
        color: #010e29;
        font-size: 16px;
        line-height: 24px;

        @media @phone {
          font-size: 14px;
          line-height: 20px;
        }
      }

      .leftPart {
        flex: 0 1 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media @tablet {
          margin-bottom: 40px;
        }
      }

      .rightPart {
        flex: 0 1 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          max-height: 100%;
        }

        @media @phone {
          display: none;
        }
      }
    }

    .firstBannerWrapper {
      .rightPart {
        min-height: 342px;
      }
    }

    .secondBannerWrapper {
      margin-top: 40px;

      .leftPart {
        box-sizing: border-box;
        padding-right: 32px;
      }

      .rightPart {
        padding: 0 60px;
        min-height: 214px;
      }
    }
  }

  .secondSection {
    .innerWrapper {
      width: 850px;
      text-align: center;
      padding: 40px;

      @media (max-width: @screan-layout-width) {
        width: 80%;
      }

      @media @phone {
        width: 100%;
      }
    }

    h2,
    p {
      margin-bottom: 40px;

      @media @phone {
        margin-bottom: 24px;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;

      @media @phone {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .thirdSection {
    background: #fff;
    padding: 40px 0;

    .stepContent {
      display: flex;
      justify-content: space-between;

      @media @tablet {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .forthSection {
    max-width: @screen-lg-max;
    margin: 0 auto;
    padding-top: 75px;
    background: url('../images/hackathon/bg-image-1.png') 0% 0% no-repeat;
    background-size: 349px 271px;

    @media @phone {
      background-size: 115px 91px;
    }

    .innerWrapper {
      text-align: center;
      width: 1000px;
      padding: 40px;

      @media (max-width: @screan-layout-width) {
        width: 80%;
      }

      @media @phone {
        width: 100%;
      }

      h2 {
        margin-bottom: 40px;

        @media @phone {
          margin-bottom: 24px;
        }
      }

      p {
        span {
          color: #29b6f8;
        }
      }
    }
  }

  .fifthSection {
    max-width: @screen-lg-max;
    margin: 0 auto;
    padding: 40px 0;
    background: url('../images/hackathon/bg-image-2.png') right bottom no-repeat;
    background-size: 120px 100px;

    .issueListWrapper {
      background-color: #fff;
      padding: 24px 32px;

      @media @tablet {
        padding: 16px;
      }

      @media @phone {
        padding: 0;
      }

      .listHeader {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        padding: 0 32px;

        @media @tablet {
          column-gap: 16px;
          padding: 0 16px;
        }

        .headerItem {
          padding: 32px 0;
          border-bottom: 1px solid #ccc;
          text-align: left;
          font-size: 14px;
          line-height: 18px;
          font-weight: 600;
          text-transform: uppercase;

          @media @tablet {
            padding: 16px 0;
          }

          &:last-child {
            margin-left: 76px;

            @media @tablet {
              margin-left: 0;
            }
          }
        }
      }

      .listBody {
        list-style: none;

        .lastIssueCard {
          div {
            border: none;
          }
        }
      }
    }
  }

  .sixthSection {
    background-color: #fff;
    padding: 40px 0;

    .contentWrapper {
      width: 645px;
      text-align: center;
      margin: 0 auto;

      @media @tablet {
        width: 80%;
      }

      @media @phone {
        width: 100%;
      }

      h2 {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;

        @media @phone {
          margin-bottom: 24px;
        }
      }

      p {
        text-align: center;
        margin-bottom: 24px;
      }
    }

    .tip {
      color: #82838e;
      font-size: 16px;
      line-height: 24px;
      margin-top: 8px;

      @media @phone {
        font-size: 14px;
        line-height: 20px;
      }

      a {
        color: #29b6f8;
        text-decoration: underline;
        padding: 0 4px;
        text-transform: lowercase;
      }
    }

    .bigstPrize {
      display: flex;
      border: 2px solid #e2e2e2ee;

      @media @tablet {
        flex-direction: column;
      }

      .leftPart {
        flex: 3;

        @media @tablet {
          margin-bottom: 16px;
        }

        img {
          width: 100%;
        }
      }

      .rightPart {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        .textWrapper {
          position: relative;

          &::before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url('../images/hackathon/marks.svg') center center
              no-repeat;
            background-size: contain;
            position: absolute;
            left: -35px;
            top: -5px;
          }

          &::after {
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url('../images/hackathon/marks.svg') center center
              no-repeat;
            background-size: contain;
            position: absolute;
            right: -35px;
            top: -5px;
          }

          .text {
            text-align: center;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            display: block;
            margin-bottom: 16px;

            @media @phone {
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }
    }

    .prizeList {
      width: 100%;
      list-style: none;
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;

      @media @tablet {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 20px;
      }

      .prizeListItem {
        img {
          width: 100%;
        }

        .nameWprapper {
          padding: 46px 0 71px 0;
          text-align: center;
          font-size: 18px;
          line-height: 28px;
          font-weight: 700;
          border-color: transparent #e2e2e2 #e2e2e2 #e2e2e2;
          border-width: 1px;
          border-style: solid;

          @media @phone {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .seventhSection {
    background: #fff;

    .innerWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;

      @media @phone {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 40px;
      }

      .spliteLine {
        display: flex;
        width: 100%;

        .line {
          flex: 1;
        }
      }

      .leftPart {
        p {
          margin: 80px 0 40px 0;
          color: #010e29;
        }
      }

      .rightPart {
        img {
          width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .eighthSection {
    max-width: @screen-lg-max;
    margin: 0 auto;
    padding: 50px 0;
    background: url('../images/hackathon/bg-image-3.png') right bottom no-repeat;
    background-size: 189px 198px;
    text-align: center;

    h2 {
      margin-bottom: 40px;
    }

    .contactList {
      display: flex;
      justify-content: space-around;
      padding: 40px 0;

      .contactCard {
        display: flex;
        padding: 24px;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        transition: all 0.3s linear;
        border-radius: 8px;
        color: #000;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
        margin-bottom: 8px;

        &:hover {
          transform: translateY(-15px);
        }

        img {
          margin-right: 16px;
          width: 80px;
        }

        p {
          font-size: 14px;
          line-height: 24px;

          @media @phone {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }

      @media (max-width: 730px) {
        flex-direction: column;

        &:first-child {
          margin-bottom: 16px;
        }
      }
    }
  }
}

.sizingToolContainer {
  margin-top: 0;
  display: flex;
  flex-direction: column;

  .hint {
    color: rgba(0, 0, 0, 0.33);
    font-size: 12.8px;
    letter-spacing: 0;
  }

  .mHint {
    color: @color-dark;
    font-size: 12.8px;
  }

  .header {
    padding: 16px 32px;
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    font-size: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    @media (max-width: 1350px) {
      padding: 16px;
    }
  }

  .content {
    flex: 1;
    display: flex;
    padding: 80px 120px;
    margin-top: 61px;

    @media (max-width: 1200px) {
      padding: 80px;
    }

    @media @tablet {
      flex-direction: column;
      padding: 40px 60px;
      .leftSection {
        margin-bottom: 40px;
      }
    }

    @media @phone {
      padding: 40px 16px;
    }

    .leftSection {
      flex-basis: 30%;
      padding: 0 124px;

      @media (max-width: 1200px) {
        padding: 64px;
      }

      @media @tablet {
        padding: 0 60px;
      }

      @media @phone {
        padding: 0 16px;
      }

      .form {
        padding: 20px 0;
      }
    }

    .rightSection {
      flex-basis: 70%;
      padding: 0 124px;

      @media (max-width: 1200px) {
        padding: 0 64px;
      }

      @media @tablet {
        padding: 0 60px;
      }

      @media @phone {
        padding: 0 16px;
      }

      .tableWrapper {
        h2 {
          font-weight: 700;
          border-bottom: 1px solid #ccc;
          padding: 16px 0;
          font-size: 16px;
          line-height: 24px;
        }
        margin-top: 24px;
      }
    }
  }
}
