@import "../css/variables/main.less";
@import "../css/reset/index.less";
@import "../css/variables/responsive.less";

@font-size-normal: 18px;
@font-size-title: 40px;

.homepage {
  .section2 {
    text-align: center;
    margin: 0 auto;
    h2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 50px;
      @media @desktop1440 {
        font-size: 32px;
      }
      @media @desktop1920 {
        font-size: 40px;
      }
    }
    h5 {
      margin: 24px auto 80px auto;
      line-height: 26px;
      max-width: 626px;
      font-size: @font-size-normal;
      @media @phone {
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10%;
      li {
        display: flex;
        list-style: none;
        align-items: center;
        flex-direction: column;
        max-width: 320px;
        min-width: 285px;
        margin-top: 60px;
        h4 {
          margin: 20px 0;
          font-weight: bold;
          font-size: 24px;
          line-height: 34px;
        }
        p {
          color: #9ca6b2;
          font-size: 14px;
          line-height: 20px;
        }
        img {
          max-width: 100px;
        }
      }
    }
  }
  .section3 {
    margin: 160px auto;
    .example-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 124px;
      margin-top: 32px;
      @media @tablet, @phone {
        display: block;
        flex-direction: column;
        .code-example {
          margin-bottom: 40px;
        }
      }
      .code-example {
        flex: 1;
        min-width: 300px;
        overflow: scroll;
        background: #021726;
        box-shadow: 0px 20px 40px rgba(22, 36, 111, 0.2);
        border-radius: 12px;
        height: 460px;
        pre code.hljs {
          display: block;
          overflow-x: auto;
        }
        code.hljs {
          padding: 3px 5px;
        }
        .hljs {
          color: #abb2bf;
          background: #021726;
        }
        .hljs-keyword,
        .hljs-operator,
        .hljs-pattern-match {
          color: #f92672;
        }
        .hljs-function,
        .hljs-pattern-match .hljs-constructor {
          color: #61aeee;
        }
        .hljs-function .hljs-params {
          color: #a6e22e;
        }
        .hljs-function .hljs-params .hljs-typing {
          color: #fd971f;
        }
        .hljs-module-access .hljs-module {
          color: #7e57c2;
        }
        .hljs-constructor {
          color: #e2b93d;
        }
        .hljs-constructor .hljs-string {
          color: #9ccc65;
        }
        .hljs-comment,
        .hljs-quote {
          color: #b18eb1;
          font-style: italic;
        }
        .hljs-doctag,
        .hljs-formula {
          color: #c678dd;
        }
        .hljs-deletion,
        .hljs-name,
        .hljs-section,
        .hljs-selector-tag,
        .hljs-subst {
          color: #e06c75;
        }
        .hljs-literal {
          color: #56b6c2;
        }
        .hljs-addition,
        .hljs-attribute,
        .hljs-meta .hljs-string,
        .hljs-regexp,
        .hljs-string {
          color: #98c379;
        }
        .hljs-built_in,
        .hljs-class .hljs-title,
        .hljs-title.class_ {
          color: #e6c07b;
        }
        .hljs-attr,
        .hljs-number,
        .hljs-selector-attr,
        .hljs-selector-class,
        .hljs-selector-pseudo,
        .hljs-template-variable,
        .hljs-type,
        .hljs-variable {
          color: #d19a66;
        }
        .hljs-bullet,
        .hljs-link,
        .hljs-meta,
        .hljs-selector-id,
        .hljs-symbol,
        .hljs-title {
          color: #61aeee;
        }
        .hljs-emphasis {
          font-style: italic;
        }
        .hljs-strong {
          font-weight: 700;
        }
        .hljs-link {
          text-decoration: underline;
        }
      }
      .milvus-feature {
        flex: 0 0 40%;
        position: relative;
        p {
          padding: 20px 0;
          border-top: 1px solid#EFF9FE;
          font-size: 32px;
          line-height: 42px;
          color: #c5ccd6;
          cursor: pointer;
          &.active {
            color: #4fc4f9;
            font-weight: bold;
          }
          @media @tablet, @phone {
            font-size: 18px;
            line-height: 26px;
          }
        }

        .shooting_star_container {
          position: absolute;
          left: 0;
          transform: rotateZ(0deg);
          &.install-shooting {
            top: 0px;
          }
          &.manage-shooting {
            top: 83px;
            @media @tablet, @phone {
              top: 67px;
            }
          }
          &.search-shooting {
            top: 164px;
            @media @tablet, @phone {
              top: 134px;
            }
          }
          .shooting_star {
            animation: tail1 6000ms ease-in-out infinite,
              shooting1 6000ms ease-in-out infinite;
          }
        }

        .shooting_star {
          position: absolute;
          height: 2px;
          background: linear-gradient(
            270deg,
            #00a1ea 2%,
            rgba(0, 161, 234, 0) 100%
          );
          border-radius: 999px;
          filter: drop-shadow(0 0 6px rgba(66, 255, 210, 1));
        }

        .learn-more {
          margin-top: 40px;
        }
      }
    }
    pre {
      code {
        padding: 0;
        line-height: 26px;
        background: #fff;
      }
    }

    .code-example-tab {
      button {
        color: @color-grey-02;
      }

      button.Mui-selected {
        color: @color-black;
      }

      .MuiTabs-indicator {
        background-color: @color-black;
      }
    }
  }

  .attu-desc {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;

    h2 {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
      color: @color-black;
    }
    p {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: @color-grey-01;
      max-width: 600px;
    }
  }

  .attu-section {
    margin: 80px auto;

    .left-title {
      height: 118px;
      padding-bottom: 34px;
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 42px;
      color: @color-black;

      @media @tablet, @phone {
        font-size: 24px;
        line-height: 34px;
        text-align: center;
      }

      span {
        color: #4fc4f9;
      }
    }

    .milvus-feature p.left-li {
      padding: 10px 0;

      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;

      @media @tablet, @phone {
        font-size: 14px;
        line-height: 20px;

        padding: 15px 0;
      }
    }

    .attu-feature {
      .shooting_star_container {
        &.manage-shooting {
          top: 118px;
        }
        &.search-shooting {
          top: 162px;
          @media @tablet, @phone {
            top: 168px;
          }
        }
        &.index-shooting {
          top: 206px;
          @media @tablet, @phone {
            top: 218px;
          }
        }
      }
    }

    .btn-groups {
      display: flex;
      gap: 10px;
      padding-top: 34px;

      @media @tablet, @phone {
        justify-content: center;
        .download-attu {
          justify-content: center;
        }
      }

      @media @phone {
        flex-direction: column;

        button {
          width: 100%;
        }
      }
    }

    .example-wrapper {
      flex-wrap: nowrap;
      gap: unset;
      align-items: center;

      @media @tablet, @phone {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .attu-example {
      max-width: 710px;
      min-height: 395px;
      width: 100%;
      height: auto;
      background-image: url(../images/home/attu_1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      filter: drop-shadow(0px 20px 40px rgba(0, 43, 125, 0.25));
      border-radius: 6px;
      transition: all 0.5s;

      &.attu-example-1 {
        background-image: url(../images/home/attu_2.jpg);
      }
      &.attu-example-2 {
        background-image: url(../images/home/attu_3.jpg);
      }
    }
  }
}
