.ikp-ai-chat-tagline__container,
.ikp-ai-search-tagline__container {
  align-items: center;
  position: relative;
}
.ikp-ai-chat-tagline__text,
.ikp-ai-search-tagline__text {
  visibility: hidden;
  width: 20px;
}
.ikp-ai-chat-tagline__text:before,
.ikp-ai-search-tagline__text:before {
  content: 'By';
  font-weight: normal;
  visibility: visible;
}
.ikp-ai-chat-tagline__container:after,
.ikp-ai-search-tagline__container:after {
  content: '';
  margin-left: 1.35rem;
  width: 54px;
  height: 22px;
  background: url('/inkeep/zilliz-grayscale.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ikp-ai-chat-tagline__container:before,
.ikp-ai-search-tagline__container:before {
  content: '&';
  position: absolute;
  right: 54px;
  color: #889096;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
  font-size: 0.875rem;
  font-weight: 600;
  transform: translateY(-50%);
  top: 50%;
}
.ikp-markdown-code {
  color: #fff !important;
}

.ikp-ai-chat-message-sources {
  .ikp-ai-chat-message-sources__header {
    color: #5d6d85;
    margin-bottom: 8px;
  }

  .ikp-ai-chat-message-sources__list {
    gap: 0px;

    .ikp-ai-chat-message-source-item {
      width: fit-content;
      display: flex;
      gap: 8px;
      justify-content: flex-start;
      align-items: center;
      border: none;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-right: 0px;
      padding-left: 0px;
      background-color: #fff;

      &:hover {
        background-color: #fff;
      }

      .ikp-ai-chat-message-source-item__breadcrumbs {
        display: none;
      }

      .ikp-ai-chat-message-source-item__title {
        font-size: 12px;
        font-weight: 400;
        color: #1d2939;
      }

      .ikp-ai-chat-message-source-item__tag {
        display: none;
      }

      .ikp-ai-chat-message-source-item__indicator {
        margin-left: 0px;
        stroke: #1d2939;
      }

      .ikp-ai-chat-message-source-item__icon {
        stroke: #1d2939;
      }
    }
  }
}
