.ikp-ai-chat-tagline__container,
.ikp-ai-search-tagline__container {
  align-items: center;
  position: relative;
}
.ikp-ai-chat-tagline__text,
.ikp-ai-search-tagline__text {
  visibility: hidden;
  width: 20px;
}
.ikp-ai-chat-tagline__text:before,
.ikp-ai-search-tagline__text:before {
  content: 'By';
  font-weight: normal;
  visibility: visible;
}
.ikp-ai-chat-tagline__container:after,
.ikp-ai-search-tagline__container:after {
  content: '';
  margin-left: 1.35rem;
  width: 54px;
  height: 22px;
  background: url('/inkeep/zilliz-grayscale.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ikp-ai-chat-tagline__container:before,
.ikp-ai-search-tagline__container:before {
  content: '&';
  position: absolute;
  right: 54px;
  color: #889096;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
  font-size: 0.875rem;
  font-weight: 600;
  transform: translateY(-50%);
  top: 50%;
}
.ikp-markdown-code {
  color: #fff !important;
}
