.bootcampContainer {
  width: 100%;
  max-width: 1145px;
  padding: 40px 0;
  margin: 0 auto;

  .title {
    font-family: 'inter Bold';
    font-size: 24px;
    line-height: 32px;
    margin-top: 64px;
  }
  .benchmarkContainer {
    .benchmarksWrapper {
      display: flex;

      .linkCardItem {
        flex-basis: 33.33%;
        & + a {
          margin-left: 20px;
        }
      }
    }
  }
  .benchmarkContainer {
  }
  .solutionContainer {
  }
  .deploymentContainer {
  }
}
