@import '../../css//variables/color.less';
@import '../../css/variables/responsive.less';
@import '../../css/fonts/fonts.less';

body {
  background-color: #fff !important;
}
.bootcampContainer {
  width: 100%;
  max-width: @screen-lg-max;
  margin: 0 auto;

  .header {
    background-color: #fafafa;
  }

  .mainContainer {
    margin-top: 147px;
    padding: 40px 140px 358px;
    background-color: #fff;

    @media @tablet {
      padding: 16px 16px 82px;
      margin-top: 144px;
    }

    .title {
      font-family: 'Inter Bold';
      font-size: 24px;
      line-height: 32px;
      margin: 64px 0 20px;

      @media @tablet {
        margin: 32px 0 8px;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .solutionsWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      list-style: none;

      @media @tablet {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 0px;
      }
    }
  }
}
