@import (reference) '../../styles/global.module.less';

.iconWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
}

a.cnIconButton,
button.cnIconButton {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid @color-black3;

  &:hover {
    border-color: @color-black2;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

a.iconButton {
  border-radius: 12px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 0;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 1 !important;
    svg rect {
      stroke: @color-black2;
    }
  }
}

.popperContainer {
  position: relative;
  z-index: 0;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);

  &::after {
    border-radius: 12px;
    position: absolute;
    content: '';
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(58, 196, 255, 0.7) 0%,
      rgba(104, 254, 194, 0.7) 100%
    );
  }
}
