@import "../include_media";

.full-header-wrapper {
  background: #fff;
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 0;
  z-index: 100;
  box-sizing: border-box;
  background: #fff;
  max-width: 1600px;
  // overflow: hidden;
  margin: 0 auto;
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  // text-transform: uppercase;

  .logo-wrapper {
    display: flex;
    align-items: center;
    padding-left: 20px;

    img {
      margin-right: 16px;
    }

    .lfai {
      height: 2rem;
      margin-top: 6px;
    }
  }

  .language {
    position: relative;
    display: inline-block;
    margin-left: 16px;
    cursor: pointer;

    .language-list {
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      top: 150%;
      right: -20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

      a {
        display: block;
        margin: 10px 0;
        padding: 10px;
        color: #333;

        &.active {
          background-color: #3f9cd1;
          color: #fff;
        }
      }
    }

    &:before {
      position: absolute;
      width: 40px;
      height: 40px;
      top: -10px;
      left: 0;
      content: "";
    }

    &:after {
      display: block;
      content: '';
      border-width: 6px;
      border-style: solid;
      border-color: #333 transparent transparent transparent;

      /* 定位 */
      position: absolute;
      left: 26px;
      top: 4px;
    }

    @include media("<=1000px") {
      margin-left: 10px;
      margin-right: 18px;

      .language-list {
        display: block;
      }

      &::after {
        left: 20px;
        border-width: 4px;
      }
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;


    .link {
      color: #000;
      font-weight: normal;
      margin: 0 1rem;
      // border-bottom: 2px solid #fff;
      // padding-bottom: 8px;
      // &.current {
      //   border-bottom: 2px solid var(--color-highlight);
      // }
    }
  }

  .right-mobile {
    display: flex;
    align-items: center;

    .font-icon{
      color: #06AFF2;
      font-size: 18px;
      &:focus {
        border: none;
        outline: none;
      }
      &::before{
        padding: 5px 10px;
      }
    }
  }

  @include media("<=1000px") {
    padding: 10px 20px;
    box-shadow: none;
    background: #fff;
    padding: 0 10px 0 10px;
    max-width: 100%;

    .link {
      margin: 0;
    }

    .logo-wrapper {
      padding-left: 0;

      img {
        height: 3rem;
      }

      .lfai {
        height: 2rem;
        margin-left: 6px;
        margin-top: 6px;
      }
    }

    .right {
      padding-right: 8px;
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  font-size: 14px;
  z-index: 100;
  transition: all 0.1s linear;
  height: 0;
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box;

  a {
    display: block;
    background: #fff;
    color: var(--color-primary);
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid #eee;

    &:hover {
      background-color: var(--color-highlight);
      color: #fff;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.open {
    top: 60px;
    height: auto;
    opacity: 1;
  }
}

.gradient {
  font-weight: bold;
  background: -webkit-linear-gradient(30deg, #eee, rgba(79, 196, 249, 0.9));
  color: rgba(79, 196, 249, 0.9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}