@import "../include_media";

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 1rem 10px 2rem;
  z-index: 100;
  box-sizing: border-box;
  background: #fff;
  max-width: 100%;

  @include media("<=1000px") {
    padding: 10px 20px;
    box-shadow: none;
    background: #fff;
    padding: 0 10px 0 20px;

    .link {
      margin: 0;
    }
  }

  img {
    height: 3rem;
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      color: #000;
      font-weight: normal;
      margin: 0 1rem;
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  font-size: 14px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .3);
  background: #28292e;
  opacity: 0.8;
  z-index: 50;
  transition: all .3s linear;
  height: 0;
  overflow: hidden;
  padding: 12px 20px;
  box-sizing: border-box;

  a {
    display: block;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.open {
    top: 60px;
    height: auto;
  }
}

.gradient {
  font-weight: bold;
  background: -webkit-linear-gradient(30deg, #eee, rgba(79, 196, 249, .9));
  color: rgba(79, 196, 249, .9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}