@import "../include_media";
.full-header-wrapper {
  background: #fff;
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 0;
  z-index: 100;
  box-sizing: border-box;
  background: #fff;
  max-width: 1600px;
  // overflow: hidden;
  margin: 0 auto;
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .logo-wrapper {
    display: flex;
    align-items: center;
    padding-left: 20px;
    img {
      height: 3rem;
    }

    .lfai {
      height: 1rem;
      margin-left: 1rem;
    }
  }

  @include media("<=1000px") {
    padding: 10px 20px;
    box-shadow: none;
    background: #fff;
    padding: 0 10px 0 10px;
    max-width: 100%;

    .link {
      margin: 0;
    }

    .logo-wrapper {
      padding-left: 0;
      img {
        height: 3rem;
      }

      .lfai {
        height: 0.7rem;
        margin-left: 6px;
      }
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      color: #000;
      font-weight: normal;
      margin: 0 1rem;
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  font-size: 14px;
  z-index: 100;
  transition: all 0.1s linear;
  height: 0;
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box;

  a {
    display: block;
    background: #fff;
    color: var(--color-primary);
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid #eee;
    &:hover {
      background-color: var(--color-highlight);
      color: #fff;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.open {
    top: 60px;
    height: auto;
    opacity: 1;
  }
}

.gradient {
  font-weight: bold;
  background: -webkit-linear-gradient(30deg, #eee, rgba(79, 196, 249, 0.9));
  color: rgba(79, 196, 249, 0.9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
