$primary: #12c3f4;
$secondary: #65f8c3;
$overlay: rgba(0, 0, 0, 0.12);

$btnHoverColor: #e3f9ff;
$btnPressColor: #009ade;

$dark: #010e29;

$cardBorderColor: #e9e9ed;

$docPrimary: #1493cc;

$maxBreakpoint: 1600px;
