@import "../include_media";

$primary: #4eb8f0;

a {
  text-decoration: none;
  color: #fff;


  &.primary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    border: 2px solid $primary;
    font-weight: bold;
    letter-spacing: 2px;
    height: 48px;
    box-sizing: border-box;
    min-width: 160px;
    text-align: center;

    @include media("<=1000px") {
      &:lang(en) {
        letter-spacing: 2px;
      }
    }
  }

  &.primary-color {
    color: #fff;
    background: $primary;

  }

  &.white-color {
    color: #FFF;
    border: 1px solid #fff;

    &:hover {
      color: $primary;
      background: #fff;
    }
  }
}