@import "../include_media";

$primary: #4eb8f0;

a {
  text-decoration: none;
  color: #fff;



  &.primary {
    display: inline-block;
    padding: 10px 14px;
    border: 2px solid $primary;
    font-weight: bold;
    letter-spacing: 2px;

    @include media("<=1000px") {
      &:lang(en) {
        letter-spacing: 2px;
      }
    }
  }

  &.primary-color {
    color: #fff;
    background: $primary;

  }

  &.white-color {
    color: $primary;
    background: #fff;
  }
}