/* all less fragments here */
@import (reference) "./responsive.less";

.button {
  border-radius: 40px;
  cursor: pointer;
  height: 58px;
  padding: 20px 40px;
  font-family: "Roboto Mono";
  font-size: 16px;
  line-height: 18px;
  border: 0;

  @media @phone,
  @tablet,
  @desktop1024 {
    height: 38px;
    padding: 10px 20px;
    font-size: 14px;
  }
}

.buttonSm {
  border-radius: 40px;
  cursor: pointer;
  font-family: "Roboto Mono";
  line-height: 18px;
  border: 0;
  height: 38px;
  padding: 10px 20px;
  font-size: 14px;
}

.hover {
  transition: all 0.5s;

  &:hover {
    opacity: 0.8;
  }
}

.primaryBtn {
  background-color: var(--color-primary);
  color: white;
  .button;

  &:hover {
    background-color: var(--color-text-primary);
  }
}

.primaryBtnSm {
  background-color: var(--color-primary);
  color: white;
  .buttonSm;

  &:hover {
    background-color: var(--color-text-primary);
  }
}

.secondaryBtn {
  background: transparent;
  color: var(--color-black);
  .button;
  border: 1px solid var(--color-black);

  &:hover {
    border-color: var(--color-primary);
    color: var(--color-text-primary);
  }
}

.secondaryBtnSm {
  background: transparent;
  color: var(--color-black);
  .buttonSm;
  border: 1px solid var(--color-black);

  &:hover {
    border-color: var(--color-primary);
    color: var(--color-text-primary);
  }
}

.flexstart {
  display: flex;
  justify-content: flex-start;
}

.flexend {
  display: flex;
  justify-content: flex-end;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.customButton {
  line-height: 18px;
  padding: 10px 20px;
  border-radius: 19px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;

  &.containedBtn {
    background-color: var(--color-primary);
    color: #fff;

    &:hover {
      background-color: var(--color-text-primary);
    }

    &:disabled {
      background-color: #8ac9e5;
    }
  }

  &.textBtn {
    background-color: transparent;
    color: #000;

    &:hover {
      background-color: var(--color-primary);
      color: #fff;
    }

    &:disabled {
      background-color: #8ac9e5;
      color: #fff;
    }
  }

  &.outlinedBtn {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    color: #000;

    &:hover {
      color: var(--color-text-primary);
      border-color: var(--color-primary);
    }

    &:disabled {
      color: #8ac9e5;
      border-color: #8ac9e5;
    }
  }
}