:root {
  /* COLORS  */
  --color-primary: #12c3f4;
  --color-secondary: #65f8c3;
  --color-overlay: rgba(0, 0, 0, 0.12);
  --color-dark: #010e29;
  --color-btn-hover: #e3f9ff;
  --color-btn-press: #009ade;
  --color-card-border: #e9e9ed;
  --color-doc-primary: #1493cc;
}
