@import '../../css/variables/responsive.less';
@import '../../css/variables/color.less';

.wrapper {
  padding-top: 24px;

  @media @tablet {
    overflow: auto;
    margin: 0;
    padding: 16px;
    border-radius: 6px;
    background-color: #fff;

    max-height: calc(100vh - 30px - 136px);
  }
}

.hide {
  @media @tablet {
    transform: translate3d(-150%, 0, 0);
  }
}

.searchWrapper {
  @media @tablet {
    display: none;
  }
}

.search {
  display: inline-block;
  -webkit-appearance: none;

  width: 100%;
  outline: none;
  border: 1px solid rgba(196, 196, 196, 0.5);
  border-radius: 8px;

  box-sizing: border-box;
  padding: 10px 16px;
  margin-bottom: 24px;

  color: @color-dark;
  font-size: 14px;
  line-height: 16px;

  transition: border-color 0.2s ease;

  &::placeholder {
    color: #aeaebb;
  }

  &:focus {
    border-color: @color-doc-primary;
    outline: none;
  }
}

.versionWrapper {
  .link {
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    opacity: 0.75;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Inter Bold';
    color: @color-default-link;
  }
}

.miniControl {
  display: none;
  border: none;
  outline: none;

  position: fixed;
  bottom: 80px;
  left: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #000;
  z-index: 1000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

  .icon {
    color: @color-doc-primary;
  }

  @media @tablet {
    display: initial;
  }
}

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  color: transparent;
}
