@import "../../css/variables/main.less";

.gitBtnWrapper {
  color: #000;
  background: linear-gradient(0deg, #f8f8f8, #f8f8f8);
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  display: flex;
  height: 40px;
  margin-right: 20px;

  .link {
    align-items: center;
    border-radius: 4px;
    color: #000;
    display: flex;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    text-decoration: none;
    .hover;

    .iconWrapper {
      font-size: 20px;
      margin-right: 8px;
    }
  }

  .num {
    font-family: "Roboto Mono";
    font-weight: bold;
    justify-content: center;

    .stat {
      min-width: 40px;
      text-align: center;
    }
  }
}
