@import '../../css//variables//fontStyle.less';

.footerWrapper {
  background: #fff;
  color: #60606f;
  padding: 22px;
  .fontSwitchInter();

  .copyRight {
    text-align: center;

    span {
      font-size: 14px;
    }
  }

  .link {
    color: #60606f;
  }
}
