.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
  color: #60606F;
  padding: 22px;

  .copy-right {
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
    }
  }

  .link {
    color: #60606F;

  }
}