@import "../include_media.scss";

.search-wrapper {
  position: relative;
  padding: 5px 10px;
  margin: 0 1rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 0;

  @include media("<=1000px") {
    display: inline-block;
  }

  input {
    color: #fafafa;
    outline: none;
    border: none;
    font-size: 14px;
    background: transparent;
    transition: 0.4s all;
    width: 168px;

    &:focus {
      width: 200px;
      cursor: text;
      color: white;
    }

    @include media("<=1000px") {
      width: 128px;

      &:focus {
        width: 148px;
      }
    }

  }

  .result-list {
    @include scroll-bar;

    max-height: 80vh;
    overflow: auto;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: 0;
    top: calc(100% + 0.6em);
    width: 80vw;
    max-width: 30em;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0.7em 1em 0.4em;
    background: #28292e;
    border-radius: 4px;
    color: #d1d1d1;
    font-size: 16px;
    list-style: none;

    @include media("<=1000px") {
      width: 50vw;
      font-size: 12px;
      max-height: 30vh;

      li+li {
        padding: 4px;
      }
    }

    a {
      color: #d1d1d1;

      em {
        font-weight: bold;
        color: #4fc4f9;
      }
    }

    li+li {
      margin-top: 0.7em;
      padding-top: 0.7em;
      border-top: 1px solid #d1d1d1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}