.pop-up-wrapper{
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: top .1s linear; 
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0;
  visibility: hidden;
  z-index: -1;
}
.activited{
  top: 60px;
  height: auto;
  padding: 20px 0;
  visibility: visible;
  z-index: 100;
}