@import '../../css/variables/responsive.less';
@import '../../css/variables/color.less';
@import '../../css/variables/docsStyle.less';

@screen-blog-detail: 900px;

.tagWrapper {
  border: 1px solid @color-highlight;
  color: @color-highlight;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  border-radius: 15px;
  display: inline-block;
  padding: 8px 12px;
  text-transform: uppercase;
  cursor: pointer;

  &.active {
    background: @color-highlight;
    color: #fff;
  }
}

.blogDetailWrapper {
  max-width: @screen-lg-max;
  padding: 40px 26px;

  @media @phone {
    max-width: 100%;
    box-sizing: border-box;
    padding: 40px 16px;
  }

  .articleHeader {
    text-align: center;
    padding: 32px 0;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: @color-primary;

    @media @phone {
      padding: 16px 0;
    }

    .title {
      font-size: 32px;
      line-height: 42px;
      font-weight: 500;
      margin-bottom: 16px;

      @media @phone {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .flexBox {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;

      p {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;

        @media @phone {
          font-size: 12px;
          line-height: 16px;
        }

        & + p {
          margin-left: 24px;
        }
      }
    }

    .tagsLine {
      list-style: none;
      display: flex;
      justify-content: center;

      li {
        margin: 0 5px;

        .tags {
          color: #fff;
          border-color: #fff;
        }
      }
    }
  }

  .breadcrumd {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    max-width: @screen-blog-detail;
    margin: 0 auto;

    .breadcrumdLink {
      color: @color-highlight;
      text-decoration: underline;
    }

    .breadcrumdItem {
      color: @color-default-link;
    }

    .breadcrumdArrow {
      margin: 0 5px;
      font-weight: 400;
    }
  }

  .articleContent {
    max-width: @screen-blog-detail;
    margin: 0 auto;
    margin-top: 20px;
  }

  .navWrapper {
    max-width: @screen-blog-detail;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .linkButtonWrapper {
      max-width: 200px;

      padding: 8px;
      border-radius: 8px;

      i {
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        color: @color-highlight;
      }

      .titleWrapper {
        font-size: 16px;
        line-height: 24px;
        color: #000;
        padding-left: 4px;
        display: flex;
        align-items: center;
      }

      .previousLink {
        margin-left: 4px;
        max-width: 150px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        word-break: keep-all;
        text-overflow: ellipsis;
        color: @color-highlight;
      }

      .nextLink {
        margin-right: 4px;
        max-width: 150px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        word-break: keep-all;
        text-overflow: ellipsis;
        color: @color-highlight;
      }
    }
  }
}

.navWrapper {
  max-width: @screen-blog-detail;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .navItem {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    color: @color-highlight;

    &:nth-child(2) {
      text-align: right;
    }
  }

  @media @tablet {
    flex-direction: column;

    .navItem {
      margin-bottom: 20px;

      &:nth-child(2) {
        text-align: left;
      }
    }
  }

  .text {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    padding-left: 4px;
  }

  .blogLink {
    color: @color-highlight;
    padding-left: 4px;
  }
}
