
.advCardContainer {
  padding: 30px 20px;
  border-radius: 12px;
  border: 1px solid var(--color-black3);
  background: #fff;
  margin-top: 32px;

  .advTitle {
    @mixin paragraph4-bold;
    margin-bottom: 12px;
  }

  .advAbstract {
    @mixin paragraph6-regular;
    color: var(--color-black1-5);
    margin-bottom: 24px;
  }

  .ctaButton {
    @mixin paragraph4;
    justify-content: center;
    svg path {
      stroke: #fff;
    }
  }

  .logo {
    width: 100px;
    height: 41px;
    background-size: contain;
    margin-bottom: 12px;
  }
}
