@import (reference) '@/styles/global.module.less';

.advCardContainer {
  padding: 30px 20px;
  border-radius: 12px;
  border: 1px solid @color-black3;
  background: #fff;
  margin-top: 32px;

  .advTitle {
    .paragraph4-bold();
    margin-bottom: 12px;
  }

  .advAbstract {
    .paragraph6-regular();
    color: @color-black1-5;
    margin-bottom: 24px;
  }

  .ctaButton {
    .paragraph4();
    justify-content: center;
    svg path {
      stroke: #fff;
    }
  }
}
