.modalWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;

  &.hidden {
    display: none;
  }

  &.show {
    display: block;
  }
}
