.rangeContainer {
  width: 100%;
}

.label {
  @mixin paragraph4-bold;
}

.rangeWrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.customRangeRoot {
  flex: 1;
  margin-bottom: 8px;

  .customMarkLabel {
    @mixin paragraph6;
    top: 30px;
    color: var(--color-black2);
  }

  .customMark {
    background-color: #00b3ff;
  }

  .customRail {
    height: 4px;
    background-color: #e0f2fc;
  }

  .customTrack {
    background-color: #00b3ff;
    border: none;
  }

  .customThumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #00b3ff;
    border: 2px solid #fff;
  }
}
.inputWrapper {
  flex: 0 0 110px;
  box-sizing: border-box;
}
