@import (reference) "../../css/responsive.less";

.left-nav {
  .mv3-tree-view {
    .Mui-focused {
      background-color: inherit;
    }
    .Mui-selected {
      background: inherit;
    }
    .MuiTreeItem-content {
      &:hover {
        background-color: #f5f8fb;
      }
      .MuiTreeItem-label {
        font-size: 14px;
        a {
          font-size: 14px;
        }
        @media @desktop1440, @desktop1920 {
          font-size: 16px;

          a {
            font-size: 16px;
          }
        }
      }

      .MuiTreeItem-iconContainer {
        svg {
          opacity: 0.3;
        }
      }
    }
  }
}

.doc-temp-container {
  .doc-menu-icon {
    background-color: var(--color-grey-04);
    position: fixed;
    right: 20px;
    bottom: 16px;

    // header layout is 100
    z-index: 80;
  }
}

.selector-container {
  &.tree {
    @media @phone, @tablet {
      width: 250px;
    }
  }

  .selector {
    .MuiSelect-select {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
