@import "../../css/variables/responsive.less";
@import "../../css/variables/color.less";

.left-nav {
  .mv3-tree-view {
    .MuiTreeItem-content {
      .MuiTreeItem-label {
        font-size: 14px;
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.doc-temp-container {
  .doc-menu-icon {
    background-color: @color-grey-04;
    position: fixed;
    left: 16px;
    bottom: 16px;

    // header layout is 100
    z-index: 80;
  }
}
