.linkCard {
  text-decoration: none;
  border: 1px solid #e9e9ed;
  border-radius: 4px;

  .label {
    font-family: 'Inter Bold';
    font-size: 20px;
    line-height: 28px;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
