@import '../../../utils/cssVariables.scss';

.card {
  &-wrapper {
    display: flex;
    align-items: center;

    border: 1px solid $cardBorderColor;
    border-radius: 4px;
    padding: 32px 24px;
  }

  &-img {
    height: 48px;
  }

  &-title {
    font-family: Inter Regular;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: $dark;

    flex-basis: 37.5%;
    margin: 0 24px;
  }

  &-btn {
    // flex-grow: 1;
    padding: 8px 16px;
    background-color: $primary;
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background-color: $btnHoverColor;

      span {
        color: $primary;
      }
    }

    &:focus {
      background-color: $btnPressColor;

      span {
        color: #fff;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
    }

    &-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 8px;

      text-align: center;
      line-height: 24px;
    }
  }
}
