@import '../../../utils/cssVariables.scss';
@import '../../include_media';
.card {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $cardBorderColor;
    border-radius: 4px;
    padding: 32px 24px;
    .text-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include media('<=1550px') {
      display: block;
      .btn-wrapper {
        margin-top: 16px;
        text-align: right;
      }
    }
    @include media('<=1000px') {
      display: flex;
      margin-bottom: 16px;
      padding: 16px;
      .text-wrapper {
        flex: 1;
        justify-content: space-between;
        .card-title {
          text-align: center;
        }
      }
      .btn-wrapper {
        margin-top: 0;
      }
    }
  }

  &-img {
    width: 48px;
  }

  &-title {
    font-family: Inter Regular;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: $dark;

    flex: 1;
    margin: 0 24px;
    @include media('<=1000px') {
      font-size: 16px;
    }
  }

  &-btn {
    // flex-grow: 1;
    display: inline-block;
    width: 170px;

    padding: 8px 16px;
    background-color: $primary;
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background-color: $btnHoverColor;

      span {
        color: $primary;
      }
    }

    &:focus {
      background-color: $btnPressColor;

      span {
        color: #fff;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
    }

    &-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 8px;

      text-align: center;
      line-height: 24px;
    }
    @include media('<=1000px') {
      width: auto;
    }
  }
}
