@import '../components/include_media.scss'; // hero image

.home-wrapper {

  // typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Noto Sans SC, sans-serif;
    margin-bottom: 2rem;
    font-weight: 400;
    color: #Fff;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.75rem;
    margin: 0 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .content p,
  p.content {
    font-size: 15px;
    color: #000;
    opacity: 0.75;
    line-height: 25px
  }

  .anchor {
    position: relative;
    top: -80px;

    @include media("<=1000px") {
      top: -100px;
    }
  }

  // button styles
  .btn-wrapper {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include media("<=1000px") {
      .primary {
        font-size: 12px;
        padding: 10px 8px;
      }
    }
  }

  .primary {
    font-size: 0.8rem;
    padding: 1rem 1.5rem;
    margin: 2rem 1rem 2rem 0;
  }

  @include media("<=1000px") {

    h1,
    h2,
    h3 {
      font-size: 24px;
      line-height: 30px;
      margin: 30px 0 15px;
    }


  }

  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    background: url("../images/website/hero-color.svg") no-repeat;
    background-position: bottom;
    background-size: cover;
    margin-top: 102px;

    .githubicon {
      margin-bottom: 3rem;
    }

    h3 {
      margin-top: 8px;
      font-size: 16px;
      width: 90%;
      max-width: 800px;
      line-height: 24px;
      text-align: center;

    }

    @include media("<=1000px") {
      background-size: cover;

      h1 {
        width: 90%;
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }

  .section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 20rem;
      margin: auto;
    }

    .content {
      max-width: 600px;
      margin: 0 auto;

      text-align: center;
    }

    @include media("<=1000px") {

      .content {
        margin: 0;
        min-width: 300px;
      }
    }
  }

  .section3 {
    margin-top: 6rem;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    .feature-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
    }

    .feature-item {
      // display: flex;
      // align-items: flex-start;
      flex: 0 0 30%;
      min-width: 200px;
      max-width: 320px;
      margin-right: 80px;
      margin-top: 30px;

      .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;

        img {
          width: 28px;
          margin-right: 1rem;
        }

        .title {
          flex: 1;
          font-weight: bold;
          font-size: 16px;
          line-height: 1.6;
        }
      }

      a {
        color: #4eb8f0;
      }

      // .title {
      //   font-size: 1rem;
      //   font-weight: 400;
      //   margin: 2rem 0 0.5rem;
      // }
    }

    @include media("<=1000px") {
      .feature-wrapper {
        flex-direction: column;
      }

      .feature-item {
        width: 100%;
        margin: 0 auto 20px auto;
      }
    }
  }

  .section4 {
    text-align: center;

    .with-icon {
      display: flex;
      align-items: center;

      img {
        margin-right: 0.5rem;
      }
    }



    h2 {
      text-align: center;
      color: #000;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.6rem;
      color: #101010;
      font-weight: 300;
    }

    .btn-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      @include media("<=1000px") {
        display: block;

        .primary {
          margin: 8px 0;
        }
      }
    }
  }

  .section5 {
    text-align: center;

    img {
      width: 186px;
      margin-bottom: 1.2rem;
    }

    h2,
    .desc {
      text-align: center;
    }

    .desc {
      margin-top: 20px;
      line-height: 25px;
    }


  }

  .section6 {

    h2 {
      font-size: 32px;
      margin-bottom: 2rem;
      color: #000000;
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      justify-content: space-between;

      li {
        display: flex;
        margin: 1rem;
        height: 93px;
        width: 153px;

        img {
          width: 130px;
          object-fit: scale-down;
        }
      }
    }

    @include media("<=1000px") {
      h2 {
        font-size: 24px;
        margin-bottom: 2rem;
      }

      ul {
        justify-content: center;

        li {
          margin: 0.5rem;
          margin-left: 0;
          justify-content: center;

          &:nth-child(4n + 4) {
            margin-right: 0;
          }

          img {
            width: 100px;
          }

        }
      }

    }
  }

  .section7 {
    text-align: center;

    h2 {
      color: #000;
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    p {
      margin-top: 2rem;
      width: 90%;
      margin: 0 auto;
      line-height: 1.5;
    }

    ul {
      display: flex;
      justify-content: space-around;
      max-width: 1200px;
      margin: 3rem auto 6rem auto;
      flex-wrap: wrap;

      li {
        margin: 1rem;

        p {
          margin: 1rem 0 0 0;
          text-transform: capitalize
        }
      }
    }

    @include media("<=1000px") {
      margin: 4rem 0;
    }



    .wechat {
      position: relative;

      .wechatqr {
        position: absolute;
        display: none;
        top: -100%;
        left: 100%;
      }

      a {
        display: inline-block;


      }

      &:hover {
        .wechatqr {
          display: flex;

          justify-content: space-between;
        }

      }
    }

  }

  .sdk-tools {

    h2 {
      color: #000;
      text-align: center;
      margin-bottom: 3rem;
    }

    img {
      width: 80px;
    }

    ul {
      display: flex;
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        text-align: center;

        p {
          margin-top: 1rem;
        }

      }
    }

    @include media("<=1000px") {
      img {
        width: 40px;
      }

      ul {
        li {
          flex: 0 0 50%;
          margin-bottom: 3rem;

          p {
            margin-top: 8px;
          }
        }
      }

    }
  }

  .section2,
  .section4,
  .section5,
  .section6,
  .section7,
  .sdk-tools {
    margin-top: 10rem;
  }
}