@import '../components/include_media.scss'; // hero image

.scenarios-wrapper {

  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 100%;
    background: url("../images/hero/scenatios.svg") no-repeat;
    background-position-x: center;
    background-size: cover;

    h2,
    p {
      font-size: 28px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 30px;
    }

    p {
      font-size: 18px;
      line-height: 20px;
      margin-top: 10px;
    }
  }

  .section2 {
    margin: 120px 0;

    p {
      max-width: 800px;
      margin: 0 auto;
      color: #000;
      margin-top: 3rem;
      line-height: 24px;
    }
  }

  .section3 {
    margin-top: 6rem;

    h2 {
      text-align: center;
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    .content-wrapper {
      width: 90%;
      max-width: 1400px;
      margin: 0 auto;

      .item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 47%;
        margin: 3rem 0;
        margin-right: 5%;
        text-align: left;

        .rectangle {
          position: absolute;
          top: 245px;
          right: 0;
          display: block;
          height: 32px;
          width: 111px;
          line-height: 32px;
          text-align: center;
          border-radius: 100px 0 0 100px;
          background-color: #4FC4F9;
          font-size: 14px;
          z-index: 20;

          &:after {
            display: block;
            content: '';
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent transparent #fff;

            /* 定位 */
            position: absolute;
            right: 0px;
            top: 32%;
          }
        }

        &:nth-child(even) {
          margin-right: 0;
        }

        h3 {
          font-size: 20px;
          margin: 1rem 0;
          font-weight: bold;
        }

        .desc {
          color: #101010;
          font-size: 16px;
          line-height: 20px;
          font-weight: 300;
        }

        .feature {
          margin-top: 1rem;

          &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            background: #4FC4F9;
            transform: rotate(45deg);
            margin-right: 1.4rem;
          }
        }

        img {
          width: 100%;
        }
      }
    }

  }

  @include media("<=1000px") {
    .section1 {
      h2 {
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
    }


    .section2 {
      width: 90%;
      margin: 0 auto;

      p {
        font-size: 14px;
      }
    }

    .section3 {
      h2 {
        font-size: 24px;
        margin-bottom: 0;
      }

      .content-wrapper {
        .item {
          width: 100%;
        }
      }

    }
  }
}