@import '../components/include_media.scss'; // hero image

.gui-wrapper {

  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 100%;
    background: url("../images/hero/admin.svg") no-repeat;
    background-position-x: center;
    background-size: cover;

    h2,
    p {
      font-size: 28px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 30px;
    }

    p {
      font-size: 18px;
      line-height: 20px;
      margin-top: 10px;
    }
  }

  .section2 {
    margin: 120px 0;

    p {
      max-width: 800px;
      margin: 0 auto;
      color: #000;
      margin-top: 3rem;
      line-height: 24px;
    }
  }

  .section3 {
    margin-top: 3rem;
    text-align: center;
    line-height: 22px;
    margin-bottom: 6rem;

    h2 {
      font-size: 32px;
      line-height: 40px;
    }

    .docker-code {
      display: flex;
      align-items: flex-start;
      text-align: left;
      flex-direction: column;
      padding: 2rem 2.6rem;
      margin: 1rem auto;
      box-sizing: border-box;
      width: 90%;
      max-width: 587px;
      border: 1px solid #979797;
      border-radius: 5px;

      p {
        font-size: 20px;
        line-height: 30px;
      }

      @include media("<=1000px") {
        padding: 10px;

        p {
          font-size: 14px;
        }
      }

    }

    .primary-color {
      margin-top: 30px;
      border-radius: 0;
      background-color: #4FC4F9;
      color: #Fff;
      font-weight: 400;
      padding: 10px 40px;
      padding-right: 26px;
    }

  }

  .section4 {
    margin-top: 7rem;

    .item {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      align-items: center;
      margin-bottom: 3rem;

      img {
        width: 60%;
      }

      .desc-wrapper {
        position: relative;
        top: -6rem;
        flex: 1;
        margin-left: 2rem;

        &.right-margin {
          margin-right: 2rem;

          @include media(">1400px") {
            margin-left: 0;

          }
        }

        h2 {
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 2rem;
        }

        p {
          font-size: 1.3rem;
          margin-bottom: 1rem;
          vertical-align: center;
          line-height: 1.5;

          &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            background: #4FC4F9;
            transform: rotate(45deg);
            margin-right: 1.4rem;
          }
        }
      }

      @include media("<=1000px") {
        display: block;

        img {
          width: 100%;
        }

        .desc-wrapper {
          position: static;
          padding: 1rem;
          margin: 0;

          h2 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  @include media("<=1000px") {



    .section4 {
      margin-top: 0rem;
    }

    .section1 {
      h2 {
        font-size: 24px;
      }

      p {
        text-align: center;
      }
    }

    .section2 {
      p {
        font-size: 16px;
      }
    }

    .section4 {
      .img-wrapper {
        img {
          width: 300px;
        }
      }
    }
  }
}