@import '../components/include_media.scss'; // hero image

.tool-wrapper {
  display: flex;

  @include media("<=1000px") {
    flex-direction: column;
  }

  .left-container {
    flex: 0 0 300px;
    height: 100vh;
    background: #333;

    @include media("<=1000px") {
      height: auto;
      flex: 1;
    }

    .logo {
      margin-top: 1rem;
      text-align: center;
      color: #fff;

      img {
        width: 140px;
      }

      p {
        margin-bottom: 3rem;

      }
    }

    .form-item {
      padding: 0 40px;
      margin: 20px auto;

      .selector-wrapper {
        border: 1px solid #fff;

        .selected {
          color: #fff;
        }

        li {
          color: #fff;

          &.active {
            // not working: highlight current version
            color: #4fc4f9;
          }
        }
      }

      p {
        font-size: 15px;
        font-family: Roboto-Medium, Roboto;
        font-weight: 500;
        color: rgba(250, 250, 250, 1);
        line-height: 20px;
        margin-bottom: 12px;
      }

      &.btn-wrapper {
        text-align: center;
      }

      .button {
        margin-top: 10px;
        padding: 6px 12px;
        border-radius: 4px;
        background-color: #4FC4F9;
        color: #fff
      }
    }

    .radio-item {
      display: block;
      margin-top: 10px;
      color: #fff;

      input {
        margin-right: 10px;
      }

      &.active {
        font-size: 15px;
        font-family: Roboto-Medium, Roboto;
        font-weight: 500;
        color: rgba(250, 250, 250, 1);
        line-height: 20px;
      }
    }
  }

  .right-container {
    flex: 1;
    background: rgba(40, 41, 46, 1);
    padding: 70px 45px;
    font-size: 15px;
    font-family: Roboto-Regular, Roboto;
    color: rgba(250, 250, 250, 1);
    line-height: 20px;

    .title {
      font-size: 25px;
      font-weight: bold;
      line-height: 25px;
    }

    ul,
    li {
      list-style: none;

      span {
        font-weight: 400;

      }
    }

    ul {
      margin-top: 20px;

      li {
        display: flex;
        align-items: center;
        margin-top: 12px;
      }
    }

    .label,
    .value {
      display: inline-block;
      width: 100px;
    }

    .value {
      display: inline-block;
      margin-left: 40px;
      color: #4FC4F9;
    }
  }

  .error {
    height: 20px;
    font-size: 14px;
    color: #ff4d4f;
    text-align: center;
  }

  table {
    border-collapse: separate;
    border-spacing: 16px;

    th {
      font-weight: 400;
    }

    td {
      text-align: center;
      margin: 6px 0;

      &:first-child {
        font-weight: 400;
      }
    }
  }

}