.searchWrapperMobile {
  position: relative;
  border-radius: 4px;
  font-size: 0;
  color: #000;

  .fontIcon {
    color: #06aff2;
    font-size: 18px;
    &::before {
      padding: 5px 10px;
    }
  }
}
