@import "../../include_media.scss";

.search-wrapper-mobile {
  position: relative;
  border-radius: 4px;
  font-size: 0;
  color: #000;

  .font-icon{
    color: #06AFF2;
    font-size: 18px;
    &::before{
      padding: 5px 10px;
    }
  }
}