.popUpWrapper {
  width: 100%;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  visibility: hidden;
  z-index: -10;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
}

.activited {
  transform: scaleY(1);
  visibility: visible;
  z-index: 10;
  opacity: 1;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -5;
}

.hidden {
  display: none;
}
