@import url('@/styles/global.module.less');

.linkButton {
  .resetNativeButton();
  .paragraph3();
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 14px 32px;
  border-radius: 10px;
}

.iconWrapper {
  line-height: 0;
  font-size: 0;
}

.contained {
  background-color: @color-black1;
  color: #fff;

  &:hover {
    color: rgba(255, 255, 255, 0.7);

    .iconWrapper {
      opacity: 0.7;
    }
  }
}

.outlined {
  border: 1px solid @color-black3;
  color: @color-black1;

  &:hover {
    border-color: @color-black1;
  }
}

.text {
  padding: 0;
  color: @color-black1;

  &:hover {
    opacity: 0.7;
  }
}

.disabledButton {
}
