@import (reference) '../../styles/global.module.less';

.bannerContainer {
  padding: 10px 25px;
  background-color: #000;
  overflow: hidden;
  max-height: 62px;
  overflow: hidden;

  .bannerText {
    height: 100%;
    .paragraph4-regular();
    text-align: center;
    color: #fff;

    a {
      color: @color-blue1;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
