@import (reference) '../../styles/global.module.less';

.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: @header-banner-height;
  padding: 10px 25px;
  background-color: #000;
  overflow: hidden;

  .bannerText {
    flex-grow: 0;
    flex-shrink: 1;
    color: #fff;
    text-align: left;
    .paragraph3();

    &:hover {
      text-decoration: underline;
    }

    @media @phone {
      .paragraph6-regular();

      font-size: 11px;
    }
  }

  .bannerButton {
    .paragraph4-bold();
    flex-shrink: 0;
    flex-grow: 0;
    color: #fff;
    padding: 4px 12px;
    border-radius: 6px;
    background: linear-gradient(
      91deg,
      #d083ff 0.09%,
      var(--Blue-100, #00b3ff) 100.63%
    );
    text-align: center;

    &:hover {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0.3) 100%
        ),
        linear-gradient(91deg, #d083ff 0.09%, var(--Blue-100, #00b3ff) 100.63%);
    }

    @media @phone {
      .paragraph6-regular();
      font-size: 11px;
    }
  }
}
