# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - milvus-io

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
      - uses: actions/checkout@v2

      - name: update submodules
        run: |
          git submodule init
          git submodule update --remote

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to registry
        uses: docker/login-action@v1
        with:
          registry: https://mcr.microsoft.com/
          username: ${{ secrets.AzureAppService_ContainerUsername_995b5980f1ba470b8e1e2d93fa0d004e }}
          password: ${{ secrets.AzureAppService_ContainerPassword_2e913bdb83be45d197517b1ba8f10640 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.AzureAppService_ContainerUsername_995b5980f1ba470b8e1e2d93fa0d004e }}/appsvc/staticsite:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'milvus-io'
          slot-name: 'production'
          publish-profile: ${{ secrets.AzureAppService_PublishProfile_b3d290102638447fbf17d79cc0b48edf }}
          images: 'mcr.microsoft.com/${{ secrets.AzureAppService_ContainerUsername_995b5980f1ba470b8e1e2d93fa0d004e }}/appsvc/staticsite:${{ github.sha }}'
