name: Build and deploy to preview

on:
  repository_dispatch:
    types: dev-deploy
    branches:
      - preview
  push:
    branches:
      - preview
  workflow_dispatch:

env:
  NODE_OPTIONS: '--max_old_space_size=8192'

jobs:
  build:
    runs-on: 'ubuntu-latest'
    outputs:
      docker-image-tag: ${{ steps.generate-tag-name.outputs.docker_tag }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'preview'

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: update submodules
        run: |
          git submodule init
          git submodule update --remote

      - uses: azure/docker-login@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME}}
          password: ${{ secrets.DOCKER_PWD}}

      - name: Generate docker image tag name
        id: generate-tag-name
        run: |
          export tag=${{ github.sha }}-$GITHUB_RUN_NUMBER
          echo $tag
          echo "docker_tag=$tag" >> $GITHUB_OUTPUT

      - name: Building Milvus site and push to docker hub
        id: build-image
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 60
          max_attempts: 2
          retry_on: error
          command: |
            docker build "$GITHUB_WORKSPACE/" -f "Preview.Dockerfile" \
            --build-arg MSERVICE_URL=${{ secrets.MSERVICE_URL }} \
            --build-arg CMS_BASE_URL=${{ secrets.CMS_BASE_URL }} \
            --build-arg REPO_STATICS_KEY=${{ secrets.REPO_STATICS_KEY }} \
            --build-arg INKEEP_API_KEY=${{ secrets.INKEEP_API_KEY }} \
            --build-arg INKEEP_INTEGRATION_ID=${{ secrets.INKEEP_INTEGRATION_ID }} \
            --build-arg INKEEP_ORGANIZATION_ID=${{ secrets.INKEEP_ORGANIZATION_ID }} \
            --build-arg IS_PREVIEW=preview \
            -t milvusdb/milvus-io-dev:${{ steps.generate-tag-name.outputs.docker_tag }}
            docker push milvusdb/milvus-io-dev:${{ steps.generate-tag-name.outputs.docker_tag }}
      #         env:
      #           GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES: true
      #           CI: true

  deploy:
    runs-on: ued-self-hosted
    needs: build
    steps:
      - name: Deploy to cluster
        run: |
          echo ${{ secrets.kubeconfig }} > config64
          base64 -d config64 > kubeconfig
          kubectl set image deployment/milvus-io-dev milvus-io-dev=milvusdb/milvus-io-dev:${{ needs.build.outputs.docker-image-tag }} -n ued --kubeconfig=kubeconfig
