name: Verify Nginx Conf

on:
  pull_request:
    paths:
      - 'conf/conf.d/**'
      - '.github/workflows/verify_nginx.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Verify Nginx configuration
        if: always()
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/conf/conf.d/client.conf:/etc/nginx/conf.d/client.conf \
            zilliz/zilliz-web-runner \
            sh -c 'if nginx -t -c /etc/nginx/nginx.conf; then echo "Nginx configuration is valid."; else echo "Nginx configuration is invalid."; exit 1; fi'
